
{% extends "layout.html" %}

{% block pageTitle %}
Financial support if you're caring for a family | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Get financial support for the person you’re caring for</h1>
          </div>
          </div>
          <p class="govuk-body-l">You might be able to apply for the following financial support
            on behalf of the person you're caring for.</p>

          <h3 class="govuk-heading-m">Attendance Allowance</h3>
        <p>Attendance Allowance helps with extra costs if you have a disability severe enough that you need someone to help look after you.</p>
        <p>You could also get extra Pension Credit, Housing Benefit or Council Tax Reduction if you qualify for Attendance Allowance.</p>

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                        Eligibility
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <p>To qualify you need to be both:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>physically or mentally disabled</li>
                    <li><a href="https://www.gov.uk/state-pension-age">State Pension age</a> or older</li>
                  </ul>

                    <p>You do not have to have someone caring for you to claim. If you do have a carer, they could get <a href="https://www.gov.uk/carers-allowance">Carer’s Allowance</a> if you have substantial caring needs.</p>
                    <p>You cannot get Attendance Allowance if you already get <a href="https://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA)</a> or <a href="https://www.gov.uk/pip">Personal Independence Payment (PIP)</a>.</p>
                </div>
              </div>

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                        Next steps
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                  <p><a href="https://www.gov.uk/pip">Get more information about Attendance Allowance</a>.</p>
                  <h4 class="govuk-heading-s">How to apply</h4>
                  <p>Use the <a href="https://www.gov.uk/government/publications/attendance-allowance-claim-form">Attendance Allowance claim form</a> to apply by post. The form comes with notes telling you how to fill it in.</p>
                  <p>Send the completed form to ‘Freepost DWP Attendance Allowance’.</p>
                  <p>Find out <a href="https://www.gov.uk/attendance-allowance/how-to-claim">how to get the form in alternative formats</a>, like braille, large print or audio CD.</p>
                </div>
              </div>
          </div>


              <h2 class="govuk-heading-xl govuk-!-margin-top-7">Other support</h2>
              <p>The person you're caring for might be able to get other <a href="support-health-disability">financial support because of their health condition or disability</a>. You can also <a href="benefits">browse all benefits</a>.</p>



            </div>



          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
