
{% extends "layout.html" %}

{% block pageTitle %}
Additional support - because you're caring for a family | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Additional support - because you're caring for a family</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

          
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://www.gov.uk/maternity-allowance">Maternity Allowance</a></li>
              <li><a href="https://www.gov.uk/apply-free-school-meals">Apply for free school meals</a></li>
              <li><a href="https://www.gov.uk/care-to-learn">Care to learn</a></li>
              <li><a href="https://www.gov.uk/child-trust-funds">Child Trust Fund</a></li>
              <li><a href="https://www.gov.uk/healthy-start">Healthy start</a></li>
              <li><a href="https://www.gov.uk/parents-learning-allowance">Parents' Learning Allowance</a></li>
              <li><a href="https://www.gov.uk/childcare-grant">Childcare grant</a></li>
              <li><a href="https://www.gov.uk/topic/defence-armed-forces/support-services-military-defence-personnel-families">Support services for military and defence personnel and their families</a></li>
              <li><a href="https://www.gov.uk/sure-start-maternity-grant">Sure Start Maternity Grant</a></li>
          </ul>
        

            </div>
          
         

          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
