
{% extends "layout.html" %}

{% block pageTitle %}
Financial support to help with your income | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Get financial support if you have low or no income</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <p class="govuk-body-l">You might be able to get the following financial
                  support if you're struggling to cover living costs. You do not have
                  to be unemployed to get support – you could be earning a low income or retired.</p>

                  <h2 class="govuk-heading-s govuk-!-font-weight-regular">On this page</h2>
                  <ul class="govuk-list">
                      <li><a href="#grant">Getting regular payments</a></li>
                      <li><a href="#support">Getting help with bills and other living expenses</a></li>
                      <li><a href="#selfassessment">Additional support</a></li>
                      <li><a href="#selfassessment">Find the support you need</a></li>
                    </ul>

          <h2 class="govuk-heading-l">Getting regular payments</h2>
          <span class="govuk-caption-l govuk-!-margin-top-7">If you're unemployed or on a low income:</span>
          <h3 class="govuk-heading-m">Universal Credit</h3>
          <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                      <p>You may be able to get Universal Credit if:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>you’re on a low income or out of work</li>
                          <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                          <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> (or your partner is)</li>
                          <li>you and your partner have £16,000 or less in savings between you</li>
                          <li>you live in the UK</li>
                      </ul>
                  </div>
                </div>
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          If you already get tax credits
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p class='govuk-body'>If you're already getting Tax Credits, they will stop when you or your partner applies for Universal Credit.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Next steps
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                        <p><a href="https://www.gov.uk/universal-credit">Get more information about Universal Credit</a>.</p>
                       <h4 class="govuk-heading-s">How to apply</h4>
                       <p>You'll need:</p>
                       <ul class="govuk-list govuk-list--bullet">
                              <li>your bank, building society or credit union account details (call the Universal Credit helpline if you do not have one)</li>
                              <li>an email address</li>
                              <li>
                            <a href="https://www.gov.uk/housing-and-universal-credit">information about your housing</a>, for example how much rent you pay</li>
                              <li>details of your income, for example payslips</li>
                              <li>details of savings and any investments, like shares or a property that you rent out</li>
                              <li>details of how much you pay for childcare if you’re applying for help with childcare costs</li>
                            </ul>
                            <p>If you do not provide the right information when you apply it might affect when you get paid or how much you get.</p>
                            <p>You also have to verify your identity online. You’ll need some proof of identity for this, for example your:</p>
                            <ul class="govuk-list govuk-list--bullet">
                              <li>driving licence</li>
                              <li>passport</li>
                              <li>debit or credit card</li>
                            </ul>
                            <a class="govuk-button" href="https://www.gov.uk/universal-credit/how-to-claim">Apply now</a>
                    </div>
                  </div>

                  </div>



          <span class="govuk-caption-l govuk-!-margin-top-7">If you've worked in the last 2 to 3 years:</span>
          <h3 class="govuk-heading-m">New Style Jobseeker's Allowance</h3>

          <p>New Style Jobseeker's Allowance is a payment to support you while you’re looking for work. While receiving it, you’ll also be awarded Class 1 National Insurance credits, which can help towards your State Pension and other benefits you might need in the future.</p>
          <p>It's paid every 2 weeks, usually into your bank, building society or credit union account. You can receive it for up to 182 days (about 6 months). </p>



          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p>You might be able to get New Style Jobseeker's Allowance if you:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>are 18 or over (there are some exceptions if you’re 16 or 17 - contact Jobcentre Plus for advice)</li>
                          <li>are under the State Pension age</li>
                          <li>are not in full-time education</li>
                          <li>are available for work</li>
                          <li>are not working at the moment, or working less than 16 hours per week on average</li>
                          <li>do not have an illness or disability which stops you from working</li>
                          <li>live in England, Scotland or Wales</li>
                          <li>have the right to work in the UK</li>
                          <li>have worked as an an employee and paid Class 1 National Insurance contributions, usually in the last 2 to 3 years. National Insurance credits can also count.</li>
                      </ul>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Applying for Universal Credit at the same time
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p class='govuk-body'>You can apply New Style Jobseeker's Allowance as well as Universal Credit.</p>
                      <p>Any New Style Jobseeker's Allowance you receive will be taken into account as income for Universal Credit and you may not be better off. By claiming New Style Jobseeker's Allowance you’ll get Class 1 National credits, which can help towards your State Pension and other benefits you might need in the future.</p>
                    </div>
                  </div>
                  <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                              Next steps
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                          <p><a href="https://www.gov.uk/jobseekers-allowance">Get more information about New Style Jobseeker's Allowance</a>.</p>
                          <h4 class="govuk-heading-s">How to apply</h4>
                          <p>You’ll need:</p>
                          <ul class="govuk-list govuk-list--bullet">
                                  <li><a href="https://www.gov.uk/lost-national-insurance-number" class="govuk-link">your National Insurance number</a></li>
                                  <li>your bank or building society account details (or those of a family member or trusted friend)</li>
                                  <li>your employment details for the past 6 months, including employer contact details and dates you worked with them</li>
                                  <li>your
                                <a href="https://www.gov.uk/pension-types" class="govuk-link">private pension</a> statement letter</li>
                                  <li>to be 18 or over, if you want to apply online</li>
                          </ul>
                          <a class="govuk-button" href="https://www.gov.uk/jobseekers-allowance/apply-new-style-jsa">Apply now</a>
                          <h4 class="govuk-heading-s">If you cannot apply online</h4>
                          <p>If you need help applying or you’re aged 16 to 17, <a href="https://www.gov.uk/contact-jobcentre-plus/new-benefit-claims" class="govuk-link">contact Jobcentre Plus</a>.</p>

                      </div>
                    </div>
            </div>

          <span class="govuk-caption-l govuk-!-margin-top-7">If you've reached State Pension age:</span>
          <h3 class="govuk-heading-m">Pension Credit</h3>
          <p>Pension Credit tops up your weekly income if it’s below £173.75 (for single people) or £265.20 (for couples). You may still be eligible if you have savings, a pension or you own your home.</p>


          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p>You might be able to get Pension Credit if you:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>live in England, Scotand or Wales</li>
                          <li>have reached State Pension age</li>
                      </ul>
                      <p>If you’re in a couple you can start getting Pension Credit if either:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>you and your partner have both reached State Pension age</li>
                          <li>one of you is getting Housing Benefit for people over State Pension age</li>
                      </ul>
                      <p>If you qualify for Pension Credit it will mean you also qualify for other benefits, like <a href="https://www.gov.uk/housing-benefit">Housing Benefit</a>, <a href="https://www.gov.uk/apply-council-tax-reduction">Council Tax Reduction</a>, <a href="https://www.gov.uk/cold-weather-payment">Cold Weather Payment</a> and help with the costs of NHS services.</p>
                  </div>
                </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                        Your State Pension
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <p class='govuk-body'>If you have not already, you might be able to start claiming your State Pension.</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li><a href="https://www.gov.uk/state-pension-age">Check your state pension age</a></li>
                    <li><a href="https://www.gov.uk/get-state-pension">Get your state pension</a></li>
                  </ul>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Next steps
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p><a href="https://www.gov.uk/pension-credit">Get more information about Pension Credit</a>.</p>
                    <h4 class="govuk-heading-s">How to apply</h4>
                        <p>You can start your application up to 4 months before you reach <a href="/state-pension-age">State Pension age</a>.</p>
                  <p>You can claim any time after you reach State Pension age but your claim can only be backdated for 3 months. This means you can get up to 3 months of Pension Credit in your first payment if you were eligible during that time.</p>
                  <p>You will need:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>your National Insurance number</li>
                    <li>information about your income, savings and investments</li>
                    <li>to have already claimed your State Pension</li>
                    <li>to apply by phone or post if there are children included in your claim</li>
                  </ul>

                  <p>If you’re backdating your claim, you’ll need details of your income, savings and investments on the date you want your claim to start.</p>

                  <p><a class="govuk-button" role="button" href="https://apply-for-pension-credit.dwp.gov.uk">Apply now</a></p>

                  <h4 class="govuk-heading-s">Other ways to apply</h4>

                  <p>You can also apply for Pension Credit by phone or post. You'll need your bank account details.</p>

                  <div role="note" aria-label="Information" class="application-notice info-notice">
                  <p>It is taking longer than usual to apply by phone because of coronavirus (COVID-19).</p>
                  </div>

                  <p>A friend or family member can call for you if you cannot use the phone.</p>

                  <div class="contact">
                  <p><strong>Pension Credit claim line</strong><br>
                  Telephone: 0800 99 1234<br>
                  Textphone: 0800 169 0133<br>
                  <a href="https://www.relayuk.bt.com">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 99 1234  <br>
                  Monday to Friday, 9.30am to 6pm <br>
                  <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
                  </div>

                  <p>To apply by post, <a href="https://www.gov.uk/government/publications/pension-credit-claim-form--2">print out and fill in the Pension Credit claim form</a> or call the claim line to request a form.</p>

                  <p>Send the claim form to the Pension Service, or ask someone to do it for you.</p>

                  <p>Contact a voluntary organisation like <a rel="external" href="https://www.citizensadvice.org.uk">Citizens Advice</a> or <a rel="external" href="http://www.ageuk.org.uk/money-matters/claiming-benefits/pension-credit/what-is-pension-credit/">Age UK</a> if you need help with the form.</p>


                  </div>
                </div>
            </div>

            <h2 class="govuk-heading-l">Getting help with bills and other living expenses</h2>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                      <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                Budgeting Advance
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <p>You might be able to get a Budgeting Advance to help with:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>emergency household costs such as replacing a broken cooker</li>
                                <li>getting a job or staying in work</li>
                                <li>funeral costs</li>
                              </ul>
                              <p>To get a Budgeting Advance you must have been getting Universal Credit, Employment and Support Allowance, Income Support, Jobseeker’s Allowance or State Pension Credit for 6 months or more, unless you need the money to help you start a new job or stay in work.</p>
                            <p><a href="https://www.gov.uk/universal-credit/other-financial-support#budgeting-advance">Find out more and how to apply for a Budgeting Advance</a></p>
                        </div>
                      </div>

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                    Budgeting Loans
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                <p>A Budgeting Loan can help with certain one-off expenses. You may be eligible for a Budgeting Loan if you’ve been on the following benefits for the past 6 months:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>Income Support</li>
                                    <li>income-based Jobseeker’s Allowance</li>
                                    <li>income-related Employment and Support Allowance</li>
                                    <li>Pension Credit</li>
                                </ul>
                                <p><a href="https://www.gov.uk/budgeting-help-benefits/">Find out more and how to apply for Budgeting Loans</a></p>
                            </div>
                          </div>

                          <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                        Bus Pass (Older Persons)
                                    </span>
                                  </h2>
                                </div>
                                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                    <p>If you are an older person, you may be able to get a bus pass for free travel. </p>
                                     <p>Find out more and how to apply for <a href="https://www.gov.uk/apply-for-elderly-person-bus-pass" >free bus travel.</a></p>
                                </div>
                              </div>

                              <div class="govuk-accordion__section">
                                  <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                            Cold Weather Payment
                                        </span>
                                      </h2>
                                    </div>
                                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                        <ul class="govuk-list govuk-list--bullet">
                                            <li>Pension Credit</li>
                                            <li>Income Support</li>
                                            <li>income-based Jobseeker’s Allowance</li>
                                            <li>income-related Employment and Support Allowance</li>
                                            <li>Universal Credit</li>
                                            <li>Support for Mortgage Interest</li>
                                          </ul>
                                          <p><a href="https://www.gov.uk/cold-weather-payment/" >Find out more about Cold Weather Payments</a></p>
                                    </div>
                                  </div>

                                  <div class="govuk-accordion__section">
                                      <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                                Council Tax Reduction
                                            </span>
                                          </h2>
                                        </div>
                                        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                            <p>You could be eligible if you’re on a low income or claim benefits. Your bill could be reduced by up to 100%. You can apply if you own your home, rent, are unemployed or working.</p>
                                            <p><a href="https://www.gov.uk/council-tax-reduction/" >Find out more and how to apply for free bus travel</a></p>
                                        </div>
                                      </div>

                                      <div class="govuk-accordion__section">
                                          <div class="govuk-accordion__section-header">
                                            <h2 class="govuk-accordion__section-heading">
                                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                                    Housing Benefit
                                                </span>
                                              </h2>
                                            </div>
                                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                                <p>Housing Benefit can help you pay your rent if you’re unemployed, on a low income or claiming benefits. You can make a new claim for Housing Benefit if any of the following apply:</p>
                                                <ul class="govuk-list govuk-list--bullet">
                                                    <li>you’re getting the <a href="https://www.gov.uk/disability-premiums-income-support">severe disability premium</a>, or are entitled to it</li>
                                                    <li>you got or were entitled to the severe disability premium within the last month and are still eligible for it</li>
                                                    <li>you have reached <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                                                    <li>you’re in supported, sheltered or temporary housing</li>
                                                </ul>
                                                <p><a href="https://www.gov.uk/housing-benefit" >Find out more and how to apply for Housing Benefit</a></p>
                                            </div>
                                          </div>

                                          <div class="govuk-accordion__section">
                                              <div class="govuk-accordion__section-header">
                                                <h2 class="govuk-accordion__section-heading">
                                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                                        Support for Mortgage Interest loan
                                                    </span>
                                                  </h2>
                                                </div>
                                                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                                    <p>If you’re a homeowner, you might be able to get help towards interest payments on:</p>
                                                    <ul class="govuk-list govuk-list--bullet">
                                                        <li>your mortgage</li>
                                                        <li>loans you’ve taken out for certain repairs and improvements to your home</li>
                                                    </ul>
                                                    <p>To qualify you usually need to be getting one of the following:</p>
                                                    <ul class="govuk-list govuk-list--bullet">
                                                        <li><a href="/income-support">Income Support</a></li>
                                                        <li>income-based <a href="/jobseekers-allowance">Jobseeker’s Allowance (<abbr title="Jobseeker’s Allowance">JSA</abbr>)</a>
                                                      </li>
                                                        <li>income-related <a href="/employment-support-allowance">Employment and Support Allowance (<abbr title="Employment and Support Allowance">ESA</abbr>)</a>
                                                      </li>
                                                        <li><a href="/universal-credit">Universal Credit</a></li>
                                                        <li><a href="/pension-credit">Pension Credit</a></li>
                                                      </ul>
                                                    <p><a href="https://www.gov.uk/support-for-mortgage-interest" >Find out more and how to apply for Support for Mortgage Interest</a></p>
                                                </div>
                                              </div>

                                              <div class="govuk-accordion__section">
                                                  <div class="govuk-accordion__section-header">
                                                    <h2 class="govuk-accordion__section-heading">
                                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                                            Warm Home Discount
                                                        </span>
                                                      </h2>
                                                    </div>
                                                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                                        <p>You could get £140 off your electricity bill for winter 2020 to 2021 under the Warm Home Discount Scheme.</p>
                                                        <p>You might qualify for the Warm Home Discount Scheme if:</p>
                                                        <ul class="govuk-list govuk-list--bullet">
                                                          <li>you get Pension Credit</li>
                                                          <li>you’re on a low income and meet your energy supplier’s criteria for the scheme </li>
                                                          </ul>
                                                        <p>Find out more and how to apply for <a href="https://www.gov.uk/the-warm-home-discount-scheme">Warm Home Discount Scheme</a></p>
                                                    </div>
                                                  </div>

                                                  <div class="govuk-accordion__section">
                                                      <div class="govuk-accordion__section-header">
                                                        <h2 class="govuk-accordion__section-heading">
                                                            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                                                Winter Fuel Payment
                                                            </span>
                                                          </h2>
                                                   </div>
                                                   <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                                   <p>If you were born on or before 5 October 1954 you could get between £100 and £300 to help you pay your heating bills.</p>
                                                   <p>Find out more and how to apply for <a href="https://www.gov.uk/winter-fuel-payment">Winter Fuel Payment</a></p>
                                                  </div>
                                             </div>


              </div>




          <h3 class="govuk-heading-l govuk-!-margin-top-5">Other support</h3>

          <p>Citizens Advice give further advice on <a href="https://www.citizensadvice.org.uk/debt-and-money/if-you-cant-pay-your-bills-because-of-coronavirus/">what to do if you can't pay bills</a> like your mortgage, council tax or court fines.</p>
          <p>If you have children, Citizens Advice can also help you <a href="https://www.citizensadvice.org.uk/family/education/school-education/help-with-school-costs/">check if they can get free school meals</a>.</p>


          <p>Other financial support might be available if:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="/version-0-10/summary-carers">you're caring for another adult</a></li>
              <li><a href="https://www.gov.uk/browse/childcare-parenting/financial-help-children">you're looking after children, or about to</a></li>
              <li><a href="https://www.gov.uk/financial-help-disabled">you're disabled or have a health condition</a></li>
              <li><a href="https://www.gov.uk/when-someone-dies">someone has died</a></li>
          </ul>

          <h3 class="govuk-heading-l govuk-!-margin-top-5">Find the support you need</h3>
          <p>If you're unsure which benefits might be best for you, you can <a href="start">answer some questions to find out</a>.</p>


          <div class="govuk-grid-column-one-third">



        </div>

          </div>


{% endblock %}
