
{% extends "layout.html" %}

{% block pageTitle %}
Financial support because you have a disability or health condition | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Get financial support if you have a disability or health condition</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <p class="govuk-body-l">You might be able to get the following financial support if you're struggling to cover living costs because of a disability or health condition.</p>

                <span class="govuk-caption-l govuk-!-margin-top-7">If you're unemployed or on a low income:</span>
                <h3 class="govuk-heading-m">Universal Credit</h3>
                <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>

                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                Eligibility
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <p>You may be able to get Universal Credit if:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>you’re on a low income or out of work</li>
                                <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                                <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> (or your partner is)</li>
                                <li>you and your partner have £16,000 or less in savings between you</li>
                                <li>you live in the UK</li>
                            </ul>
                        </div>
                      </div>
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                If you already get tax credits
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                            <p class='govuk-body'>If you're already getting Tax Credits, they will stop when you or your partner applies for Universal Credit.</p>
                        </div>
                      </div>
                      <div class="govuk-accordion__section ">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Next steps
                              </span>
                            </h2>
                          </div>
                          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                              <p><a href="https://www.gov.uk/universal-credit">Get more information about Universal Credit</a>.</p>
                             <h4 class="govuk-heading-s">How to apply</h4>
                             <p>You'll need:</p>
                             <ul class="govuk-list govuk-list--bullet">
                                    <li>your bank, building society or credit union account details (call the Universal Credit helpline if you do not have one)</li>
                                    <li>an email address</li>
                                    <li>
                                  <a href="https://www.gov.uk/housing-and-universal-credit">information about your housing</a>, for example how much rent you pay</li>
                                    <li>details of your income, for example payslips</li>
                                    <li>details of savings and any investments, like shares or a property that you rent out</li>
                                    <li>details of how much you pay for childcare if you’re applying for help with childcare costs</li>
                                  </ul>
                                  <p>If you do not provide the right information when you apply it might affect when you get paid or how much you get.</p>
                                  <p>You also have to verify your identity online. You’ll need some proof of identity for this, for example your:</p>
                                  <ul class="govuk-list govuk-list--bullet">
                                    <li>driving licence</li>
                                    <li>passport</li>
                                    <li>debit or credit card</li>
                                  </ul>
                                  <a class="govuk-button" href="https://www.gov.uk/universal-credit/how-to-claim">Apply now</a>
                          </div>
                        </div>

                        </div>


          <span class="govuk-caption-l govuk-!-margin-top-7">If you've worked in the last 2 to 3 years:</span>
          <h3 class="govuk-heading-m">New Style Employment and Support Allowance (ESA)</h3>

          <p>New Style ESA gives you:
            <ul class="govuk-list govuk-list--bullet">
              <li>money to help with living costs if you’re unable to work</li>
              <li>support to get back into work if you’re able to</li>
            </ul>
          <p>You can apply for ESA if you’re employed, self-employed or unemployed.</p>


          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <p>You can apply for New Style ESA if you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> and you have a disability or health condition that affects how much you can work.</p>

                    <p>To get New Style ESA you need to have both:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>worked as an employee or been self-employed</li>
                        <li>paid enough National Insurance contributions, usually in the last 2 to 3 years - <a href="https://www.gov.uk/national-insurance-credits">National Insurance credits</a> also count</li>
                    </ul>

                    <p>You cannot get New Style ESA if you get:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li><a href="https://www.gov.uk/statutory-sick-pay">Statutory Sick Pay (SSP)</a> – but you can apply for New Style ESA 3 months before SSP is due to end</li>
                      <li><a href="https://www.gov.uk/jobseekers-allowance">Jobseeker’s Allowance</a></li>
                      <li>the <a href="https://www.gov.uk/disability-premiums-income-support">severe disability premium</a>, or are entitled to it</li>
                    </ul>

                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                        If you’ve been affected by coronavirus (COVID-19)
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p>You can apply for New Style ESA if you’re unable to claim <a href="https://www.gov.uk/statutory-sick-pay">Statutory Sick Pay</a> and one of the following applies:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>you or your child might have coronavirus or you’re recovering from it</li>
                          <li>you or your child are self-isolating because you came into contact with someone who might have coronavirus</li>
                          <li>you have been told to stay at home for at least 12 weeks by the NHS because you’re at high risk of severe illness</li>
                      </ul>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Applying for Universal Credit at the same time
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p class='govuk-body'>You could get Universal Credit at the same time or instead of New Style ESA.</p>
                    </div>
                  </div>
                  <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                              Next steps
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                          <p><a href="https://www.gov.uk/employment-support-allowance">Get more information about New Style ESA</a>.</p>
                      <h4 class="govuk-heading-s">How to apply</h4>
                      <p>You’ll need:</p>
                      <ul class="govuk-list govuk-list--bullet">
                      <li>your National Insurance number</li>
                      <li>your bank or building society account number and sort code (you can use a friend or family member’s account if you do not have one)</li>
                      <li>your doctor’s name, address and telephone number</li>
                      <li>details of your income if you’re working</li>
                      <li>the date your Statutory Sick Pay (SSP) ends if you’re claiming it</li>
                      </ul>
                      <a class="govuk-button" href="https://www.apply-new-style-employment-support-allowance.dwp.gov.uk/eligibility-start">Apply now</a>

                      <h4 class="govuk-heading-s">When you can apply by phone</h4>
                      <p>Call the Universal Credit helpline if:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>you cannot make an application online</li>
                          <li>you’re an appointee for someone</li>

                          <div class="govuk-inset-text">
                            <h2 class="govuk-heading-m">Universal Credit helpline</h2>
                            <ul class="govuk-list">

                              <li>Telephone: 0800 328 5644 (choose option 2)</li>
                              <li>Textphone: 0800 328 1344 (choose option 2)</li>
                              <li><a href="https://www.relayuk.bt.com/">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 328 5644</li>
                              <li><a href="https://main.signvideo.me/app/8/10168?exitURL=https://www.gov.uk/employment-support-allowance/how-to-claim">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a></li>
                              <li>Welsh language telephone: 0800 328 1744</li>
                              <li>Monday to Friday, 8am to 6pm</li>


                            </ul>
                            <p class="govuk-body">
                              <a class="govuk-link" href="#">Find out about call charges</a>
                            </p>

</div>

                      </div>
                    </div>
            </div>

          <span class="govuk-caption-l govuk-!-margin-top-7">If you need extra money to help with everyday life:</span>
          <h3 class="govuk-heading-m">Personal Independence Payment (PIP)</h3>
          <p>PIP can help you with some of the extra costs if you have a long term illness or disability, whether you’re working or not.</p>

              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <p>Usually, you must be 16 or over and under <a href="https://www.gov.uk/state-pension-age">State Pension age</a>.</p>
                      <p>You must also have a <a href="https://www.gov.uk/definition-of-disability-under-equality-act-2010">health condition or disability</a> where you:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>have had difficulties with daily living or getting around (or both) for 3 months</li>
                          <li>expect these difficulties to continue for at least 9 months</li>
                        </ul>
                      <p>You usually need to have lived in England, Scotland or Wales
                        for at least 2 of the last 3 years, and be in one of these
                        countries when you apply. If you’ve recently returned from
                        living in an <a href="https://www.gov.uk/eu-eea">EEA country</a>,
                        you might be able to get PIP sooner.</p>

                        <div class="govuk-inset-text">There are other situations in which you could be eligible PIP. <a href="https://www.gov.uk/pip/eligibility">Read the full PIP eligiblity information</a> carefully.</div>

                  </div>
                </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      Applying for Universal Credit at the same time
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <p class='govuk-body'>You could get PIP at the same time as Universal Credit.</p>
                  <p>If you get PIP, it will not affect the amount you get in Universal Credit.</p>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Next steps
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p><a href="https://www.gov.uk/pip">Get more information about PIP</a>.</p>
                    <h4 class="govuk-heading-s">How to apply</h4>
                    <p>You can apply for PIP by calling the Department for Work and Pensions (DWP).</p>
                    <p>Someone else can call on your behalf, but you’ll need to be with them when they call.
                      There are also other ways to claim if you find it difficult to use a telephone.</p>

                    <p>Find out <a href="https://www.gov.uk/pip/how-to-claim">how to apply by phone or post</a>.</p>

                  </div>
                </div>
            </div>

            <span class="govuk-caption-l govuk-!-margin-top-7">If you've reached State Pension age:</span>
            <h3 class="govuk-heading-m">Attendance Allowance</h3>
          <p>Attendance Allowance helps with extra costs if you have a disability severe enough that you need someone to help look after you.</p>
          <p>You could also get extra Pension Credit, Housing Benefit or Council Tax Reduction if you qualify for Attendance Allowance.</p>

              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <p>To qualify you need to be both:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>physically or mentally disabled</li>
                      <li><a href="https://www.gov.uk/state-pension-age">State Pension age</a> or older</li>
                    </ul>

                      <p>You do not have to have someone caring for you to claim. If you do have a carer, they could get <a href="https://www.gov.uk/carers-allowance">Carer’s Allowance</a> if you have substantial caring needs.</p>
                      <p>You cannot get Attendance Allowance if you already get <a href="https://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA)</a> or <a href="https://www.gov.uk/pip">Personal Independence Payment (PIP)</a>.</p>
                  </div>
                </div>

              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Next steps
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p><a href="https://www.gov.uk/pip">Get more information about Attendance Allowance</a>.</p>
                    <h4 class="govuk-heading-s">How to apply</h4>
                    <p>Use the <a href="https://www.gov.uk/government/publications/attendance-allowance-claim-form">Attendance Allowance claim form</a> to apply by post. The form comes with notes telling you how to fill it in.</p>
                    <p>Send the completed form to ‘Freepost DWP Attendance Allowance’.</p>
                    <p>Find out <a href="https://www.gov.uk/attendance-allowance/how-to-claim">how to get the form in alternative formats</a>, like braille, large print or audio CD.</p>
                  </div>
                </div>
            </div>

            <h2 class="govuk-heading-l">
                If you already get the severe disability premium
            </h2>


            <h3 class="govuk-heading-m">Other types of Employment and Support Allowance (ESA)</h3>
            <p>You might be able to get income-related or contribution-based ESA if you:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>get the <a href="https://www.gov.uk/disability-premiums/eligibility#severe-disability-premium">severe disability premium</a>, or are entitled to it</li>
              <li>got or were entitled to the severe disability premium in the last month, and you’re still eligible for it</li>
            </ul>

                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Eligibility
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p><strong>When you can apply for contribution-based ESA</strong></p>
                     <p>You can apply for contribution-based ESA if you’ve been employed or self-employed and paid National Insurance contributions, usually in the last 2 to 3 years. National Insurance credits can also count.</p>
                     <p><strong>When you can apply for income-related ESA </strong></p>
                     <p>If you have not paid enough National Insurance contributions in the last 2 to 3 years you may be able to get income-related ESA.</p>
                     <p>You cannot get income-related ESA if you have savings or investments worth over £16,000.</p>

                    </div>
                  </div>
                  <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Applying for Universal Credit at the same time
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                        <p class='govuk-body'>You cannot get Universal Credit at the same time as income-related or contribution-based ESA.</p>
                      </div>
                    </div>
                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Next steps
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p><a href="https://www.gov.uk/employment-support-allowance">Get more information about income-related and contribution-based ESA</a>.</p>

                      <h4 class="govuk-heading-s">How to apply</h4>
                      <p>You can call Jobcentre Plus to apply by phone for income-related and contribution-based ESA.</p>
                      <p>Find out <a href="https://www.gov.uk/employment-support-allowance/how-to-claim">how to apply by phone</a>.</p>

                    </div>
                  </div>
              </div>

              <h3 class="govuk-heading-m">Tax credits</h3>

              <p>Tax credits can be paid if:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>you're in work and on a low income (this is called 'Working Tax Credit')</li>
                <li>you have children</li>
              </ul>

              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

            <p>You can only get tax credits if you:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>get the <a href="https://www.gov.uk/disability-premiums/eligibility#severe-disability-premium">severe disability premium</a>, or are entitled to it</li>
              <li>got or were entitled to the severe disability premium in the last month, and you’re still eligible for it</li>
            </ul>
            <p><strong>Child Tax Credit</strong></p>
            <p>If your child is 16, you can claim up until 31 August after their 16th birthday. If they are in <a href="https://www.gov.uk/child-tax-credit-when-child-reaches-16">approved education or training</a>, you can claim until their 20th birthday.</p>
            <p><strong>Working Tax Credit</strong></p>
            <p>Whether you can get Working Tax Credit depends on:
              <ul class="govuk-list govuk-list--bullet">
                <li>the hours of paid work you do each week</li>
                <li>your income and circumstances</li>
              </ul>
            </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                        Next steps
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                  <h4 class="govuk-heading-s">How to apply</h4>

                      <p>Find out:</p>
                      <ul class="govuk-list govuk-list--bullet">
                      <li><a href="https://www.gov.uk/working-tax-credit/how-to-claim">how to claim Working Tax Credit</a></li>
                      <li><a href="https://www.gov.uk/child-tax-credit/how-to-claim">how to claim Child Tax Credit</a></li>
                    </div>
                  </div>
              </div>

              <h3 class="govuk-heading-m">Income Support</h3>
            <p>Income Support can help you cover your costs if you’re on a low income, only if you either:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>get the <a href="https://www.gov.uk/disability-premiums/eligibility#severe-disability-premium">severe disability premium</a>, or are entitled to it</li>
              <li>got or were entitled to the severe disability premium in the last month, and you’re still eligible for it</li>
            </ul>




                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                Eligibility
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                            <p>All of the following must also apply to you (and your partner if you have one):</p>

                            <ul class="govuk-list govuk-list--bullet">
                              <li>you have no income or a low income, and no more than £16,000 in savings</li>
                              <li>you’re not in full-time paid work (you can work less than 16 hours a week, and your partner can work less than 24 hours a week)</li>
                              <li>you’re not eligible for Jobseeker’s Allowance or Employment and Support Allowance</li>
                              <li>you live in England, Scotland or Wales - there are different rules for <a rel="external" href="http://www.nidirect.gov.uk/income-support">Northern Ireland</a>
                            </li>
                            </ul>

                            <p>You must also be between 16 and <a href="/calculate-state-pension">Pension Credit qualifying age</a>, and at least one of the following:</p>

                            <ul class="govuk-list govuk-list--bullet">
                              <li>pregnant</li>
                              <li>a lone parent (including a lone adoptive parent) with a child under 5</li>
                              <li>a lone foster parent with a child under 16</li>
                              <li>a single person looking after a child under 16 before they’re adopted</li>
                              <li>a carer</li>
                              <li>on maternity, paternity or parental leave</li>
                              <li>unable to work and you receive Statutory Sick Pay, Incapacity Benefit or Severe Disablement Allowance</li>
                              <li>in full-time education (not university), aged between 16 and 20, and a parent</li>
                              <li>in full-time education (not university), aged between 16 and 20, and not living with a parent or someone acting as a parent</li>
                              <li>a refugee learning English - your course needs to be at least 15 hours a week, and you must have started it within 12 months of entering the UK</li>
                              <li>in custody or due to attend court or a tribunal</li>
                            </ul>

                            <p>You do not need a permanent address - for example, you can still claim if you:</p>

                            <ul class="govuk-list govuk-list--bullet">
                              <li>sleep rough</li>
                              <li>live in a hostel or care home</li>
                            </ul>

                            <div class="govuk-inset-text">If you cannot apply for Income Support you can <a href="https://www.gov.uk/universal-credit">apply for Universal Credit</a> instead.</div>

                        </div>
                      </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Next steps
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p><a href="https://www.gov.uk/income-support">Get more information about Income Support</a>.</p>
                      <h4 class="govuk-heading-s">How to apply</h4>
                      <p>The quickest way to apply for Income Support is by phone.</p>
                      <p>Find out <a href="https://www.gov.uk/income-support/how-to-claim">how to apply by phone</a>.</p>
                      </div>

                      <hr>
                      <h2 class="govuk-heading-l">If you’re terminally ill</h2>
                      <p>If you’re living with a terminal illness and your doctor or a medical professional has said you might have less than 6 months to live, you may:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>get benefits at a higher rate or get extra money</li>
                        <li>start getting payments quicker than usual</li>
                      </ul>

                      <h3 class="govuk-heading-l govuk-!-margin-top-5">Other support</h3>


                      <p>Other financial support might be available if:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li><a href="/version-0-10/summary-carers">you're caring for another adult</a></li>
                          <li><a href="https://www.gov.uk/browse/childcare-parenting/financial-help-children">you're looking after children, or about to</a></li>
                          <li><a href="http://localhost:3000/version-0-13/support-to-help-with-income">you have low or no income</a></li>
                          <li><a href="https://www.gov.uk/when-someone-dies">someone has died</a></li>
                      </ul>


                  </div>
              </div>

</div>


          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
