
{% extends "layout.html" %}

{% block pageTitle %}
Help with your income if you have a health condition or disability | GOV.UK
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

<div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Support if you have a health condition or disability</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Regular payments</a>
              </li>
        </ol>
      </div>

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Regular payments if you have a health condition or disability</h1>
            <p class="govuk-body-l"><p class="govuk-body-l">The following payments are available, depending on your situation.</p>

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                  New Style Employment and Support Allowance (ESA)
                              </span>
                            </h2>
                          </div>
                          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                              <p>New Style ESA gives you money to help with living costs if you’re unable to work, and support to get back into work if you’re able to. You can apply for New Style ESA if you’re employed, self-employed or unemployed.</p>
                              <p>You might be able to get Universal Credit at the same time as New Style ESA. You'll need to apply for each benefit separately.</p>
                              <p><strong>Eligibility</strong></p>
                              <p>You might be able to get New Style ESA if you:</p>
                              <ul class="govuk-list govuk-list--bullet">
                                  <li>are under the <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                                  <li>are disabled or have a health condition that affects how much you can work</li>
                                  <li>or your child might have coronavirus (COVID-19) or you’re recovering from it</li>
                                  <li>or your child are self-isolating because you came into contact with someone who might have coronavirus</li>
                                  <li>have been told to stay at home for at least 12 weeks by the NHS because you’re at high risk of severe illness</li>
                                  <li>have worked as an employee or been self-employed and have paid enough National Insurance contributions in the last 2 to 3 years – National Insurance Credits also count</li>
                                  <li>do not get Statutory Sick Pay (although you can apply 3 months before it’s due to end), Jobseeker’s Allowance or the severe disability premium</li>
                                </ul>
                                <p><a href="https://www.gov.uk/guidance/new-style-employment-and-support-allowance#how-to-apply">How to apply for New Style ESA</a></p>
                            </div>
                          </div>

                          <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                        Personal Independence Payment (PIP)
                                    </span>
                                  </h2>
                                </div>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                  <p>PIP is for adults who have difficulties with essential everyday tasks (daily living) or getting around (mobility) because of a long-term physical or mental health condition or disability.</p>
                                  <p>It can help with the extra costs people face day to day to support them to lead full, active and independent lives.</p>
                                  <p>You can still claim PIP if you’re working, have savings or are in training or education. PIP does not affect other benefits (except Armed Forces Independence Payment).</p>
                                  <div class="govuk-inset-text">Getting PIP depends on your daily living or mobility needs, not the condition itself.</div>
                                  <p><strong>Eligibility</strong></p>
                                  <p>To get PIP you must:</p>
                                  <ul class="govuk-list govuk-list--bullet">
                                  <li>be aged 16 or over and usually not have reached your <a href="https://www.gov.uk/state-pension-age">State Pension age</a> when you first claim</li>
                                  <li>usually have lived in England, Scotland or Wales for at least 2 of the last 3 years</li>
                                  <li>have had difficulties with daily living or mobility (or both) for 3 months because of your long-term health condition or disability, and think you’ll have difficulties for at least another 9 months</li>
                                  </ul>
                                  <p><a href="https://www.gov.uk/pip">Read more information about PIP before applying</a></p>
                                </div>
                              </div>

                              <div class="govuk-accordion__section">
                                  <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                            Disability Living Allowance (DLA) for children
                                        </span>
                                      </h2>
                                    </div>
                                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                        <p>DLA for children may help with the extra costs of looking after a child who:</p>
                                        <ul class="govuk-list govuk-list--bullet">
                                            <li>is under 16</li>
                                            <li>has difficulties walking or needs much more looking after than a child of the same age who does not have a disability</li>
                                        </ul>
                                        <p><a href="https://www.gov.uk/disability-living-allowance-children/how-to-claim">How to apply for DLA for children</a></p>
                                    </div>
                                  </div>

                                  <div class="govuk-accordion__section">
                                      <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                                Attendance Allowance
                                            </span>
                                          </h2>
                                        </div>
                                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                            <p>Attendance Allowance helps with extra costs if you have a disability severe enough that you need someone to help look after you.</p>
                                            <p>You might be able to get it if:</p>
                                            <ul class="govuk-list govuk-list--bullet">
                                                <li>you've reached <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                                                <li>you're disabled</li>
                                            </ul>

                                            <p><a href="https://www.gov.uk/attendance-allowance/how-to-claim">How to apply for Attendance Allowance</a></p>
                                        </div>
                                      </div>

                                      <div class="govuk-accordion__section">
                                          <div class="govuk-accordion__section-header">
                                            <h2 class="govuk-accordion__section-heading">
                                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                                    Universal Credit
                                                </span>
                                              </h2>
                                            </div>
                                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                              <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>
                                              <p>You might be able to get Universal Credit at the same time as New Style Jobseeker's Allowance or New Style Employment and Support Allowance. You'll need to apply for each benefit separately.</p>
                                              <p><strong>If you already get tax credits</strong></p>
                                              <p>If you're already getting tax credits, they will stop when you or your partner applies for Universal Credit.</p>
                                              <p><strong>Eligibility</strong></p>
                                                <p>You might be able to get Universal Credit if:</p>
                                                <ul class="govuk-list govuk-list--bullet">
                                                    <li>you’re on a low income or out of work</li>
                                                    <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                                                    <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> (or your partner is)</li>
                                                    <li>you and your partner have £16,000 or less in savings between you</li>
                                                    <li>you live in the UK</li>
                                                </ul>
                                                <p><a href="https://www.gov.uk/universal-credit/how-to-claim">How to apply for Universal Credit</a></p>
                                            </div>
                                          </div>

              </div>



              <h3 class="govuk-heading-m govuk-!-margin-top-9">If you get the severe disability premium
                </h3>

                <p>You might be able to get the following support if you get the severe disability premium, or got it in the past month and are still eligible for it.</p>

                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                  Income Support
                              </span>
                            </h2>
                          </div>
                          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                              <p>Income Support can help you cover your costs if you’re on a low income.</p>
                              <p>To get it, you must:</p>
                              <ul class="govuk-list govuk-list--bullet">
                                  <li>be between 16 and <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                                  <li>be on a low income</li>
                                  <li>not be working or working less than 16 hours a week, on average</li>
                                </ul>
                              <p>You will also automatically qualify for Housing Benefit and Council Tax Reduction and may receive help towards health costs, such as prescriptions.</p>
                              <p><a href="https://www.gov.uk/income-support/how-to-claim">How to apply for Income Support</a></p>
                          </div>
                        </div>

                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                      Working Tax Credit
                                  </span>
                                </h2>
                              </div>
                              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                  <p>If you’re in work but on low pay, you may be able to apply for Working Tax Credit to top-up your earnings.</p>
                                  <p><a href="https://www.gov.uk/working-tax-credit/how-to-claim">How to apply for Working Tax Credit</a></p>
                              </div>
                            </div>
                          </div>

                          <p>Other help is also available if:</p>
                          <ul class="govuk-list govuk-list--bullet">
                              <li><a href="http://localhost:3000/version-0-15/benefits">you're looking for work</a>
                                <li><a href="http://localhost:3000/version-0-15/benefits">you're temporarily unable to work</a>
                              <li><a href="http://localhost:3000/version-0-15/benefits">you're on a low income</a>
                              <li><a href="http://localhost:3000/version-0-15/benefits">you're caring for someone</li>
                              <li><a href="http://localhost:3000/version-0-15/benefits">you're looking after a family</li>
                              <li><a href="http://localhost:3000/version-0-15/benefits">someone has died</li>
                          </ul>




        </div>


          </div>

        </main>

        </div>


{% endblock %}
