
{% extends "layout.html" %}

{% block pageTitle %}
Help with your income if you are retired | GOV.UK
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

<div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Regular payments if you've reached State Pension age</a>
          </li>
        </ol>
      </div>

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Regular payments if you've reached State Pension age</h1>
            <p class="govuk-body-l"><p class="govuk-body-l">The following payments are available, depending on your situation.</p>

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    State Pension
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p>If you've reached <a href="https://www.gov.uk/state-pension-age">State Pension age</a>, you might be able to get your State Pension.
                                You can still get it even if you decide to carry on working.</p>
                            <p><a href="https://www.gov.uk/new-state-pension/how-to-claim">How to apply for your State Pension</a></p>
                            </div>
                          </div>

                          <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                        Pension Credit
                                    </span>
                                  </h2>
                                </div>
                                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                  <p>Pension Credit tops up your weekly income if it’s below £173.75 (for single people) or £265.20 (for couples). You may still be eligible if you have savings, a pension or you own your home.</p>
                                  <p><strong>Eligibility</strong></p>
                                        <p>You might be able to get Pension Credit if:</p>
                                        <ul class="govuk-list govuk-list--bullet">
                                            <li>You live in England, Scotland or Wales</li>
                                            <li>You have reached <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                                            <li>If you are in a couple, both of you will need to have reached State Pension age, or one of you is over State Pension Age and is getting Housing Benefit</li>
                                            <li>Your  weekly income is below £173.75 (for single people) or £265.20 (for couples)</li>
                                        </ul>
                                        <p><a href="https://www.gov.uk/pension-credit/how-to-claim">How to apply for Pension Credit</a></p>
                                </div>
                              </div>

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    Universal Credit
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                              <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>
                              <p><strong>If you’re in a couple and one of you is State Pension age</strong></p>
                              <p>You and your partner can claim Universal Credit as a couple if one of you is under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> and eligible for Universal Credit.</p>
                              <p>When you both reach State Pension age your Universal Credit claim will stop and you might be able to apply for Pension Credit instead.</p>
                              <p><strong>Eligibility</strong></p>
                                <p>You might be able to get Universal Credit if:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>you’re on a low income or out of work</li>
                                    <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                                    <li>you’re under State Pension age (or your partner is)</li>
                                    <li>you and your partner have £16,000 or less in savings between you</li>
                                    <li>you live in the UK</li>
                                </ul>
                                <p><a href="https://www.gov.uk/universal-credit/how-to-claim">How to apply for Universal Credit</a></p>
                            </div>
                          </div>
              </div>



              <h3 class="govuk-heading-s govuk-!-margin-top-5">If you're unsure which payments you could get</h3>
              <p>You can answer some questions to find out whether Universal Credit or Pension Credit is best for your situation.</p>
          <a class="govuk-button" href="start">Check now</a>

          <p>Other help is also available if:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="http://localhost:3000/version-0-15/benefits">you're disabled or have a health condition</a>
              <li><a href="http://localhost:3000/version-0-15/benefits">you're caring for someone</li>
              <li><a href="http://localhost:3000/version-0-15/benefits">you're looking after a family</li>
              <li><a href="http://localhost:3000/version-0-15/benefits">someone has died</a>
          </ul>


        </div>


          </div>

        </main>

        </div>


{% endblock %}
