
{% extends "layout.html" %}

{% block pageTitle %}
Where do you live? | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q1-circs" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="q3-pension" method="post" id="question-form" novalidate>

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                   Where do you live?
                  </h1>    
                </legend>  
                  <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radios-1" name="country" type="radio" value="eng">
                        <label class="govuk-label govuk-radios__label" for="radios-1">
                          England
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radios-2" name="country" type="radio" value="sco">
                        <label class="govuk-label govuk-radios__label" for="radios-2">
                          Scotland
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radios-3" name="country" type="radio" value="wls">
                        <label class="govuk-label govuk-radios__label" for="radios-3">
                          Wales
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radios-4" name="country" type="radio" value="ni">
                        <label class="govuk-label govuk-radios__label" for="radios-4">
                          Northern Ireland
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="radios-4" name="country" type="radio" value="nonuk">
                          <label class="govuk-label govuk-radios__label" for="radios-4">
                            Outside of the UK
                          </label>
                        </div>
                    </div>
                
                
      </fieldset>
            </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>


{% endblock %}
