{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Understand what financial support you can get</h1>
             
              <p class="govuk-body-l">The financial support you can get depends on your circumstances. Find out what you can get if:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li><a href="start">Financial support if you’re looking for work</a></li>
                <li><a href="#">Financial support if you’re temporarily unable to work</a></li>
                <li><a href="#">Financial support if you’re on a low income</a></li>
                <li><a href="#">Financial support if you're disabled or have a health condition</a></li>
                <li><a href="#">Financial support if you spend time each week caring for someone</a></li>
                <li><a href="#">Financial support if you have children or are planning to</a></li>
                <li><a href="#">Financial support if someone has died</a></li>
            </ul>
              
             
              <hr>
              <h3 class="govuk-heading-s">Explore the topic</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="">How benefits work</a></li>
              </ul>


            </div>

            <div class="govuk-grid-column-one-third">

              <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

            </div>
          </div>
        </main>

  </div>



{% endblock %}
