
{% extends "layout.html" %}

{% block pageTitle %}
Financial support to help with your income | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Main benefits - help with your income</h1>
          </div> 
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <p class="govuk-body-l">This page outlines the financial support you might be able to get to help with you income. If you are unsure which benefits might be best for you, you can find out by answering a few questions in our eligibility checker.</p>
                <a href="start" class="govuk-button">Check what help you could get</a>

          <h3 class="govuk-heading-l govuk-!-margin-top-7">Universal Credit</h3>
          <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>
          
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                      <p>You may be able to get Universal Credit if:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>you’re on a low income or out of work</li>
                          <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                          <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> (or your partner is)</li>
                          <li>you and your partner have £16,000 or less in savings between you</li>
                          <li>you live in the UK</li>
                      </ul>
                  </div>
                </div>
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          If you're already getting Tax Credits 
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p class='govuk-body'>If you're already getting Tax Credits, they will stop when you or your partner applies for Universal Credit.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Find out more and how to apply
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                        <p>Please visit the <a href="https://www.gov.uk/universal-credit">Universal Credit</a> page for full details.</p>
                       <h4 class="govuk-heading-s">What you need to apply now</h4>
                       <p>You'll need:</p>
                       <ul class="govuk-list govuk-list--bullet">
                              <li>your bank, building society or credit union account details (call the Universal Credit helpline if you do not have one)</li>
                              <li>an email address</li>
                              <li>
                            <a href="https://www.gov.uk/housing-and-universal-credit">information about your housing</a>, for example how much rent you pay</li>
                              <li>details of your income, for example payslips</li>
                              <li>details of savings and any investments, like shares or a property that you rent out</li>
                              <li>details of how much you pay for childcare if you’re applying for help with childcare costs</li>
                            </ul>
                            <p>If you do not provide the right information when you apply it might affect when you get paid or how much you get.</p>
                            <p>You also have to verify your identity online. You’ll need some proof of identity for this, for example your:</p>
                            <ul class="govuk-list govuk-list--bullet">
                              <li>driving licence</li>
                              <li>passport</li>
                              <li>debit or credit card</li>
                            </ul>
                            <a class="govuk-button" href="https://www.gov.uk/universal-credit/how-to-claim">Apply now</a>
                    </div>
                  </div>
      
                  </div>
      
                

          <h3 class="govuk-heading-l  govuk-!-margin-top-7">New Style Job Seeker's Allowance</h3>
          
          <p>Job Seekers Allowance is a payment to support you while you’re looking for work. While receiving it, you’ll also be awarded Class 1 National credits, which can help towards you State Pension and other benefits you might need in the future.</p>
          <p>It's paid every 2 weeks, usually into your bank, building society or credit union account, you can receive it up to 182 days (about 6 months). </p>
          

          
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p>To be eligible for Job Seekers Allowance, you need to:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>be 18 or over (there are some exceptions if you’re 16 or 17 - contact Jobcentre Plus for advice)</li>
                          <li>be under the State Pension age</li>
                          <li>not be in full-time education</li>
                          <li>be available for work</li>
                          <li>not be working at the moment, or be working less than 16 hours per week on average</li>
                          <li>not have an illness or disability which stops you from working</li>
                          <li>live in England, Scotland or Wales</li>
                          <li>have the right to work in the UK</li>
                          <li>have worked as an an employee and paid Class 1 National Insurance contributions, usually in the last 2 to 3 years. National Insurance credits can also count.</li>
                      </ul>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Can I apply for this and Universal Credit?
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p class='govuk-body'>Yes, you can apply New Style Job Seekers Allowance in addition to Universal Credit.</p>
                      <p>Any New Style Job Seekers Allowance you receive will be taken into account as income for Universal Credit and you may not be better off. However, by claiming and qualifying for New Style Job Seekers Allowance you’ll be awarded Class 1 National credits, which can help towards you State Pension and other benefits you might need in the future.</p>
                    </div>
                  </div>
                  <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                              Find out more and how to apply
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                          <p>Please visit the <a href="https://www.gov.uk/jobseekers-allowance">New Style Job Seeker's Allowance page</a> for full details.</p>
                          <p>To apply, you’ll need your:</p>
                          <ul class="govuk-list govuk-list--bullet">
                                  <li><a href="https://www.gov.uk/lost-national-insurance-number" class="govuk-link">National Insurance number</a></li>
                                  <li>bank or building society account details (or those of a family member or trusted friend)</li>
                                  <li>employment details for the past 6 months, including employer contact details and dates you worked with them</li>
                                  <li>
                                <a href="https://www.gov.uk/pension-types" class="govuk-link">private pension</a> statement letter</li>
                          </ul>
                          <h4 class="govuk-heading-s">Apply online</h4>
                          <p>You cannot apply online if you’re under 18.</p>
                          <a class="govuk-button" href="https://www.gov.uk/jobseekers-allowance/apply-new-style-jsa">Apply for new style JSA</a>
                          <h4 class="govuk-heading-s">If you cannot apply online</h4>
                          <p>If you need help applying or you’re aged 16 to 17, <a href="https://www.gov.uk/contact-jobcentre-plus/new-benefit-claims" class="govuk-link">contact Jobcentre Plus</a>.</p>
                          <h4 class="govuk-heading-s">After you make your claim</h4>
                          <p>If you applied online, you’ll get a text to confirm that your application has been submitted.</p>
                          <p>You do not need to contact the Department for Work and Pensions (DWP).</p>
                          <p>You do not need to go to an interview at the moment because of coronavirus (COVID-19). You will only be asked for more information if it is needed.</p>
                          <p>If your claim is turned down or you're only eligible for National Insurance credits, you'll get a letter within 2 weeks explaining what to do next.</p>
    
                      </div>
                    </div>
            </div>


          <h3 class="govuk-heading-l govuk-!-margin-top-7">Pension Credits</h3>
          <p>Pension Credits top up your weekly income if it’s below £173.75 (for single people) or £265.20 (for couples). You may still be eligible if you have savings, a pension or your own home.</p>
          

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p>To be eligible you must:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>live in England, Scotand or Wales and have reached State Pension Age</li>
                      </ul>
                      <p>If you’re in a couple you can start getting Pension Credit if either:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>you and your partner have both reached State Pension age</li>
                          <li>one of you is getting Housing Benefit for people over State Pension age</li>
                      </ul>
                      <p>If you qualify for Pension Credits it will mean you also qualify for other benefits such as <a href="https://www.gov.uk/housing-benefit">Housing Benefit</a>, <a href="https://www.gov.uk/apply-council-tax-reduction">Council Tax Reduction</a>, <a href="https://www.gov.uk/cold-weather-payment">Cold Weather Payment</a> and help with the costs of NHS services.</p>
                  </div>
                </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                        Your state pension
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <p class='govuk-body'>If you haven’t already, you might be able to start claiming your State Pension.</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li><a href="https://www.gov.uk/state-pension-age">Check your state pension age</a></li>
                    <li><a href="https://www.gov.uk/get-state-pension">Get your state pension</a></li>
                  </ul>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Find out more and how to apply
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p>Please visit the <a href="https://www.gov.uk/pension-credit">Pension Credit page</a> for full details.</p>
                    <h4 class="govuk-heading-s">How to claim</h4>
                        <p>You can start your application up to 4 months before you reach <a href="/state-pension-age">State Pension age</a>.</p>
                  <p>You can claim any time after you reach State Pension age but your claim can only be backdated for 3 months. This means you can get up to 3 months of Pension Credit in your first payment if you were eligible during that time.</p>
                  <p>You will need:</p>           
                  <ul class="govuk-list govuk-list--bullet">
                    <li>your National Insurance number</li>
                    <li>information about your income, savings and investments</li>
                    <li>your bank account details, if you’re applying by phone or by post</li>
                  </ul>
                  
                  <p>If you’re backdating your claim, you’ll need details of your income, savings and investments on the date you want your claim to start.</p>
                  
                  <h4 class="govuk-heading-s">Apply online</h4>
                  
                  <p>You can use the online service if:</p>
                  
                  <ul class="govuk-list govuk-list--bullet">
                    <li>you have already claimed your State Pension</li>
                    <li>there are no children or young people included in your claim</li>
                  </ul>
                  
                  <p><a class="govuk-button" role="button" href="https://apply-for-pension-credit.dwp.gov.uk">Apply now</a></p>
                  
                  <h4 class="govuk-heading-s">Other ways to apply</h4>
                  
                  <p>You can also apply for Pension Credit by phone or post.</p>
                  
                  <div role="note" aria-label="Information" class="application-notice info-notice">
                  <p>It is taking longer than usual to apply by phone because of coronavirus (COVID-19).</p>
                  </div>
                  
                  <p>A friend or family member can call for you if you cannot use the phone.</p>
                  
                  <div class="contact">
                  <p><strong>Pension Credit claim line</strong><br>
                  Telephone: 0800 99 1234<br>
                  Textphone: 0800 169 0133<br>
                  <a href="https://www.relayuk.bt.com">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 99 1234  <br>
                  Monday to Friday, 9.30am to 6pm <br>
                  <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
                  </div>
                  
                  <p>To apply by post, <a href="https://www.gov.uk/government/publications/pension-credit-claim-form--2">print out and fill in the Pension Credit claim form</a> or call the claim line to request a form.</p>
                  
                  <p>Send the claim form to the Pension Service, or ask someone to do it for you.</p>
                  
                  <p>Contact a voluntary organisation like <a rel="external" href="https://www.citizensadvice.org.uk">Citizens Advice</a> or <a rel="external" href="http://www.ageuk.org.uk/money-matters/claiming-benefits/pension-credit/what-is-pension-credit/">Age UK</a> if you need help with the form.</p>
                  

                  </div>
                </div>
            </div>

          <h3 class="govuk-heading-l govuk-!-margin-top-7">Additional Support</h3>

          <p>You might be able to get <a href="support-to-help-with-bills-and-expenses">help with paying your bills and expenses</a>.</p>

          <h3 class="govuk-heading-m govuk-!-margin-top-5">Other financial support might be available if:</h3>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="/version-0-8/summary-carers">you're caring for another adult</a></li>
              <li><a href="https://www.gov.uk/browse/childcare-parenting/financial-help-children">you're looking after children, or about to</a></li>
              <li><a href="https://www.gov.uk/financial-help-disabled">you're disabled or have a health condition</a></li>
              <li><a href="https://www.gov.uk/when-someone-dies">someone has died</a></li>
            </ul>
            </div>
          
         

          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
