
{% extends "layout.html" %}

{% block pageTitle %}
Applying for Universal Credit | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q7-national-insurance" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Applying for Universal Credit</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                
                <h2 class="govuk-heading-m">Eligibility</h2>
                <p>You may be able to get Universal Credit if:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>you’re on a low income or out of work</li>
                    <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                    <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> (or your partner is)</li>
                    <li>you and your partner have £16,000 or less in savings between you</li>
                    <li>you live in the UK</li>
                </ul>

                <h2 class="govuk-heading-m">You cannot claim Universal Credit if you either:</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>get the severe disability premium, or are entitled to it</li>
                    <li>got or were entitled to the severe disability premium in the last month, and you’re still eligible for it</li>
                </ul>

                <div class="govuk-inset-text">
                    If you get tax credits, they will stop when you or your partner applies for Universal Credit. Check how tax credits and Universal Credit affect each other.
                </div>

                <h2 class="govuk-heading-m">What you need to apply online</h2>
                <p>You'll need:</p>
                <ul class="govuk-list govuk-list--bullet">
                       <li>your bank, building society or credit union account details (call the Universal Credit helpline if you do not have one)</li>
                       <li>an email address</li>
                       <li>
                     <a href="https://www.gov.uk/housing-and-universal-credit">information about your housing</a>, for example how much rent you pay</li>
                       <li>details of your income, for example payslips</li>
                       <li>details of savings and any investments, like shares or a property that you rent out</li>
                       <li>details of how much you pay for childcare if you’re applying for help with childcare costs</li>
                     </ul>
                     <p>If you do not provide the right information when you apply it might affect when you get paid or how much you get.</p>
                     <p>You also have to verify your identity online. You’ll need some proof of identity for this, for example your:</p>
                     <ul class="govuk-list govuk-list--bullet">
                       <li>driving licence</li>
                       <li>passport</li>
                       <li>debit or credit card</li>
                     </ul>
                     <a class="govuk-button" href="https://www.universal-credit.service.gov.uk/postcode-checker">Apply now</a>

                     <h2 class="govuk-heading-m">If you cannot apply online, or need support</h3>
                     <p><a href="https://www.gov.uk/universal-credit/how-to-claim">Universal Credit - How to claim</a></p>
       
            </div>
          
         

          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
