
{% extends "layout.html" %}

{% block pageTitle %}
Financial support to help paying your bills and expenses | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q8-health" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Financial support to help paying your bills and expenses</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

          <h3 class="govuk-heading-l">Budgeting Loans</h3>
          <p>A Budgeting Loan can help with certain one-off expenses.  You may be eligible for a Budgeting Loan if you’ve been on certain benefits for 6 months.</p>
          
        
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Check if I’m eligible
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <p class='govuk-body'>You must have been getting one or more of these benefits for the past 6 months:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>Income Support</li>
                          <li>income-based Jobseeker’s Allowance</li>
                          <li>income-related Employment and Support Allowance</li>
                          <li>Pension Credit</li>
                      </ul>
                      <p>If you moved from Universal Credit to Pension Credit, any time spent claiming Universal Credit will count towards the 6 months.</p>
                      <p>You cannot get a Budgeting Loan if:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>you are currently claiming Universal Credit - apply for a <a href="https://www.gov.uk/universal-credit/other-financial-support">Budgeting Advance</a> instead</li>
                        <li>you’re involved in industrial action (for example, a strike, walkout or lockout)</li>
                        <li>you owe more than £1,500 in total for Crisis Loans and Budgeting Loans</li>
                      </ul>
                      <p>If you live in Northern Ireland, go to <a href="https://www.nidirect.gov.uk/articles/budgeting-loans">Budgeting Loans in Northern Ireland</a>.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            What can I use a loan for?
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                        <p class='govuk-body'>A Budgeting Loan can help pay for:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>furniture or household items (for example, washing machines or other ‘white goods’)</li>
                          <li>clothes or footwear</li>
                          <li>rent in advance</li>
                          <li>costs linked to moving house</li>
                          <li>maintenance, improvements or security for your home</li>
                          <li>travelling costs within the UK</li>
                          <li>costs linked to getting a new job</li>
                          <li>maternity costs</li>
                          <li>funeral costs</li>
                          <li>repaying hire purchase loans</li>
                          <li>repaying loans taken for the above items</li>
                        </ul>
                    </div>
                  </div>
                  <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                              How much can I get?
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                          <p class='govuk-body'>The lowest amount you can borrow is £100. You could get up to:</p>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>£348 if you’re single</li>
                            <li>£464 if you have a partner</li>
                            <li>£812 if you or your partner claim Child Benefit</li>
                          </ul>
                      </div>
                      <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                          <p class='govuk-body'>How much you could get depends on whether you:</p>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>can pay the loan back</li>
                            <li>have savings of more than £1,000 (£2,000 if you or your partner are 63 or over)</li>
                            <li>are paying back an existing Budgeting Loan or Crisis Loan</li>
                          </ul>
                      </div>
                    </div>
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                                Paying back the loan
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                            <p class='govuk-body'>A Budgeting Loan is interest free so you only pay back what you borrow.</p>
                            <p class='govuk-body'>The repayments will be taken automatically from your benefits. The amount you repay is based on your income - including any benefits you receive - and what you can afford.</p>
                            <p class='govuk-body'>After you apply for a Budgeting Loan, you’ll get a letter telling you if you’ve been offered a loan. The letter explains how much your weekly repayments would be if you accept the loan.</p>
                            <p class='govuk-body'>You normally have to repay the loan within 2 years (104 weeks). If you stop getting benefits, you’ll need to arrange another way to repay.</p>
                        </div>
                      </div>
                      <div class="govuk-accordion__section ">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                                  How to apply
                              </span>
                            </h2>
                          </div>
                          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                              <p class='govuk-body'><a href="https://www.apply-budgeting-loan.service.gov.uk/en/steps/start">Apply now online</a> (quicker)</p>
                              <p class='govuk-body'><a href="https://www.gov.uk/budgeting-help-benefits/how-to-apply#apply-using-the-paper-form">Apply using a paper form</a></p>
                              <p class='govuk-body'>You’ll get a letter telling you if you’ve been offered a loan within:</p>
                              <ul class="govuk-list govuk-list--bullet">
                                <li>21 working days if you apply online</li>
                                <li>25 working days if you apply by post</li>
                              </ul>
                          </div>
                        </div>
            </div>

          <h3 class="govuk-heading-l  govuk-!-margin-top-7">Bus Pass (Older Persons)</h3>
          <p>You can get a bus pass for free travel:</p>
          <h4 class="govuk-heading-s">If you live in England</h3>
            <p>When you reach the <a href="https://www.gov.uk/state-pension-age/y/bus_pass">female State Pension age</a>, whether you’re a man or a woman.</p>
            <div class="govuk-inset-text">
                <p>If you live in London, you can <a href="https://tfl.gov.uk/fares-and-payments/adult-discounts-and-concessions/60-london-oyster">travel free on buses, tubes and other transport</a> when you’re 60, but only within London.</p>
              </div>
          <h4 class="govuk-heading-s">Wales, Scotland and Northern Ireland</h3>
            <p>When you reach 60</p>

          
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          How to apply
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <h4 class="govuk-heading-s">England and Wales</h3>
                        <a href="https://www.gov.uk/apply-for-elderly-person-bus-pass" >Apply for free bus travel in England and Wales</a>
                      <h4 class="govuk-heading-s">Scotland</h3>
                        <a href="https://www.transport.gov.scot/concessionary-travel/60plus-or-disabled/" >Apply for free bus travel in Scotland here</a>
                      <h4 class="govuk-heading-s">Northern Ireland</h3>
                        <a href="https://www.nidirect.gov.uk/information-and-services/bus-and-coach-travel/free-bus-travel-and-concessions">Apply for free bus travel in Northern Ireland here</a>
                  </div>
                </div>
            </div>

          

            </div>
          
         

          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
