
{% extends "layouts/main.html" %}

{% block pageTitle %}
Applying for New Style Job Seeker's Allowance | Check what regular payments you could get if you're looking for work
{% endblock %}

{% block content %}

<a href="q5-work" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
                Applying for New Style Jobseeker’s Allowance (JSA)
        </h1>

  </div>
  </div>

  <div class="govuk-grid-row  govuk-!-margin-top-5">
              <div class="govuk-grid-column-two-thirds">

                    <h2 class="govuk-heading-m" id="uc">Who can get it</h2>
                    <p>You might be able to get New Style JSA if you:</p>
                    <ul class="govuk-list govuk-list--bullet">
                            <li>are 18 or over (there are some exceptions if you’re 16 or 17 - <a href="https://www.gov.uk/contact-jobcentre-plus/new-benefit-claims">contact Jobcentre Plus</a> for advice)</li>
                            <li>are under State Pension age</li>
                            <li>are not in full-time education</li>
                            <li>are available for work</li>
                            <li>are not working at the moment, or you're working less than 16 hours per week on average, and are available for work</li>
                            <li>do not have an illness or disability which stops you from working</li>
                            <li>live in the UK and have a right to work in the UK</li>
                            <li>have worked as an employee and paid Class 1 National Insurance contributions, usually in the last 2 to 3 years – National Insurance credits can also count</li>
                          </ul>

                          <h2 class="govuk-heading-m" id="uc">What you need to apply online</h2>

                          <p>To apply online, you’ll need your:</p>

                          <ul class="govuk-list govuk-list--bullet">
                                 <li>National Insurance number</li>
                                 <li>bank or building society account details (or those of a family member or trusted friend)</li>
                                   <li>employment details for the past 6 months, including employer contact details and dates you worked with them</li>
                                 <li>private pension or annuity statement if you get, or could get, payments from one</li>
                               </ul>
                               <p>It usually takes 20 minutes to complete the form. You will not be able to save your answers and come back to the form later. But you'll get a chance to check and update your answers before you send it.</p>
                               <p>The Department for Work and Pensions will treat your personal information carefully. We may use it for any of our purposes. To learn about your information rights and how we use information, see our <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter">personal information charter</a>.</p>

                               <div class="govuk-inset-text">There’s a different process in <a href="https://www.nidirect.gov.uk/articles/jobseekers-allowance">Northern Ireland</a>.</div>

                               <a class="govuk-button" href="https://www.apply-for-new-style-jsa.dwp.gov.uk/form/default-claim-start">Apply now</a>

                               <h3 class="govuk-heading-m">If you cannot apply online or you need support</h3>
                                <p>If you need help applying or you’re aged 16 to 17, <a href="https://www.gov.uk/contact-jobcentre-plus/new-benefit-claims">contact Jobcentre Plus</a>.</p>


          </div>








      </div>


{% endblock %}
