{% extends "layouts/main.html" %}

{% block pageTitle %}
Financial help if you’re looking for work
{% endblock %}

{% block main %}

<div class="govuk-width-container {{ containerClasses }}">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
        </li>
        <li class="govuk-breadcrumbs__list-item active">
            Financial help if you’re looking for work
        </li>
      </ol>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Financial help if you’re looking for work</h1>

            <!--  contents -->
            <p class="govuk-body-s">Contents</p>

    <ul class="govuk-list govuk-list--dashed govuk-body-s">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a href="financial-support-looking-for-work">Regular payments if you're looking for work</a>
            </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="financial-support-looking-for-work-specific-costs">Other support if you're on a low income</a>
                      </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="financial-support-looking-for-work-other-help">Further help if you’re disabled, caring for someone, or looking after a family</a>
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                  Help to find and apply for the right benefits for you
                </li>
                </ul>
            <!--  /contents -->


                <h2 class="govuk-heading-l govuk-!-margin-top-6 overview-top-border">Help to find and apply for the right benefits for you</h2>



                <h3 class="govuk-heading-s govuk-!-margin-top-6">Benefit checkers and calculators</h3>
                <p>To find out which benefits you might be eligible for and how much you might get, you can:
            <ul class="govuk-list govuk-list--bullet">
                  <li><a href="financial-support-looking-for-work">check what regular payments you could get if you're looking for work</a></li>
                  <li><a href="https://www.gov.uk/pension-credit-calculator">use the Pension Credit calculator</a></li>
                  <li><a href="https://www.gov.uk/benefits-calculators">use a benefit calculator from an independent organisation</a></li>
                </ul>

                <div class="govuk-inset-text">
            If you're already getting tax credits or Housing Benefit, these will stop if you or your partner apply for Universal Credit.
          </div>

            <h3 class="govuk-heading-s govuk-!-margin-top-6">Advice</h3>
            <p>These organisations can help you to find information and advice about work, redundancy, benefits and debt.</p>
            <ul class="govuk-list">
              <li><a href="https://advicelocal.uk/">Advice Local</a></li>
              <li><a href="https://www.citizensadvice.org.uk/">Citizen's Advice</a></li>
              <li><a href="https://www.moneyadviceservice.org.uk/">Money Advice Service</a></li>
            </ul>


            <h3 class="govuk-heading-s govuk-!-margin-top-6">BSL and alternative formats</h3>
            <p>If you use British Sign Language (BSL), you can use the video relay service. If you need alternative formats, such as braille, large print or audio CD, call the relevant service.</p>
            <p>Find the video relay link and telephone number for:</p>
            <ul class="govuk-list">
                <li><a href="https://www.gov.uk/universal-credit/how-to-claim">Universal Credit</a></li>
                <li><a href="https://www.gov.uk/contact-jobcentre-plus/new-benefit-claims">New Style Job Seeker's Allowance</a></li>
                <li><a href="https://www.gov.uk/pension-credit/how-to-claim">Pension Credit</a></li>
              </ul>

              <h3 class="govuk-heading-s govuk-!-margin-top-6">Support visits if you need help to claim benefits</h3>
              <p>You may be able to get a home visit from a Department for Work and Pensions (DWP) officer if you need extra help to claim benefits, for example because you:</p>
            <ul class="govuk-list govuk-list--bullet">
  <li>have complex needs</li>
<li>are disabled</li>
<li>are a vulnerable young person making a claim for the first time</li>
<li>have nobody else to support you</li>
<li>cannot claim benefits in any other way</li>
</ul>
<p><a href="https://www.gov.uk/support-visit-benefit-claim">How to arrange a support visit</a></p>

            <hr>



          </div>

          <div class="govuk-grid-column-one-third">


            </div>

      </div>


    </main>

<!--  /govuk-width-container -->
</div>

{% endblock %}
