
{% extends "layout.html" %}

{% block pageTitle %}
Your reference code | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="send" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

              
                  <h1 class="govuk-heading-l">
                      Your reference code
                  </h1>    
                  
                  <div class="app-your-reference govuk-body">
                      <p>
                          <span class="app-your-reference__code govuk-heading-xl">2K45 ZEK8</span>
                      </p>
                      <div class="app-your-reference__meta govuk-grid-row">
                          <p class="govuk-grid-column-one-third govuk-body-s">03 July 2020</p>
                      </div>
                  </div>


                  <div class="govuk-body">
                      <h2 class="govuk-heading-m">What to do with your reference</h2>
                      <p>The code above is your unique reference. You can use this to return to the results.</p>
                  </div>


    </div>
  </div>


{% endblock %}
