
{% extends "layout.html" %}

{% block pageTitle %}
You may be eligible for Universal Credit and Employment Support Allowance | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

{% if data.circumstance == 'employed' %}
{% set caption = 'Being unable to work' %}
{% endif %}
{% if data.circumstance == 'lostjob' %}
{% set caption = 'Being made unemployed' %}
{% endif %}
{% if data.circumstance == 'selfemployed' %}
{% set caption = 'Being self-employed and earning less' %}
{% endif %}
{% if data.circumstance == 'benefits' %}
{% set caption = 'Benefits I already get' %}
{% endif %}

<a href="bc-q4-national-insurance" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">{{caption}}</span>
        <h1 class="govuk-heading-xl" id="furlough">
            You might be eligible for Universal Credit
          </h1>
    
          <p>You can <a class="govuk-link" href="https://www.gov.uk/universal-credit/how-to-claim">check how to apply for Universal Credit</a> online.</p>
    </div>
  </div>


{% endblock %}
