
{% extends "layout.html" %}

{% block pageTitle %}
You may be eligible for Universal Credit and Employment Support Allowance | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

{% if data.circumstance == 'employed' %}
{% set caption = 'Being unable to work' %}
{% endif %}
{% if data.circumstance == 'lostjob' %}
{% set caption = 'Being made unemployed' %}
{% endif %}
{% if data.circumstance == 'selfemployed' %}
{% set caption = 'Being self-employed and earning less' %}
{% endif %}
{% if data.circumstance == 'benefits' %}
{% set caption = 'Benefits I already get' %}
{% endif %}

<a href="bc-q5-health" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">{{caption}}</span>
        <h1 class="govuk-heading-xl" id="furlough">
            You might be eligible for New Style Employment and Support Allowance
          </h1>
    
          <a href="https://newstyleesa.herokuapp.com/apply/v12/name" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
    
    <h2 class="govuk-heading-m">Before you start</h2>
    
          <p>New Style Employment and Support Allowance is a benefit for one person. To claim for a partner,
            children or childcare, you'll need to <a class="govuk-link" href="https://www.gov.uk/universal-credit">
              apply for Universal Credit</a>.</p>
    </div>
  </div>


{% endblock %}
