{% set serviceName = " " %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}


<div class="browse govuk-!-margin-bottom-8"">
  {{ super() }}

<div class="govuk-width-container ">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a real service – it is just for user research.'
  }) }}



  <div class="govuk-breadcrumbs breadcrumb-black">
    <ol class="govuk-breadcrumbs__list" >
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" style="color: #FFFFFF"#>Home</a>
      </li>
    </ol>
  </div>

  </div>
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Benefits</h1>
    <p class="govuk-body-l govuk-!-margin-bottom-8">Includes eligibility, appeals, tax credits and Universal Credit</p>

</div>
      </div>
</div>
</div>
{% endblock %}


{% block beforeContent %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="browse__action-links">
        <h2 class="govuk-heading-m">Popular tasks</h2>
          <ul class="govuk-list govuk-!-margin-bottom-7">
              <li>
                  <div class="gem-c-action-link gem-c-action-link--dark-large-icon govuk-!-margin-bottom-3">
                    <span class="gem-c-action-link__link-wrapper">
                    <a class="govuk-link gem-c-action-link__link" style="font-weight: bold" href="/check-benefits-financial-support">Check benefits and financial support you can get</a> </span>
                   </div>
              </li>
          </ul>
        </div>

      </div>
  </div>




{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m" style="padding-bottom:0em">
          Topics
        </h2>
      <div class="gem-c-cards">
      <ul class="gem-c-cards__list" data-track-count="cardList">


        {% macro govUKCard(title='', description='', href='#') %}
        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link" href="{{href}}">{{title}}</a>
</h2>              <p class="govuk-body gem-c-cards__description">{{description}}</p>
          </div>
        </li>
        {% endmacro %}


{{ govUKCard(title="Manage an existing benefit, payment or claim", description="Sign in to your account, report changes, find out about overpayments, or appeal a decision. Includes existing Universal Credit and tax credits claims.", href="manage-benefits") }}
{{ govUKCard(title="Benefits and financial support if you're looking for work", description="Help if you're looking for a new job, are out of work or affected by redundancy. Includes Universal Credit and Jobseeker’s Allowance (JSA).") }}
{{ govUKCard(title="Benefits and financial support if you're temporarily unable to work", description="Help if you’re unable to work because you’re ill or self-isolating. Includes Universal Credit and Employment and Support Allowance (ESA).") }}
{{ govUKCard(title="Benefits and financial support for familiest", description="Help if you look after children or plan to have or adopt a child. Includes Child Benefit.") }}
{{ govUKCard(title="Benefits and financial support if you're disabled or have a health condition", description="Help if you're living with a health condition or disability. Includes Employment and Support Allowance (ESA).") }}
{{ govUKCard(title="Benefits and financial support if you're caring for someone", description="Help if you regularly spend time caring for someone. Includes Universal Credit.") }}
{{ govUKCard(title="Benefits and financial support if you're on a low income", description="Help with heating, housing and other living costs. Includes Universal Credit.") }}
{{ govUKCard(title="Benefits and financial support when someone dies", description="Help with costs and funeral expenses after someone has died. Includes Universal Credit.") }}


  </ul>
  </div>

      </div>
    </div>


{% endblock %}
