{% set serviceName = "" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}
  <style>
  .govuk-breadcrumbs__list-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.206875em;
    width: 0.4375em;
    height: 0.4375em;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid;
      border-top-width: medium;
      border-top-color: currentcolor;
      border-right-width: medium;
      border-right-color: currentcolor;
      border-bottom-width: medium;
      border-bottom-color: currentcolor;
      border-left-width: medium;
      border-left-color: currentcolor;
    border-width: 1px 1px 0 0;
    border-color: #fff;
  }
</style>

<div class="browse govuk-!-margin-bottom-8"">
  {{ super() }}

<div class="govuk-width-container ">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {{ govukPhaseBanner({
          tag: {
            text: "Prototype"
          },
          html: 'This is a not a real service – it is just for user research.'
        }) }}

        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list" >
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link"  style="color: #FFFFFF" href="#">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" style="color: #FFFFFF" href="#">Benefits</a>
            </li>
          </ol>
        </div>

       </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"> Manage an existing benefit, payment or claim </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-8" >Sign in to your account, report changes, find out about overpayments, or appeal a decision. Includes existing Universal Credit and tax credits claims. </p>
    </div>

  </div>
</div>
</div>
{% endblock %}


{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-{% if fullWidth %}full-width{% else %}two-thirds{% endif %}">
    <h2 class="govuk-heading-m"> Manage your benefit, payment or claim online </h2>

    <div class="browse__section">
      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-4"><a href="#">Sign in to your Universal Credit account</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Sign in to your childcare account</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Sign in to your Help to Save account</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="guide/index">Manage your tax credits</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Child Tax Credit</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Working Tax Credit</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="guide/index">How to renew tax credits</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Send your fit note for your ESA claim</a></li>
      </ul>
    </div>

    <div class="browse__section browse__section--top-border">
      <h2 class="govuk-heading-m"> Payments</h2>

      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-4"><a href="#">How and when your benefits are paid</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Get an advance on your first benefit payment</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Tax credits: your payment dates</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Child Benefit payment dates</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Appointment to check your benefit payment</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Payment Exception Servicet</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Manage deductions from your benefits to pay debts and bills</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Repay and manage benefit money you owe</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Disability premiums</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Cold Weather Payment</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Winter Fuel Payment</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Christmas Bonus</a></li>
      </ul>
    </div>

    <div class="browse__section browse__section--top-border">
     <h2 class="govuk-heading-m"> Tell us if something has changed</h2>

      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-4"><a href="#">Benefits: report a change in your circumstances</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Claiming benefits if you live, move or travel abroad</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Going into hospital if you get benefits</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Going into a care home if you get benefits</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Benefits and prison</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Payment Exception Servicet</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Get benefits if you're nearing the end of life</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Carer's Allowance: report changes</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Report changes that affect your tax credits</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Report changes that affect your Child Benefit</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Become an appointee for someone claiming benefits</a></li>
      </ul>
    </div>

    <div class="browse__section browse__section--top-border">
      <h2 class="govuk-heading-m"> Total amount of benefit you can get ('benefit cap') </h2>

      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-4"><a href="#">Benefit cap</a></li>
      </ul>
    </div>

    <div class="browse__section browse__section--top-border">
      <h2 class="govuk-heading-m">Appeal or complain about a decision </h2>

      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-4"><a href="#">Challenge a benefit decision (mandatory reconsideration)</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Appeal a benefit decision</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Appeal a Housing Benefit decision</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Child Benefit complaints</a></li>
        <li class="govuk-!-margin-bottom-4"><a href="#">Tax credits: appeals and complaints</a></li>
      </ul>
    </div>

      <div class="browse__section browse__section--top-border">
      <h2 class="govuk-heading-m">Overpayments and fraud  </h2>
  
        <ul class="govuk-list">
          <li class="govuk-!-margin-bottom-4"><a href="#">Benefit overpayments</a></li>
          <li class="govuk-!-margin-bottom-4"><a href="#">Benefit fraud</a></li>
          <li class="govuk-!-margin-bottom-4"><a href="#">Report benefit fraud</a></li>
          <li class="govuk-!-margin-bottom-4"><a href="#">Fraud and Error Prevention Service centres</a></li>
          <li class="govuk-!-margin-bottom-4"><a href="#">Repay Child Benefit overpayments</a></li>
          <li class="govuk-!-margin-bottom-4"><a href="#">Tax credits overpayments</a></li>
        </ul>
      </div>
  </div>
</div>

{% endblock %}
