{% set serviceName = "" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}
  <style>
  .govuk-breadcrumbs__list-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.206875em;
    width: 0.4375em;
    height: 0.4375em;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid;
      border-top-width: medium;
      border-top-color: currentcolor;
      border-right-width: medium;
      border-right-color: currentcolor;
      border-bottom-width: medium;
      border-bottom-color: currentcolor;
      border-left-width: medium;
      border-left-color: currentcolor;
    border-width: 1px 1px 0 0;
    border-color: #fff;
  }
</style>

<div class="browse govuk-!-margin-bottom-8"">
  {{ super() }}

<div class="govuk-width-container ">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a real service – it is just for user research.'
  }) }}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list" >
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"  style="color: #FFFFFF" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" style="color: #FFFFFF" href="#">Benefits</a>
      </li>
    </ol>
  </div>

  </div>
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl"> Manage an existing benefit, payment or claim </h1>
    <p class="govuk-body-l govuk-!-margin-bottom-8" >Sign in to your account, report changes, find out about overpayments, or appeal a decision. Includes existing Universal Credit and tax credits claims. 

</p>

</div>
      </div>
</div>
</div>
{% endblock %}


{% block beforeContent %}






{% endblock %}


{% block content %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-{% if fullWidth %}full-width{% else %}two-thirds{% endif %}">

  <h2 class="govuk-heading-m"> Manage your benefit, payment or claim online </h2>

{% set list  = [{title: "Sign in to your Universal Credit account", href: "#"}, 
                {title: "Sign in to your DWP account", href: "#"},
                {title: "Sign in to your childcare account", href: "#"}, 
                {title: "Sign in to your Help to Save account", href: "#"}, 
                {title: "Manage your tax credits", href: "guide/index"}, 
                {title: "Child Tax Credit", href: "guide/index"}, 
                {title: "Working Tax Credit", href: "guide/index"}, 
                {title: "How to renew tax credits", href: "guide/index"}, 
                {title: "Send your fit note for your ESA claim", href: "#"}] %}




<ul class="govuk-list">
  {% for object in list %}
<li class="govuk-!-margin-bottom-4"><a href="{{object.href}}">{{object.title}}</a></li>
{% endfor %}
</ul>



  </div>
</div>

{% endblock %}
