{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l">User research: onelogin</span>
        <h2 class="govuk-heading-l">
            Round 4
        </h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a class="govuk-link" href="/gds/notification-account-created-email">Email notification – account created</a>
            </li>
        </ul>

        {{ govukDetails({
            summaryText: "UR objectives for this round",
            html: "<a class='govuk-link' href='https://dwpdigital.atlassian.net/wiki/spaces/IDNT/pages/133461508199/Assumptions+for+user+research+round+2'>See Confluence for details - link needs updating" | safe
        }) }}

        {{ govukButton({
            text: "Start prototype",
            href: "/ur-r4/repay/start"
        }) }}

{% endblock %}