
{% extends "layout.html" %}

{% block pageTitle %}
You might be able to get financial support | Check what regular payments you could get if you're looking for work
{% endblock %}

{% block content %}

<a href="state-pension" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Applying for Pension Credit
        </h1>

  </div>
  </div>

  <div class="govuk-grid-row  govuk-!-margin-top-5">
              <div class="govuk-grid-column-two-thirds">

                    <h2 class="govuk-heading-m" id="uc">Who can get it</h2>
                    <p>You might be able to get Pension Credit if you live in the UK and have reached State Pension age.</p>
                    <p>If you have a partner, you'll be eligible if either:</p>
                    <ul class="govuk-list govuk-list--bullet">
                            <li>you and your partner have both reached State Pension age</li>
                            <li>one of you is getting Housing Benefit for people over State Pension age</li>
                          </ul>


<h2 class="govuk-heading-m" id="uc">Your income</h2>
<p>When you apply for Pension Credit your income is calculated. If you have a partner, your income is calculated together.
<p>Pension Credit tops up:</p>
                          <ul class="govuk-list govuk-list--bullet"><li>your weekly income to £177.10 if you’re single</li>
<li>your joint weekly income to £270.30 if you have a partner</li>
</ul>
<p>If your income is higher, you might still be eligible for Pension Credit if you have a disability, you care for someone, you have savings or you have housing costs.</p>
<p>Your State Pension, other pensions, earnings from employment and self-employment, and some social security benefits count as income.</p>

<h2 class="govuk-heading-m" id="uc">Your savings and investments</h2>
<p>If you have £10,000 or less in savings and investments this will not affect your Pension Credit.</p>

                          <h2 class="govuk-heading-m" id="uc">What you need to apply now</h2>
                          <p>You'll need:</p>
                          <ul class="govuk-list govuk-list--bullet">
                                 <li>your National Insurance number</li>
                                 <li>information about your income, savings and investments</li>
                              </ul>

                               <p>If you’re backdating your claim, you’ll need details of your income, savings and investments on the date you want your claim to start.</p>

                               <h2 class="govuk-heading-m" id="uc">Apply online</h2>
                               <p>You can use the online service if:</p>
                               <ul class="govuk-list govuk-list--bullet">
                                  <li>you have already claimed your State Pension</li>
                                  <li>there are no children or young people included in your claim</li>
                                </ul>

                               <a class="govuk-button" href="https://apply-for-pension-credit.service.gov.uk/">Apply now</a>

                               <h3 class="govuk-heading-m">If you cannot apply online or you need support</h3>
                                <p><a href="https://www.gov.uk/pension-credit/how-to-claim">Pension Credit - How to claim</a></p>


          </div>








      </div>


{% endblock %}
