
{% extends "layout.html" %}

{% block pageTitle %}
What is your date of birth? | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

{% if data.circumstance == 'employed' %}
{% set caption = 'Being unable to work' %}
{% endif %}
{% if data.circumstance == 'lostjob' %}
{% set caption = 'Being made unemployed' %}
{% endif %}
{% if data.circumstance == 'selfemployed' %}
{% set caption = 'Being self-employed and earning less' %}
{% endif %}
{% if data.circumstance == 'benefits' %}
{% set caption = 'Benefits I already get' %}
{% endif %}

<a href="#" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="bc-q2-partner" method="post" id="question-form" novalidate>

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <span class="govuk-caption-xl">{{caption}}</span>
                  <h1 class="govuk-fieldset__heading">
                    Were you born after 15 May 1952?
                  </h1>
                </legend>
                <span class="govuk-hint">
                  So we can check whether you're over
                  State Pension age.
                </span>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="radios-1" name="pension" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="radios-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="radios-2" name="pension" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="radios-2">
                      No
                    </label>
                  </div>
                </div>
      </fieldset>
            </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

        <script type="text/javascript">
          document.getElementById("radios-1").onclick = function () {
            document.getElementById("question-form").action="bc-q2-partner";
          }

          document.getElementById("radios-2").onclick = function() {
            document.getElementById("question-form").action="bc-o1-retirement-benefits";
          }

      </script>
      </form>
    </div>
  </div>


{% endblock %}
