
{% extends "layout.html" %}

{% block pageTitle %}
Most benefit payments are not affected | Check what help and support is available if your circumstances have changed due to Coronavirus (COVID-19)
{% endblock %}

{% block content %}

<a href="cv-q4-do-you-get-uc" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Benefits you already get</span>
        <h1 class="govuk-heading-xl">You'll continue to get your benefit payments
        as normal</h1>

        <p>Your payments will not be affected if you get:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Jobseeker’s Allowance</li>
    <li>New Style Jobseeker’s Allowance</li>
    <li>Employment and Support Allowance</li>
    <li>Disability Living Allowance</li>
    <li>Personal Independence Payment</li>
  </ul>

<p>You do not need to attend any Jobcentre Plus appointments or medical
  assessments during the coronavirus (COVID-19) outbreak, even if you do not
  have symptoms of coronavirus (COVID-19).</p>
<p>You should not attend the jobcentre unless asked to do so for an exceptional
  purpose, for example to collect your <a href="https://www.gov.uk/payment-exception-service">
    Payment Exception Service</a> vouchers.</p>
<p>You must still tell us about <a href="https://www.gov.uk/report-benefits-change-circumstances" class="govuk-link">
  changes to your circumstances</a>.</p>
    </div>
  </div>


{% endblock %}
