
{% extends "layout.html" %}

{% block pageTitle %}
What to do if you’re self-employed and getting less work | Check what help and support is available if your circumstances have changed due to Coronavirus (COVID-19)
{% endblock %}

{% block content %}

<a href="cv-q1-what-circs" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Being self-employed and earning less</span>
        <h1 class="govuk-heading-xl">You might be able to claim a grant if you’ve
          lost income</h1>

          <p class="govuk-body">If you’re getting less work due to coronavirus
            (COVID-19), you might be able to <a href="https://www.gov.uk/guidance/claim-a-grant-through-the-coronavirus-covid-19-self-employment-income-support-scheme">
              claim a grant through the coronavirus (COVID-19) Self-employment
              Income Support Scheme</a>.</p>

              <h3 class="govuk-heading-m">Getting other financial support</h3>
              <p class="govuk-body"><p>If your income has been affected by
                coronavirus (COVID-19), you can <a href="bc-q1-pension">check what
                  other financial support to apply for</a>.</p>

              <h3 class="govuk-heading-m">Looking for other work</h3>
              <p>Find full or part-time jobs in England, Scotland and Wales using the
                <a href="https://www.gov.uk/find-a-job">Find a job</a> service. There is
                a different service to search for <a href="https://www.jobcentreonline.com/JCOLFront/Home.aspx">
                jobs in Northern Ireland</a>.</p>


        <h2 class="govuk-heading-l" id="tax">If you cannot make a Self Assessment
          payment on account</h2>
        <p class="govuk-body">If you are due to make a Self Assessment payment
          on account by 31 July 2020, you can <a href="self-assessment">put off
            your payment</a> until January 2021.</p>
    </div>
  </div>


{% endblock %}
