
{% extends "layout.html" %}

{% block pageTitle %}
You may be covered by your employer's sick pay scheme | Check what help and support is available if your circumstances have changed due to Coronavirus (COVID-19)
{% endblock %}

{% block content %}

<a href="cv-q5-employer-sick-pay" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Being unable to work</span>
      <h1 class="govuk-heading-xl" id="furlough">Tell your employer that you
        have symptoms of coronavirus (COVID-19)</h1>
        <p class="govuk-body">Your employer should tell you if you’re covered by
          their sick leave policy.</p>
        <p class="govuk-body">After the first 7 days of absence, they may
          ask you for an isolation note to show you cannot work because of
          coronavirus (COVID-19). You can <a href="https://111.nhs.uk/isolation-note/">
            get an isolation note from NHS 111 online</a>.</p>
        <h3 class="govuk-heading-m">Statutory Sick Pay (SSP)</h3>
        <p class="govuk-body">If you cannot get sick pay from your employer, you
          might be able to <a href="https://www.gov.uk/statutory-sick-pay">get
            SSP</a> from day one of your illness.</p>
        <p class="govuk-body">The law is currently changing so that if you’ve
          been ill from coronavirus (COVID-19) since 13 March 2020 and you’re
          eligible for SSP, you will get a backdated payment.</p>
        <h3 class="govuk-heading-m">If you’re not eligible for sick pay or SSP</h3>
        <p class="govuk-body">If you cannot get sick pay or SSP, you can
          <a href="bc-q1-pension">check what other financial support to apply for</a>.</p>
    </div>
</div>


{% endblock %}
