
{% extends "layout.html" %}

{% block pageTitle %}
What to do if get Universal Credit | Check what help and support is available if your circumstances have changed due to Coronavirus (COVID-19)
{% endblock %}

{% block content %}

<a href="cv-q4-do-you-get-uc" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Benefits you already get</span>
        <h1 class="govuk-heading-xl">You&rsquo;ll continue to get Universal Credit as
          normal</h1>
        <p>If you&rsquo;ve been working while claiming Universal Credit, your payment
          will be adjusted if you can no longer work due to coronavirus
          (COVID-19).</p>
        <p>The <a href="https://www.gov.uk/universal-credit/what-youll-get#standard-allowance">
          standard allowance</a> increased on 6 April 2020. For example, for a single
          Universal Credit claimant (aged 25 and over) it has increased from
          £317.82 to £409.89 a month.</p>
        <p>You must still tell us about <a href="https://www.gov.uk/report-benefits-change-circumstances" class="govuk-link">
          changes to your circumstances</a>.</p>

      <h3 class="govuk-heading-m">Interviews and medical assessments</h3>
        <p>You do not need to attend any Jobcentre Plus appointments or medical
        assessments during the coronavirus (COVID-19) outbreak.</p>
        <p>You should not attend the jobcentre unless asked to do so for an
          exceptional purpose, for example to collect your <a href="https://www.gov.uk/payment-exception-service">
            Payment Exception Service</a> vouchers.</p>

      <h3 class="govuk-heading-m">If you’re self-employed and claiming Universal Credit</h3>
        <p>Since 30 March 2020, the way your Universal Credit payment is worked
          out has changed because of coronavirus (COVID-19).</p>
        <p>Payments are no longer calculated using an assumed level of earnings,
          called a Minimum Income Floor. They are now based on your actual
          earnings.</p>
        <p>If your payments were calculated using the Minimum Income Floor, they
          may change.</p>
        <p>You must still tell us about <a href="https://www.gov.uk/report-benefits-change-circumstances" class="govuk-link">changes to your circumstances</a>.</p>
    </div>
  </div>


{% endblock %}
