
{% extends "layout.html" %}

{% block pageTitle %}
Are you getting Universal Credit? | Check what help and support is available if your circumstances have changed due to Coronavirus (COVID-19)
{% endblock %}

{% block content %}

<a href="cv-q1-what-circs" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-xl">What to do about benefits you already get</span>
              <h1 class="govuk-fieldset__heading">
                Are you getting Universal Credit?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="circumstance" name="circumstance" type="radio" value="employed">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="circumstance-2" name="circumstance" type="radio" value="lost-job">
                <label class="govuk-label govuk-radios__label" for="circumstance-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <a href="#" class="govuk-button" id="continue-button">
          Continue
        </a>

        <script type="text/javascript">
          document.getElementById("circumstance").onclick = function () {
            document.getElementById("continue-button").href="cv-o11-uc";
          }

          document.getElementById("circumstance-2").onclick = function() {
            document.getElementById("continue-button").href="cv-o12-other-benefits";
          };

      </script>
      </form>
    </div>
  </div>


{% endblock %}
