
{% extends "layout.html" %}

{% block pageTitle %}
What are your circumstances at the moment? | Check what help and support is available if your circumstances have changed due to Coronavirus (COVID-19)
{% endblock %}

{% block content %}

<a href="index" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="" method="post" id="question-form" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Why do you need support?
              </h1>
            </legend>
            <p>Because of coronavirus (COVID-19):</p>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="circumstance" name="circumstance" type="radio" value="ill">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  I'm ill so I cannot work
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="circumstance-5" name="circumstance" type="radio" value="selfisolate">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  someone I live with is ill so I need to stay at home ('self-isolate')
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="circumstance-6" name="circumstance" type="radio" value="furlough">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  my employer has no work for me (I'm 'on furlough')
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="circumstance-2" name="circumstance" type="radio" value="lostjob">
                <label class="govuk-label govuk-radios__label" for="circumstance-2">
                  I've been made unemployed
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="circumstance-3" name="circumstance" type="radio" value="selfemployed">
                <label class="govuk-label govuk-radios__label" for="circumstance-3">
                  I'm earning less from self-employment
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="circumstance-4" name="circumstance" type="radio" value="benefits">
                <label class="govuk-label govuk-radios__label" for="circumstance-4">
                  I want to know what to do about benefits I already get
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" id="continue-button">
          Continue
        </button>

        <script type="text/javascript">
          document.getElementById("circumstance").onclick = function () {
            document.getElementById("question-form").action="cv-q5-employer-sick-pay";
          }

          document.getElementById("circumstance-2").onclick = function() {
            document.getElementById("question-form").action="cv-q3-when-lost-job";
          }

          document.getElementById("circumstance-3").onclick = function () {
            document.getElementById("question-form").action="cv-o10-self-employed";
          }

          document.getElementById("circumstance-4").onclick = function () {
            document.getElementById("question-form").action="cv-q4-do-you-get-uc";
          };

          document.getElementById("circumstance-5").onclick = function () {
            document.getElementById("question-form").action="cv-o4-live-with-self-iso";
          }

          document.getElementById("circumstance-6").onclick = function () {
            document.getElementById("question-form").action="cv-o5-furlough";
          };

      </script>
      </form>
    </div>
  </div>


{% endblock %}
