
{% extends "layout.html" %}

{% block pageTitle %}
Applying for both New Style Jobseeker's Allowance (JSA) and Universal Credit | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q7-national-insurance" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    
        <h1 class="govuk-heading-xl">
                Applying for both New Style Jobseeker's Allowance (JSA) and Universal Credit
        </h1>

  </div>
  </div>

  <div class="govuk-grid-row  govuk-!-margin-top-5">
              <div class="govuk-grid-column-two-thirds">  

                    <h2 class="govuk-heading-m" id="uc">Who can get it</h2>
                    <p>You might be able to get both New Style JSA and Universal Credit if:</p>
                    <ul class="govuk-list govuk-list--bullet">
                            <li>you live in the UK</li>
                            <li>you’re 18 or over (there are some exceptions if you’re 16 or 17 - contact Jobcentre Plus for advice)</li>
                            <li>you’re under State Pension age</li>
                            <li>you’re not in full-time education</li>
                            <li>you’re not working at the moment, or are working less than 16 hours per week on average, and are available for work</li>
                            <li>you do not have an illness or disability which stops you from working</li>
                            <li>you and your partner have £16,000 or less in savings between you</li>
                            <li>you have worked as an employee and paid Class 1 National Insurance contributions, usually in the last 2 to 3 years – National Insurance credits can also count</li>
                          </ul>

                          <div class="govuk-inset-text">You cannot get New Style JSA or Universal Credit if you get or are entitled to severe disability premium. You might be able to get <a href="https://www.gov.uk/jobseekers-allowance/apply-contribution-income-based-jsa">contribution based or income-based JSA</a>.</div>

                          <h2 class="govuk-heading-m" id="uc">If you’re getting tax credits</h2>

                          <p>If you get tax credits, they will stop if you or your partner makes a claim for Universal Credit, even if the claim is not approved. You will then only be able to make a new claim for tax credits if you’re eligible for severe disability premium.</p>
                          <p>If your application for Universal Credit is approved, you can get an advance to help you while you wait for your first payment.</p>

                          <h2 class="govuk-heading-m" id="uc">How New Style JSA and Universal Credit affect each other</h2>

                          <h3 class="govuk-heading-s" id="uc">Money</h3>
                          <p>If both claims are approved, the money you get from New Style JSA might affect how much you get from Universal Credit.</p>
                          <h3 class="govuk-heading-s" id="uc">National Insurance credits</h3>
                          <p>While you’re getting New Style JSA, you’ll be awarded Class 1 National Insurance credits. These can help towards your State Pension and other contributory benefits in the future.</p>
                          <p>If you’re only getting Universal Credit, you’ll be awarded Class 3 National Insurance credits. These only help towards your State Pension.</p>

                          <h2 class="govuk-heading-m" id="uc">How to apply</h2>

                          <p>Apply for New Style JSA first. At the end of the application, you’ll be directed to Universal Credit.</p>

                          <div class="govuk-inset-text">There’s a different process in <a href="https://www.nidirect.gov.uk/articles/jobseekers-allowance">Northern Ireland</a>.</div>

                          <p>You’ll need your:</p>

                          <ul class="govuk-list govuk-list--bullet">
                                <li>National Insurance number</li>
                                <li>bank or building society account details (or those of a family member or trusted friend) employment details for the past 6 months, including employer contact details and dates you worked with them</li>
                                <li>private pension or annuity statement letter if you get, or could get, payments from one</li>
                              </ul>
                              <p>It usually takes 20 minutes to complete the form. You will not be able to save your answers and come back to the form later. But you'll get a chance to check and update your answers before you send it.</p>
                              <p>We will treat your personal information carefully. We may use it for any of our purposes. To learn about your information rights and how we use information, see our <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter">personal information charter</a>.</p>

                          <a class="govuk-button" href="https://www.apply-for-new-style-jsa.dwp.gov.uk/form/default-claim-start">Apply now</a>

                               <h2 class="govuk-heading-m">If you cannot apply online, or need support</h3>
                                <p>If you need help applying or you’re aged 16 to 17, <a href="https://www.gov.uk/contact-jobcentre-plus/new-benefit-claims">contact Jobcentre Plus</a>.</p>
                                
        
          </div>






     

      </div>


{% endblock %}
