
{% extends "layout.html" %}

{% block pageTitle %}
Financial help if you’re looking for work 
{% endblock %}

{% block main %}

<div class="govuk-width-container {{ containerClasses }}">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
        </li>
        <li class="govuk-breadcrumbs__list-item active">
            Financial help if you’re looking for work
        </li>
      </ol>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Financial help if you’re looking for work</h1>
            
            <!--  contents -->
            <p class="govuk-body-s">Contents</p>

    <ul class="govuk-list govuk-list--dashed govuk-body-s">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a href="financial-support-looking-for-work">Regular payments</a>
            </li>
        
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <a href="financial-support-looking-for-work-specific-costs">Help with specific living costs</a>
                      </li>
        
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="financial-support-looking-for-work-apply-decide">Help with applying or deciding which benefit is right for you</a>
          
                  </li>
                  
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                        Other help if you’re disabled, caring for someone, or looking after a family
                  </li>
                   
                </ul>
            <!--  /contents -->
                
                
            <h2 class="govuk-heading-l govuk-!-margin-top-6 overview-top-border">Other help</h2>

                <p>Other help is available if:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li><a href="benefits">you're on a low income</a>
                  <li><a href="benefits">you're temporarily unable to work</a>
                  <li><a href="benefits">you're disabled or have a health condition</a>
                  <li><a href="benefits">you're caring for someone</li>
                  <li><a href="benefits">you're looking after a family</li>
                  <li><a href="benefits">someone has died</li>
                  </ul>


            <hr>

            

          </div>

          <div class="govuk-grid-column-one-third">
              
              
            </div>
          
      </div>


    </main>

<!--  /govuk-width-container -->
</div>

{% endblock %}
