{% extends "layout.html" %}

{% block pageTitle %}
Get support if you're struggling with heating and housing costs
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "index"
          },
          {
            text: "Benefits",
            href: "benefits"
          },
          {
            text: "Heating and housing costs"
          }
        ]
      }) }}


    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Get support if you're struggling with heating and housing costs</h1>

              <h2 class="govuk-heading-l">Housing benefits</h2>

    <ul>
        <li>
          <a class="govuk-link" href="https://www.gov.uk//housing-benefit">Housing Benefit</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk//apply-council-tax-reduction">Apply for Council Tax Reduction</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk//apply-housing-benefit-from-council">Housing Benefit information from your council</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk//housing-and-universal-credit">Housing costs and Universal Credit</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk//appeal-housing-benefit-decision">Appeal a Housing Benefit decision</a>
        </li>
    </ul>
      <h2 class="govuk-heading-l">Heating benefits</h2>

    <ul>
        <li>
          <a class="govuk-link" href="https://www.gov.uk//cold-weather-payment">Cold Weather Payment</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk//the-warm-home-discount-scheme">Warm Home Discount Scheme</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk//winter-fuel-payment">Winter Fuel Payment</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk//national-concessionary-fuel-scheme">National Concessionary Fuel Scheme</a>
        </li>
    </ul>
      <h2 class="govuk-heading-l">Other help available </h2>

    <ul>
        <li>
          <a class="govuk-link" href="https://www.gov.uk//free-discount-tv-licence">Get a free or discounted TV licence</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk//bills-benefits">Help paying bills using your benefits</a>
        </li>
    </ul>

          </div>
      </div>

    </main>
  </div>
{% endblock %}
