
{% extends "layout.html" %}

{% block pageTitle %}
Help with your income if someone has died | GOV.UK
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

<div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Support if someone has died</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Regular payments</a>
              </li>
        </ol>
      </div>

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Regular payments if someone has died</h1>
            <p class="govuk-body-l"><p class="govuk-body-l">The following payments are available, depending on your situation.</p>

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    Bereavement Support Payment
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p>Bereavement Support Payment is a first, one-off payment and up to 18 monthly payments. You could get it if your husband, wife or civil partner died in the last 21 months.</p>
                                <p><strong>Eligibility</strong></p>
                                <p>You may be able to get Bereavement Support Payment if your husband, wife or civil partner either:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>paid National Insurance contributions for at least 25 weeks in one tax year</li>
                                    <li>died because of an accident at work or a disease caused by work</li>
                                </ul>
                                <p>When they died you must have been:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>under <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                                    <li>living in the UK or <a href="https://www.gov.uk/claim-benefits-abroad/bereavement-benefits">a country that pays bereavement benefits</a></li>
                                </ul>
                                <p>You must claim within 3 months of your partner’s death to get the full amount. You can claim up to 21 months after their death but you’ll get fewer monthly payments.</p>
                            <p><a href="https://www.gov.uk/bereavement-support-payment/how-to-claim">How to apply for Bereavement Support Payment</a></p>
                            </div>
                          </div>

                      <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                Guardian's Allowance
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <p>You could get Guardian’s Allowance if you’re bringing up a child whose parents have died. You may also be eligible if there’s one surviving parent.</p>
                            <p>The Guardian’s Allowance rate is £17.90 a week. You get it on top of Child Benefit and it’s tax-free.</p>
                            <p><a href="https://www.gov.uk/guardians-allowance/how-to-claim">How to apply for Guardian's Allowance</a></p>

                      </div>
                      </div>

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    Universal Credit
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                              <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>
                              <p><strong>If you already get tax credits</strong></p>
                              <p>If you're already getting tax credits, they will stop when you apply for Universal Credit.</p>
                              <p><strong>Eligibility</strong></p>
                                <p>You might be able to get Universal Credit if:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>you’re on a low income or out of work</li>
                                    <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                                    <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> (or your partner is)</li>
                                    <li>you and your partner have £16,000 or less in savings between you</li>
                                    <li>you live in the UK</li>
                                </ul>
                                <p><a href="guide-uc">Find out more about Universal Credit</a></p>
                            </div>
                          </div>

                          <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                        Widowed Parent’s Allowance (WPA)
                                    </span>
                                  </h2>
                                </div>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                    <p>WPA is being replaced by Bereavement Support Payment.</p>
                                    <p>You can only make a new claim for WPA if your husband, wife or civil partner died before 6 April 2017 and the cause of death has just been confirmed.</p>
                                    <p><a href="https://www.gov.uk/widowed-parents-allowance/how-to-claim">How to apply for Widowed Parent’s Allowance</a></p>
                                </div>
                              </div>

                              <div class="govuk-accordion__section">
                                  <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                            War Widow's or Widower's Pension
                                        </span>
                                      </h2>
                                    </div>
                                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                        <p>You may be entitled to War Widow’s or Widower’s Pension if your husband, wife or civil partner died as a result of their service in Her Majesty’s (HM) Armed Forces or during a time of war.</p>
                                            <p>They must have served before 6 April 2005, but you may be eligible if they died of an illness or injury later.</p>
                                        <p><a href="https://www.gov.uk/war-widow-pension/how-to-claim">How to apply for War Widow's or Widower's Pension</a></p>
                                    </div>
                                  </div>
                                  </div>

                                  <p>Other help is also available if:</p>
                                  <ul class="govuk-list govuk-list--bullet">
                                        <li><a href="http://localhost:3000/version-0-15/benefits">you're looking for work</a>
                                            <li><a href="http://localhost:3000/version-0-15/benefits">you're temporarily unable to work</a>
                                            <li><a href="http://localhost:3000/version-0-15/benefits">you're on a low income</a>
                                            <li><a href="http://localhost:3000/version-0-15/benefits">you're disabled or have a health condition</a>
                                            <li><a href="http://localhost:3000/version-0-15/benefits">you're caring for someone</li>
                                            <li><a href="http://localhost:3000/version-0-15/benefits">you're looking after a family</li>
                                  </ul>
              </div>



        </div>


          </div>

        </main>

        </div>


{% endblock %}
