
{% extends "layout.html" %}

{% block pageTitle %}
How would you like to return to your results? | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="summary-scenarios" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="q3-circs" method="post" id="question-form" novalidate>

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                      How would you like to return to these results?
                  </h1>    
                </legend>  
                  <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radios-1" name="country" type="radio" value="eng">
                        <label class="govuk-label govuk-radios__label" for="radios-1">
                            Send me an email with a link
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radios-2" name="country" type="radio" value="sco">
                        <label class="govuk-label govuk-radios__label" for="radios-2">
                            Send me a text message with a link
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radios-3" name="country" type="radio" value="wls">
                        <label class="govuk-label govuk-radios__label" for="radios-3">
                          Get a reference code
                        </label>
                      </div>
                    
                    </div>
                
                
      </fieldset>
            </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

        <script type="text/javascript">
          document.getElementById("radios-1").onclick = function() {
                var link = "send-email";
            document.getElementById("question-form").action=link;
          }
          document.getElementById("radios-2").onclick = function() {
                var link = "send-text";
            document.getElementById("question-form").action=link;
          }
          document.getElementById("radios-3").onclick = function() {
                var link = "send-ref";
            document.getElementById("question-form").action=link;
          }
        </script>

      </form>
    </div>
  </div>


{% endblock %}
