
{% extends "layout.html" %}

{% block pageTitle %}
What is your date of birth? | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q8-health" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">{{caption}}</span>
            <h1 class="govuk-heading-xl" id="furlough">You might be able to get
              financial support</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

              <p>You told us that you need:</p>

              <ul class="govuk-list govuk-list--bullet">
                  <li><a href="#uc">support because you're out of work</a></li>
                  <li><a href="#esa">support with a health condition or disability</a></li>
                  <li><a href="#ca">support to care for another adult</a></li>
                  <li><a href="#died">support because someone has died</a></li>
                </ul>

                <p>The following benefits are based on the answers you have given.</p>


          <hr>
          <h2 class="govuk-heading-m" id="uc">Support because you're out of work</h2>
          <p><strong>Universal Credit</strong></p>
          <p>Universal Credit is a payment to help with your living costs if you’re on a low income, out of work or cannot work.</p>
          <div class="govuk-inset-text">If you get tax credits, they will stop when you or your partner applies for Universal Credit.</div>
          <a class="govuk-button" href="https://www.gov.uk/universal-credit/how-to-claim">Apply now</a>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Housing Benefit
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>A payment to help you with your rent.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Council Tax Reduction
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>Apply to your local council for a discount on your Council Tax bill.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Support for Mortgage Interest
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>Help towards interest payments on your mortgage, if you're a homeowner.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Mortgage Interest Run On
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>Extra money towards your housing costs if certain other benefits are stopping.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Help to Save
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>Help with savings if you're on a low income.</p>
    </div>
  </div>

          <hr>
          <h2 class="govuk-heading-m" id="esa">Support with a health condition or disability</h2>
          <p><strong>New Style Employment and Support Allowance (ESA)</strong></p>
          <p>New Style ESA is a payment to help with your living costs if you if you have a disability or health condition that affects how much you can work.</p>
           <a class="govuk-button" href="https://www.gov.uk/employment-support-allowance/how-to-claim">Apply now</a>

           <p><a class="govuk-link" href="/version-0-5/summary-carers">Check what other financial support you could get to help with a health condition or disability</a>.</p>

          <hr>
          <h2 class="govuk-heading-m" id="ca">Support to care for another adult</h2>
          <p><a class="govuk-link" href="/version-0-5/summary-carers">Check what financial support you could get to help cover the cost of caring for someone</a>.</p>

          <hr>
          <h2 class="govuk-heading-m" id="ca">Support because someone has died</h2>
          <p><a class="govuk-link" href="https://www.gov.uk/when-someone-dies">Check what financial support you could get to help after a death</a>.</p>

          <hr>
          <h2 class="govuk-heading-m">Applying for other benefits</h2>
          <p>You can still <a class="govuk-link" href="/version-0-4b/benefits">apply for other benefits</a> but you might not be
          eligible for them.</p>

      </div>

      <div class="govuk-grid-column-one-third">
          <div class="return-me">
          <h2 class="govuk-heading-m return-header">Send these results</h2>
          <p>Choose to have these results sent by email, or use a reference code to see them.</p>
          <a class="govuk-button" href="send">Continue</a>
          </div>
      </div>

      </div>


{% endblock %}
