
{% extends "layout.html" %}

{% block pageTitle %}
Financial support to help with your income | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Getting regular payments if you have low or no income</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <p class="govuk-body-l">You might be able to get the following financial
                  support if you're struggling to cover living costs. You do not have
                  to be unemployed to get support – you could be earning a low income or retired.</p>

                <p>If you're unsure which benefits might be best for you, you can <a href="start">answer some questions to find out</a>.</p>

          <hr>
          <span class="govuk-caption-xl">If you're unemployed or on a low income:</span>
          <h3 class="govuk-heading-l govuk-!-margin-top-7">Universal Credit</h3>
          <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>

          <div class="govuk-inset-text">If you already get tax credits, they will stop when you or your partner applies for Universal Credit.</div>

          <p><a href="https://www.gov.uk/universal-credit/eligibility">Check Universal Credit eligibility information carefully before applying</a>.</p>

          <a class="govuk-button" href="https://www.gov.uk/universal-credit/how-to-claim">Apply now</a>




          <hr>
          <span class="govuk-caption-xl">If you've worked in the last 2 to 3 years:</span>
          <h3 class="govuk-heading-l  govuk-!-margin-top-7">New Style Jobseeker's Allowance</h3>

          <p>New Style Jobseeker's Allowance is a payment to support you while you’re looking for work. While receiving it, you’ll also be awarded Class 1 National Insurance credits, which can help towards your State Pension and other benefits you might need in the future.</p>
          <p>It's paid every 2 weeks, usually into your bank, building society or credit union account. You can receive it for up to 182 days (about 6 months). </p>

          <div class="govuk-inset-text">You can apply New Style Jobseeker's
            Allowance as well as Universal Credit but you may not be better off,
            depending on your situation.</div>

          <p><a href="https://www.gov.uk/jobseekers-allowance/eligibility">Check New Style Jobseeker's Allowance eligibility information carefully before applying</a>.</p>

          <a class="govuk-button" href="https://www.gov.uk/jobseekers-allowance/apply-new-style-jsa">Apply now</a>



          <hr>
          <span class="govuk-caption-xl">If you've reached State Pension age:</span>
          <h3 class="govuk-heading-l govuk-!-margin-top-7">Pension Credit</h3>
          <p>Pension Credit tops up your weekly income if it’s below £173.75 (for single people) or £265.20 (for couples). You may still be eligible if you have savings, a pension or you own your home.</p>

          <div class="govuk-inset-text">If you have not already, you might be able to <a href="https://www.gov.uk/get-state-pension">get your State Pension</a>.</div>

          <p><a href="https://www.gov.uk/pension-credit/eligibility">Check Pension Credit eligibility information carefully before applying</a>.</p>

          <a class="govuk-button" role="button" href="https://www.gov.uk/pension-credit/how-to-claim">Apply now</a>


          <hr>
          <h3 class="govuk-heading-l govuk-!-margin-top-7">Additional support</h3>

          <p>You might be able to get <a href="support-to-help-with-bills-and-expenses">help with paying your bills and living expenses</a>.</p>

          <p>Other financial support might be available if:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="/version-0-8/summary-carers">you're caring for another adult</a></li>
              <li><a href="https://www.gov.uk/browse/childcare-parenting/financial-help-children">you're looking after children, or about to</a></li>
              <li><a href="https://www.gov.uk/financial-help-disabled">you're disabled or have a health condition</a></li>
              <li><a href="https://www.gov.uk/when-someone-dies">someone has died</a></li>
            </ul>
            </div>



          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
