
{% extends "layout.html" %}

{% block pageTitle %}
Financial support if you're caring for a family | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Financial support if you're caring for children, or about to</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <p class="govuk-body-l">You might be able to get the following financial support if you need help with the cost of caring for children.</p>

                <hr>
                <span class="govuk-caption-l govuk-!-margin-top-7">If you're responsible for bringing up children:</span>
                <h3 class="govuk-heading-l">Child Benefit</h3>

                <p>Child Benefit is a payment every 4 weeks to help with the cost of raising a child. You can choose not to get Child Benefit payments, but you should still send off the claim form so that:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>you can get <a href="https://www.gov.uk/national-insurance-credits">National Insurance credits</a> which count towards your <a href="https://www.gov.uk/new-state-pension">State Pension</a></li>
                  <li>your child will automatically get a National Insurance number when they’re 16 years old</li>
                </ul>

                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                Eligibility
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

                              <p>You get Child Benefit if you’re responsible for bringing up a child who is:</p>

                              <ul class="govuk-list govuk-list--bullet">
        <li>under 16</li>
        <li>under 20 if they stay in approved <a href="/child-benefit-16-19">education or training</a>
      </li>
      </ul>

      <p>Only one person can get Child Benefit for a child. There’s no limit to how many children you can claim for.</p>

                        </div>
                      </div>
                      <div class="govuk-accordion__section ">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                  Applying for other benefits at the same time
                              </span>
                            </h2>
                          </div>
                          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                            <p class='govuk-body'>You can apply for any other financial support, including Universal Credit, while you claim Child Benefit.</p>
                          </div>
                        </div>
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    Next steps
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p><a href="https://www.gov.uk/child-benefit">Get more information about Child Benefit</a>.</p>
                                <h4 class="govuk-heading-s">How to apply</h4>
                                <p>You can claim Child Benefit as soon as you’ve registered the birth of your child, or they come to live with you. You'll nee</p>

                                <p>It can take up to 12 weeks to process a new Child Benefit claim (or longer if you’re new to the UK). Child Benefit can be backdated for up to 3 months.</p>

                                <p>Find out more about <a href="https://www.gov.uk/child-benefit/how-to-claim">how to apply for Child Benefit</a>.</p>

                            </div>
                          </div>
                  </div>

                <span class="govuk-caption-l govuk-!-margin-top-7">If you're unemployed or on a low income:</span>
                <h3 class="govuk-heading-l">Universal Credit</h3>
                <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>

                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                Eligibility
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <p>You may be able to get Universal Credit if:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>you’re on a low income or out of work</li>
                                <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                                <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> (or your partner is)</li>
                                <li>you and your partner have £16,000 or less in savings between you</li>
                                <li>you live in the UK</li>
                            </ul>
                        </div>
                      </div>
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                If you already get tax credits
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                            <p class='govuk-body'>If you're already getting Tax Credits, they will stop when you or your partner applies for Universal Credit.</p>
                        </div>
                      </div>
                      <div class="govuk-accordion__section ">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Next steps
                              </span>
                            </h2>
                          </div>
                          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                              <p><a href="https://www.gov.uk/universal-credit">Get more information about Universal Credit</a>.</p>
                             <h4 class="govuk-heading-s">How to apply</h4>
                             <p>You'll need:</p>
                             <ul class="govuk-list govuk-list--bullet">
                                    <li>your bank, building society or credit union account details (call the Universal Credit helpline if you do not have one)</li>
                                    <li>an email address</li>
                                    <li>
                                  <a href="https://www.gov.uk/housing-and-universal-credit">information about your housing</a>, for example how much rent you pay</li>
                                    <li>details of your income, for example payslips</li>
                                    <li>details of savings and any investments, like shares or a property that you rent out</li>
                                    <li>details of how much you pay for childcare if you’re applying for help with childcare costs</li>
                                  </ul>
                                  <p>If you do not provide the right information when you apply it might affect when you get paid or how much you get.</p>
                                  <p>You also have to verify your identity online. You’ll need some proof of identity for this, for example your:</p>
                                  <ul class="govuk-list govuk-list--bullet">
                                    <li>driving licence</li>
                                    <li>passport</li>
                                    <li>debit or credit card</li>
                                  </ul>
                                  <a class="govuk-button" href="https://www.gov.uk/universal-credit/how-to-claim">Apply now</a>
                          </div>
                        </div>

                  </div>




          <span class="govuk-caption-l govuk-!-margin-top-7">If you need childcare:</span>
          <h3 class="govuk-heading-l">Help paying for childcare</h3>
          <p>You might be able to get help with approved childcare costs, including:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>free childcare for children aged between 2 and 4</li>
            <li>help with childcare costs if your child is under 16 (or under 17 and disabled)</li>
          </ul>

          <p>You can get help paying for childcare if it’s provided by a:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>registered childminder, nanny, playscheme, nursery or club</li>
            <li>childminder or nanny with a registered childminder agency or childcare agency</li>
            <li>registered school</li>
            <li>home care worker working for a registered home care agency</li>
          </ul>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">


              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Check what you can apply for
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p>You can use the <a href="https://www.gov.uk/childcare-calculator">childcare calculator</a> to check what you can apply for.</p>
                  </div>
                </div>
            </div>




            <h3 class="govuk-heading-l govuk-!-margin-top-7">Disability Living Allowance (DLA) for children</h3>
            <p>You may be able to apply for Disability Living Allowance (DLA) for children to help with the extra costs of looking after a child who:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>is under 16</li>
              <li>has difficulties walking or needs much more looking after than a child of the same age who does not have a disability</li>
            </ul>


              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Find out more and how to apply
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p>Please visit the <a href="https://www.gov.uk/disability-living-allowance-children">Disability Living Allowance (DLA) for children page</a> for full details and how to apply.</p>

                  </div>
                </div>
            </div>



            <h3 class="govuk-heading-l govuk-!-margin-top-7">Guardian’s Allowance</h3>
            <p>You could get Guardian’s Allowance if you’re bringing up a child whose parents have died. You may also be <a href="/guardians-allowance/eligibility">eligible</a> if there’s one surviving parent.</p>

            <p>The <a href="/guardians-allowance/what-youll-get">Guardian’s Allowance rate</a> is £17.90 a week. You get it on top of <a href="/child-benefit">Child Benefit</a> and it’s tax-free.</p>

              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Find out more and how to apply
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p>Please visit the <a href="https://www.gov.uk/guardians-allowance">Guardian’s Allowance page</a> for full details and how to apply.</p>

                  </div>
                </div>
            </div>



            </div>



          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
