
{% extends "layout.html" %}

{% block pageTitle %}
Financial support if you're caring for a family | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Get financial support if you're caring for another adult</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <p class="govuk-body-l">You might be able to get following financial support to help cover costs if you're caring for another adult.</p>

                <span class="govuk-caption-xl govuk-!-margin-top-7">If you're unemployed or on a low income:</span>
                <h3 class="govuk-heading-l">Universal Credit</h3>
                <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>

                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                Eligibility
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <p>You may be able to get Universal Credit if:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>you’re on a low income or out of work</li>
                                <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                                <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> (or your partner is)</li>
                                <li>you and your partner have £16,000 or less in savings between you</li>
                                <li>you live in the UK</li>
                            </ul>
                        </div>
                      </div>
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                If you already get tax credits
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                            <p class='govuk-body'>If you're already getting Tax Credits, they will stop when you or your partner applies for Universal Credit.</p>
                        </div>
                      </div>
                      <div class="govuk-accordion__section ">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Next steps
                              </span>
                            </h2>
                          </div>
                          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                              <p><a href="https://www.gov.uk/universal-credit">Get more information about Universal Credit</a>.</p>
                             <h4 class="govuk-heading-s">How to apply</h4>
                             <p>You'll need:</p>
                             <ul class="govuk-list govuk-list--bullet">
                                    <li>your bank, building society or credit union account details (call the Universal Credit helpline if you do not have one)</li>
                                    <li>an email address</li>
                                    <li>
                                  <a href="https://www.gov.uk/housing-and-universal-credit">information about your housing</a>, for example how much rent you pay</li>
                                    <li>details of your income, for example payslips</li>
                                    <li>details of savings and any investments, like shares or a property that you rent out</li>
                                    <li>details of how much you pay for childcare if you’re applying for help with childcare costs</li>
                                  </ul>
                                  <p>If you do not provide the right information when you apply it might affect when you get paid or how much you get.</p>
                                  <p>You also have to verify your identity online. You’ll need some proof of identity for this, for example your:</p>
                                  <ul class="govuk-list govuk-list--bullet">
                                    <li>driving licence</li>
                                    <li>passport</li>
                                    <li>debit or credit card</li>
                                  </ul>
                                  <a class="govuk-button" href="https://www.gov.uk/universal-credit/how-to-claim">Apply now</a>
                          </div>
                        </div>

                  </div>


          <span class="govuk-caption-xl govuk-!-margin-top-7">If you're a full-time carer:</span>
          <h3 class="govuk-heading-l">Carer's Allowance</h3>

          <p>Carer's Allowance is a weekly payment to help cover the cost of caring for someone.</p>



          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p>You could be eligible for Carer's allowance if:</p>
                        <ul class="govuk-list govuk-list--bullet">
                                <li>you’re 16 or over</li>
                                <li>you spend at least 35 hours a week caring for someone</li>
                                <li>you normally live in England, Scotland or Wales</li>
                                <li>you’re not studying for 21 hours a week or more</li>
                                <li>you earn £128 or less a week after tax, National Insurance and expenses</li>
                                <li>the person you're caring for must already be getting:
                                    <ul class="govuk-list">
                                        <li>– Personal Independence Payment - daily living component</li>
                                        <li>– Disability Living Allowance - the middle or highest care rate</li>
                                        <li>– Attendance Allowance</li>
                                        <li>– Constant Attendance Allowance at or above the normal maximum rate with an Industrial Injuries Disablement Benefit</li>
                                        <li>– Constant Attendance Allowance at the basic (full day) rate with a War Disablement Pension</li>
                                        <li>– Armed Forces Independence Payment</li>
                                    </ul>
                                </li>
                              </ul>

                  </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Applying for Universal Credit at the same time
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p class='govuk-body'>You can get Universal Credit at the same time as Carer's Allowance.</p>
                      <p>Carer’s Allowance can affect the other
                        benefits that you and the person you care for get.
                        You have to pay tax on it if your income is over the Personal Allowance.</p>
                    </div>
                  </div>
                  <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                              Next steps
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                          <p><a href="https://www.gov.uk/carers-allowance">Get more information about Carer's Allowance</a>.</p>
                          <h4 class="govuk-heading-s">How to apply</h4>
                          <p>Before you apply make sure you have your:</p>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>National Insurance number (if you have a partner you’ll need theirs too)</li>
                            <li>bank or building society details (unless you get your State Pension)</li>
                            <li>employment details and latest payslip if you’re working</li>
                            <li>P45 if you’ve recently finished work</li>
                            <li>course details if you’re studying</li>
                            <li>details of any expenses, for example pension contributions or the cost of caring for your children or the disabled person while you’re at work</li>
                          </ul>

                          <p>You also need details of the person you care for. You need their:</p>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>date of birth</li>
                            <li>address</li>
                            <li>National Insurance number if they’re 16 or over</li>
                            <li>Disability Living Allowance reference if they’re under 16</li>
                          </ul>
                          <p>You can backdate your claim by up to 3 months.</p>
                          <a class="govuk-button" href="https://www.gov.uk/carers-allowance/how-to-claim">Apply now</a>
                      </div>
                    </div>
            </div>

          <span class="govuk-caption-xl govuk-!-margin-top-7">If you're caring at least 20 hours a week:</span>
          <h3 class="govuk-heading-l">Carer's Credit</h3>
          <p>Carer's Credit a National Insurance credit that helps with gaps in your National Insurance record. This means you can take on caring responsibilities without affecting your ability to qualify for the State Pension.</p>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p>You could be eligible for Carer's Credit if:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>the person you're caring for gets certain benefits</li>
                          <li>you’re 16 or over</li>
                          <li>under State Pension age</li>
                          <li>you spend at least 20 hours a week caring for someone</li>
                        </ul>
                  </div>
                </div>
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Next steps
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p><a href="https://www.gov.uk/carers-credit">Get more information about Carer's Credit</a>.</p>
                      <h4 class="govuk-heading-s">How to apply</h4>
                      <p>You don’t need to apply for Carer’s Credit if you:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>get Carer’s Allowance - you’ll automatically get credits</li>
                        <li>get Child Benefit for a child under the age of 12 - you’ll automatically get credits</li>
                        <li>are a foster carer - you can apply for National Insurance credits instead</li>
                      </ul>

                      <p>Find out how to <a href="https://www.gov.uk/carers-credit/how-to-claim">apply using a form</a>.</p>



                  </div>
                </div>
            </div>



              <h2 class="govuk-heading-xl govuk-!-margin-top-7">Other support</h2>
              <p>The person you are caring for might be able to get other <a href="support-health-disability">support because of their health condition or disability</a>. You can also <a href="benefits">browse all benefits</a>.</p>



            </div>



          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
