
{% extends "layout.html" %}

{% block pageTitle %}
Email address | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="send-email" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

                  <h1 class="govuk-heading-xl">
                      Check your email
                  </h1>    
                  <p>We have sent an email to name@name.com.</p>  
                  <p>You can click on the link in the email to return to the results.</p>  
                  <a class="govuk-button" href="summary-scenarios">Return to the results</a>
                
                
            </div>

        

      </form>
    </div>
  </div>


{% endblock %}
