
{% extends "layout.html" %}

{% block pageTitle %}
Applying for Universal Credit | Check what regular payments you could get if you're looking for work
{% endblock %}

{% block content %}

<a href="q3-pension" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Applying for Universal Credit</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-m">Who can get it</h2>
                <p>You may be able to get Universal Credit if:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>you’re on a low income or out of work</li>
                    <li>you’re 18 or over (there are some exceptions if you’re 16 to 17)</li>
                    <li>you’re under State Pension age (or your partner is)</li>
                    <li>you and your partner have £16,000 or less in savings between you</li>
                    <li>you live in the UK</li>
                </ul>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                          16 and 17 years olds who can apply
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p>You can claim Universal Credit if any of the following apply:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>you have medical evidence and are waiting for a Work Capability Assessment</li>
                    <li>you’re caring for a severely disabled person</li>
                    <li>you’re responsible for a child</li>
                    <li>you’re in a couple with responsibility for at least one child and your partner is eligible for Universal Credit</li>
                    <li>you’re pregnant and it’s 11 weeks or less before your expected week of childbirth</li>
                    <li>you’ve had a child in the last 15 weeks</li>
                    <li>you do not have parental support, for example you’re estranged from your parents and you’re not under local authority care</li>
                </ul>
                    </div>
                  </details>



                <h2 class="govuk-heading-m">If you’re getting tax credits</h2>
                <p>If you get tax credits, they will stop if you or your partner makes a claim for Universal Credit, even if the claim is not approved. You will not be able to make a new claim for tax credits.</p>
                <p>If your application for Universal Credit is approved, you can get an advance to help you while you wait for your first payment.</p>

                <h2 class="govuk-heading-m">How to apply</h2>
                <p>You have to apply as a couple if you and your partner live together.</p>
                <p>To apply online, you'll need:</p>
                <ul class="govuk-list govuk-list--bullet">
                       <li>your bank, building society or credit union account details (call the Universal Credit helpline if you do not have one)</li>
                       <li>an email address</li>
                       <li>
                     <a href="https://www.gov.uk/housing-and-universal-credit">information about your housing</a>, for example how much rent you pay</li>
                       <li>details of your income, for example payslips</li>
                       <li>details of savings and any investments, like shares or a property that you rent out</li>
                       <li>details of how much you pay for childcare if you’re applying for help with childcare costs</li>
                     </ul>
                     <p>If you do not provide the right information when you apply it might affect when you get paid or how much you get.</p>
                     <p>You also have to verify your identity online. You’ll need some proof of identity for this, for example your:</p>
                     <ul class="govuk-list govuk-list--bullet">
                       <li>driving licence</li>
                       <li>passport</li>
                       <li>debit or credit card</li>
                     </ul>
                     <a class="govuk-button" href="https://www.universal-credit.service.gov.uk/postcode-checker">Apply now</a>

                     <h3 class="govuk-heading-m">If you cannot apply online or you need support</h3>
                     <p><a href="https://www.gov.uk/universal-credit/how-to-claim">Universal Credit - How to claim</a></p>

            </div>



          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
