
{% extends "layout.html" %}

{% block pageTitle %}
Financial help if you’re looking for work
{% endblock %}

{% block main %}

<div class="govuk-width-container {{ containerClasses }}">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
        </li>
        <li class="govuk-breadcrumbs__list-item active">
            Financial help if you’re looking for work
        </li>
      </ol>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Financial help if you’re looking for work</h1>

            <!--  contents -->
            <p class="govuk-body-s">Contents</p>

    <ul class="govuk-list govuk-list--dashed govuk-body-s">
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                    Regular payments if you're looking for work
                  </li>

                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <a href="financial-support-looking-for-work-specific-costs">Other support if you're on a low income</a>
                      </li>


                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="financial-support-looking-for-work-other-help">Further help if you’re disabled, caring for someone, or looking after a family</a>
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <a href="financial-support-looking-for-work-apply-decide">Help to find and apply for the right benefits for you</a>

                    </li>

                </ul>
            <!--  /contents -->


            <h2 class="govuk-heading-l govuk-!-margin-top-6 overview-top-border">Regular payments if you're looking for work</h2>
            <p>Depending on your situation, you might be able to get regular payments if you're looking for work.</p>

            <h3 class="govuk-heading-m">If you're under State Pension age</h3>
            <p>If you're under State Pension age, you might be able to get Universal Credit or New Style Jobseeker's Allowance, or both. You will be expected to prepare for and look for work while you're getting this support.</p>

            <h4 class="govuk-heading-s">New Style Jobseeker’s Allowance (JSA)</h4>
            <P>You could get New Style JSA if you're under State Pension age, are unemployed or normally work less than 16 hours per week. You also need to have made enough National Insurance contributions, usually over the last 2 to 3 years. Your savings and partner’s income will not affect your claim. You might be able to get Universal Credit at the same time as New Style JSA. You'll need to apply for each benefit separately.</p>
            <p><a href="https://www.gov.uk/jobseekers-allowance">Find out more or apply for New Style JSA</a></p>

            <h4 class="govuk-heading-s">Universal Credit</h4>
            <p>You could get Universal Credit if you have £16,000 or less in savings and you or your partner is under State Pension age. If you're already getting tax credits, they will stop when you or your partner applies for Universal Credit. You might be able to get Universal Credit at the same time as New Style JSA. You'll need to apply for each benefit separately.</p>
            <p><a href="https://www.gov.uk/universal-credit">Find out more or apply for Universal Credit</a></p>

            <h3 class="govuk-heading-m">If you're over State Pension age</h3>
            <p>If you're over State Pension age, you can get financial support without being expected to look for work.</p>
            <p>You might be able to get Pension Credit if you and your partner have both reached State Pension age. You could still get it if one of you is under State Pension age and one of you is getting Housing Benefit for people over State Pension age.</p>
            <p><a href="https://www.gov.uk/pension-credit">Find out more or apply for Pension Credit</a></p>

            <h3 class="govuk-heading-m">If you have a limited ability to work</h3>
            <p>If you have a health condition or disability that limits your ability to work, you might be able to get <a href="financial-support-looking-for-work-other-help">further financial support</a>.</p>

            <hr>

            <h2 class="govuk-heading-l govuk-!-margin-top-5">If you're not sure which payments you could get</h2>
              <p>Answer a few questions to check whether New Style JSA, Universal Credit or Pension Credit is best for your situation.</p>
              <p>You can use this service if you live in England, Scotland or Wales.</p>
              <a class="govuk-button" href="q3-pension">Check now</a>
              <p>The online service is available in <a href="https://secure.dwp.gov.uk/regular-payments-looking-for-work/are-you-under-state-pension-age?lang=cy">Welsh (Cymraeg)</a>.</p>



          </div>

          <div class="govuk-grid-column-one-third">


            </div>

      </div>


    </main>

<!--  /govuk-width-container -->
</div>

{% endblock %}
