
{% extends "layout.html" %}

{% block pageTitle %}
What is your date of birth? | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q3-circs" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">{{caption}}</span>
            <h1 class="govuk-heading-xl" id="furlough">You might be able to get
              financial support</h1>
              <p>Based on your answers so far, you can apply for the following
                benefits.</p>

              <h2 class="govuk-heading-m">Support because you're out of work</h2>

              <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Universal Credit
    </dt>
    <dd class="govuk-summary-list__value">
      A payment to help with living costs if you’re on a low income, out of
      work or cannot work.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-button" href="https://www.gov.uk/universal-credit/how-to-claim">
   Apply now
 </a>
    </dd>
  </div>
</dl>



              <h2 class="govuk-heading-m">Support with a health condition or
                disability</h2>

              <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      New Style Employment and Support Allowance
    </dt>
    <dd class="govuk-summary-list__value">
      A payment to help with living costs if you have a disability or health
      condition that affects how much you can work.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-button" href="https://www.gov.uk/universal-credit/how-to-claim">
   Apply now
 </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Industrial Injuries Disablement Benefit
    </dt>
    <dd class="govuk-summary-list__value">
      A payment to help with living costs if you became ill or are disabled because
      of an accident or disease at work.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="https://www.gov.uk/industrial-injuries-disablement-benefit/how-to-claim">
        Check how to apply
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Carer's Allowance
    </dt>
    <dd class="govuk-summary-list__value">
      Your carer could get Carer’s Allowance if you have substantial caring needs.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-button" href="https://www.gov.uk/carers-allowance/how-to-claim">
   Apply now
 </a>
    </dd>
  </div>
</dl>


           <h2 class="govuk-heading-m">Support after a death</h2>

           <dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
 <dt class="govuk-summary-list__key">
   Bereavement Support Payment
 </dt>
 <dd class="govuk-summary-list__value">
   Money to help cover living costs if your husband, wife or civil partner
   died in the last 21 months.
 </dd>
 <dd class="govuk-summary-list__actions">
   <a class="govuk-link" href="https://www.gov.uk/bereavement-support-payment/how-to-claim">
     Check how to apply
   </a>
 </dd>
</div>
<div class="govuk-summary-list__row">
 <dt class="govuk-summary-list__key">
   Help with funeral costs (Funeral Expenses Payment)
 </dt>
 <dd class="govuk-summary-list__value">
   Support to pay for a funeral you’re arranging if you get certain benefits.
 </dd>
 <dd class="govuk-summary-list__actions">
   <a class="govuk-link" href="https://www.gov.uk/funeral-payments/how-to-claim">
     Check how to apply
   </a>
 </dd>
</div>



{% endblock %}
