
{% extends "layout.html" %}

{% block pageTitle %}
What is your date of birth? | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q3-circs" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">{{caption}}</span>
            <h1 class="govuk-heading-xl" id="furlough">You might be able to get
              financial support</h1>
              <p>Based on your answers so far, you can apply for the following
                benefits:</p>

                <ul class="govuk-list">
                    <li><a href="#uc">Universal Credit</a></li>
                    <li><a href="#esa">New Style Employment and Support Allowance</a></li>
                    <li><a href="#ca">Carer's Allowance</a></li>
                  </ul>

              <h2 class="govuk-heading-m" id="uc">Universal Credit</h2>
                <p>Universal Credit is a payment to help with your living costs
                  if you’re on a low income, out of work or cannot work.</p>
                <p class="govuk-body">You could get it if:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>you’re 18 or over (there are some exceptions if you’re 16
                    to 17)</li>
                  <li>you’re under State Pension age (or your partner is)</li>
                  <li>you and your partner have £16,000 or less in savings
                    between you</li>
                  <li>you live in the UK</li>
                </ul>
                <p>Find out <a class="govuk-link" href="https://www.gov.uk/universal-credit/eligibility">more about eligibility for Universal Credit</a>.</p>
                  <a class="govuk-button" href="https://www.gov.uk/universal-credit/how-to-claim">
               Apply now
             </a>
              <h2 class="govuk-heading-m" id="esa">New Style Employment and Support Allowance (ESA)</h2>
              <p>New Style ESA is a payment to help with your living costs if you
                if you have a disability or health condition that affects how
                much you can work.</p>
              <p class="govuk-body">You could get it if:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>you're under State Pension age</li>
                <li>you do not already get Statutory Sick Pay or Jobseeker's
                  Allowance</li>
                <li>you do not already get the severe disability premium</li>
                <li>you've worked as an employee or been self-employed</li>
                <li>you've paid enough National Insurance contributions, usually in the
                  last 2 to 3 years - National Insurance credits also count</li>
              </ul>
              <p>Find out <a class="govuk-link" href="https://www.gov.uk/universal-credit/eligibility">more about eligibility for New Style ESA</a>.</p>
                <a class="govuk-button" href="https://www.gov.uk/employment-support-allowance/how-to-claim">
             Apply now
           </a>
           <h2 class="govuk-heading-m" id="ca">Carer's Allowance</h2>
           <p>Carer's Allowance is a weekly payment to help cover the
             cost of caring for someone.</p>
           <p class="govuk-body">You could get it if:</p>
           <ul class="govuk-list govuk-list--bullet">
             <li>the person you're caring for gets certain benefits</li>
             <li>you’re 16 or over</li>
             <li>you spend at least 35 hours a week caring for someone</li>
             <li>you normally live in England, Scotland or Wales</li>
             <li>you’re not studying for 21 hours a week or more</li>
             <li>you earn £128 or less a week after tax, National Insurance and
               expenses</li>
           </ul>
           <p>Find out <a class="govuk-link" href="https://www.gov.uk/carers-allowance/eligibility">more about eligibility for Carer's Allowance</a>.</p>
             <a class="govuk-button" href="#">
          Apply now
        </a>
        </div>
      </div>


{% endblock %}
