
{% extends "layout.html" %}

{% block pageTitle %}
Preparing for a new child | GOV.UK
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

<div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="#">Support for families</a>
            </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Preparing for a new child</a>
          </li>
        </ol>
      </div>

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Payments if you're preparing for a new child</h1>
            <p class="govuk-body-l">The following financial support is available, depending on your situation.</p>

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                  Maternity pay and leave
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                              <p>When you take time off to have a baby you might be eligible for:</p>

                              <ul class="govuk-list govuk-list--bullet">
                                <li>Statutory Maternity <a href="https://www.gov.uk/maternity-pay-leave/leave">Leave</a>
                              </li>
                                <li>Statutory Maternity <a href="https://www.gov.uk/maternity-pay-leave/pay">Pay</a>
                              </li>
                                <li><a href="https://www.gov.uk/working-when-pregnant-your-rights">paid time off for antenatal care</a></li>
                                <li>
                              <a href="https://www.gov.uk/maternity-pay-leave/extra-help">extra help</a> from the government</li>
                              </ul>
                              
                              <p>There are rules on <a href="https://www.gov.uk/maternity-pay-leave/how-to-claim">when and how to claim your paid leave</a> and if you want to <a href="https://www.gov.uk/maternity-pay-leave/leave">change your dates</a>.</p>
                              
                              <p>You can <a href="https://www.gov.uk/pay-leave-for-parents">work out your maternity pay and leave</a> online.</p>

                              <h3 class="govuk-heading-s">Eligibility for Statutory Maternity Leave</h3>

                              <p>You qualify for Statutory Maternity Leave if:</p>

                              <ul class="govuk-list govuk-list--bullet">
                                <li>you’re an <a href="https://www.gov.uk/employment-status">employee not a ‘worker’</a>
                              </li>
                                <li>you give your employer the <a href="https://www.gov.uk/maternity-pay-leave/how-to-claim">correct notice</a>
                              </li>
                              </ul>
                              
                              <p>It does not matter how long you’ve been with your employer, how many hours you work or how much you get paid.</p>
                              
                              <div class="govuk-inset-text">
                              You cannot get Statutory Maternity Leave if you have a child through surrogacy - you could get <a href="https://www.gov.uk/employers-adoption-pay-leave">Statutory Adoption Leave and Pay</a> instead.
                              </div>

                              <h3 class="govuk-heading-s">Eligibility for Statutory Maternity Pay</h3>

                              <p>To qualify for Statutory Maternity Pay you must:</p>

                              <ul class="govuk-list govuk-list--bullet">
                                <li>earn on average at least £120 a week</li>
                                <li>give the <a href="https://www.gov.uk/maternity-pay-leave/how-to-claim">correct notice</a>
                              </li>
                                <li>give <a href="https://www.gov.uk/maternity-pay-leave/how-to-claim">proof you’re pregnant</a>
                              </li>
                                <li>have worked for your employer <a href="https://www.gov.uk/continuous-employment-what-it-is">continuously</a> for at least 26 weeks continuing into the ‘qualifying week’ - the 15th week before the expected week of childbirth</li>
                              </ul>

                              <p>If you usually earn an average of £120 or more a week, and you only earned less in some weeks because you were paid but not working (‘on furlough’) under the Coronavirus Job Retention Scheme, you may still be eligible.</p>

                              <p>You cannot get Statutory Maternity Pay if you go into police custody during your maternity pay period. It will not restart when you’re discharged.</p>

                              <h3 class="govuk-heading-s">How to claim</h3>

                            <p><a href="https://www.gov.uk/maternity-pay-leave">How to claim Maternity pay and leave</a></p>
                            </div>
                          </div>

                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    Maternity allowance
                                  </span>
                                </h2>
                              </div>
                              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p>Maternity Allowance is usually paid to you if you do not qualify for Statutory Maternity Pay.</p>
                                <p>You can use the <a href="/pay-leave-for-parents">maternity entitlement calculator</a> to check your eligibility.</p>
                              <p><a href="https://www.gov.uk/maternity-allowance">How to apply for Maternity allowance</a></p>
                              </div>
                            </div>

                            <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                      Sure Start Maternity Grant
                                    </span>
                                  </h2>
                                </div>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                  <p>You could get a one-off payment of £500 to help towards the costs of having a child. This is known as a Sure Start Maternity Grant.</p>
                                  <div class="govuk-inset-text">If you live in Scotland you cannot get a Sure Start Maternity Grant. You can apply for a <a rel="external" href="https://www.mygov.scot/pregnancy-and-baby-payment/">Pregnancy and Baby Payment</a> instead.</div>
                                  <p>You usually qualify for the grant if you’re expecting your first child, or you’re expecting a multiple birth (such as twins) and have children already.</p>
                                  <p>You or your partner must get one of these benefits:</p>
                                  <ul class="govuk-list govuk-list--bullet">
                                    <li>Income Support</li>
                                    <li>income-based Jobseeker’s Allowance</li>
                                    <li>income-related Employment and Support Allowance</li>
                                    <li>Pension Credit</li>
                                    <li>Child Tax Credit</li>
                                    <li>Working Tax Credit that includes a disability or severe disability element</li>
                                    <li>Universal Credit</li></li>
                                  </ul>
                                <p><a href="https://www.gov.uk/sure-start-maternity-grant">How to apply for Sure Start Maternity Grant</a></p>
                                </div>
                              </div>

                              <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                  <h2 class="govuk-accordion__section-heading">
                                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                        Paternity pay and leave
                                      </span>
                                    </h2>
                                  </div>
                                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                    <p>When you take time off because your partner’s having a baby, adopting a child or having a baby through a surrogacy arrangement you might be <a href="https://www.gov.uk//paternity-pay-leave/eligibility">eligible</a> for:</p>

                                    <ul class="govuk-list govuk-list--bullet">
                                      <li>1 or 2 weeks’ paid Paternity Leave</li>
                                      <li>Paternity Pay</li>
                                      <li><a href="https://www.gov.uk//shared-parental-leave-and-pay/overview">Shared Parental Leave and Pay</a></li>
                                    </ul>
                                    
                                    <p>You may not get both leave and pay, and there are rules on <a href="https://www.gov.uk//paternity-pay-leave/how-to-claim">how to claim</a> and <a href="https://www.gov.uk//paternity-pay-leave/leave">when your leave can start</a>.</p>

                                    <h3 class="govuk-heading-s">Eligibility</h3>

                                    <p>You must be taking time off to look after the child and be one of the following:</p>

                                    <ul class="govuk-list govuk-list--bullet">
                                      <li>the father</li>
                                      <li>the husband or partner of the mother (or adopter) - this includes same-sex partners</li>
                                      <li>the child’s adopter</li>
                                      <li>the intended parent (if you’re having a baby through a surrogacy arrangement)</li>
                                    </ul>
                                    
                                    <p>There are extra conditions you need to meet to qualify for leave and pay.</p>
                                    
                                    <div class="govuk-inset-text">You cannot get Paternity Pay and Leave if you’ve taken paid time off to attend adoption appointments.</div>
                                    
                                    <p><strong>Paternity Leave</strong></p>
                                    
                                    <p>You must:</p>
                                    
                                    <ul class="govuk-list govuk-list--bullet">
                                      <li>be an <a href="https://www.gov.uk//employment-status">employee</a>
                                    </li>
                                      <li>give the <a href="https://www.gov.uk//paternity-pay-leave/how-to-claim">correct notice</a>
                                    </li>
                                      <li>have been <a href="https://www.gov.uk//continuous-employment-what-it-is">continuously employed by your employer</a> for at least 26 weeks up to any day in the ‘qualifying week’</li>
                                    </ul>
                                    
                                    <p>The ‘qualifying week’ is the 15th week before the baby is due. This is different if you <a href="https://www.gov.uk//paternity-pay-leave/adoption">adopt</a>.</p>
                                    
                                    <p><strong>Paternity Pay</strong></p>
                                    
                                    <p>You must:</p>
                                    
                                    <ul class="govuk-list govuk-list--bullet">
                                      <li>be employed by your employer up to the date of birth</li>
                                      <li>earn at least £120 a week (before tax)</li>
                                      <li>give the <a href="https://www.gov.uk//paternity-pay-leave/how-to-claim">correct notice</a>
                                    </li>
                                      <li>have been <a href="https://www.gov.uk//continuous-employment-what-it-is">continuously employed by your employer</a> for at least 26 weeks up to any day in the ‘qualifying week’</li>
                                    </ul>
                                    
                                    <p>The ‘qualifying week’ is the 15th week before the baby is due. This is different if you <a href="https://www.gov.uk//paternity-pay-leave/adoption">adopt</a>.</p>
                                    
                                    <p>If you usually earn an average of £120 or more a week, and you only earned less in some weeks because you were paid but not working (‘on furlough’) under the Coronavirus Job Retention Scheme, you may still be eligible.</p>
                                    
                                    <p><strong>If you lose your baby</strong></p>
                                    
                                    <p>You can still get Paternity Leave or Pay if your baby is:</p>
                                    
                                    <ul class="govuk-list govuk-list--bullet">
                                      <li>stillborn from 24 weeks of pregnancy</li>
                                      <li>born alive at any point during the pregnancy</li>
                                    </ul>
                                    
                                    <h3 class="govuk-heading-s">How to apply</h3>
                                  <p><a href="https://www.gov.uk/paternity-pay-leave">How to apply for Paternity pay and leave</a></p>
                                  </div>
                                </div>

                                <div class="govuk-accordion__section">
                                  <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                          Shared parental leave and pay
                                        </span>
                                      </h2>
                                    </div>
                                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                      <p>You and your partner may be able to get Shared Parental Leave (SPL) and Statutory Shared Parental Pay (ShPP) if you’re having a baby or adopting a child.</p>
                                      <p>You can share up to 50 weeks of leave and up to 37 weeks of pay between you.</p>

                                    <p><a href="https://www.gov.uk/shared-parental-leave-and-pay">Eligibility and how to apply for Shared parental leave and pay</a></p>
                                    </div>
                                  </div>

                                  <div class="govuk-accordion__section">
                                    <div class="govuk-accordion__section-header">
                                      <h2 class="govuk-accordion__section-heading">
                                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                            Adoption pay and leave
                                          </span>
                                        </h2>
                                      </div>
                                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                        <p>When you take time off to adopt a child or have a child through a surrogacy arrangement you might be <a href="https://www.gov.uk//adoption-pay-leave/eligibility">eligible</a> for:</p>

                                        <ul class="govuk-list govuk-list--bullet">
                                          <li>Statutory Adoption Leave</li>
                                          <li>Statutory Adoption Pay</li>
                                        </ul>
                                        
                                        <p>There are rules on <a href="https://www.gov.uk//adoption-pay-leave/how-to-claim">when and how to claim</a> your paid leave and if you want to <a href="https://www.gov.uk//adoption-pay-leave/leave">change your dates</a>.</p>
                                        
                                        <div class="govuk-inset-text">You may also be eligible to take <a href="https://www.gov.uk//shared-parental-leave-and-pay">Shared Parental Leave and Pay</a>.</div>
                                      <p><a href="https://www.gov.uk/adoption-pay-leave">How to apply for Adoption pay and leave</a></p>
                                      </div>
                                    </div>

                                    <div class="govuk-accordion__section">
                                      <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                              Unpaid parental leave
                                            </span>
                                          </h2>
                                        </div>
                                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                          <p>Eligible employees can take unpaid parental leave to look after their child’s welfare, for example to:</p>

                                          <ul class="govuk-list govuk-list--bullet">
                                            <li>spend more time with their children</li>
                                            <li>look at new schools</li>
                                            <li>settle children into new childcare arrangements</li>
                                            <li>spend more time with family, such as visiting grandparents</li>
                                          </ul>
                                          
                                          <p>Their <a href="https://www.gov.uk//employee-rights-when-on-leave">employment rights</a> (like the right to pay, holidays and returning to a job) are protected during parental leave.</p>
                                          <h3 class="govuk-heading-s">Eligibility</h3>

                                          <p>Employees qualify if all of these apply:</p>

                                          <ul class="govuk-list govuk-list--bullet">
                                            <li>they’ve been in the company for more than a year</li>
                                            <li>they’re named on the child’s birth or adoption certificate or they have or expect to have <a href="https://www.gov.uk//parental-rights-responsibilities/what-is-parental-responsibility">parental responsibility</a>
                                          </li>
                                            <li>they’re not self-employed or a ‘worker’, eg an agency worker or contractor</li>
                                            <li>they’re not a foster parent (unless they’ve secured parental responsibility through the courts)</li>
                                            <li>the child is under 18</li>
                                          </ul>
                                          
                                          <p>Employers can ask for proof (like a birth certificate) as long as it’s reasonable to do so, eg they can’t ask for proof each time an employee requests leave.</p>
                                          
                                          <p>Employers can extend parental leave to those groups who aren’t eligible. Employees can check this in their staff handbook.</p>

                                          <h3 class="govuk-heading-s">More information</h3>
                                        <p><a href="https://www.gov.uk/parental-leave">More information on unpaid parental leave</a></p>
                                        </div>
                                      </div>

                      
                      </div>


                      
              <p>Other help is also available if:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li><a href="http://localhost:3000/version-0-15/benefits">you're looking for work</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're temporarily unable to work</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're on a low income</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're disabled or have a health condition</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're caring for someone</li>
                    <li><a href="http://localhost:3000/version-0-15/benefits">someone has died</li>
              </ul>


        </div>


          </div>

        </main>

        </div>


{% endblock %}
