
{% extends "layout.html" %}

{% block pageTitle %}
Looking after children | GOV.UK
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

<div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="#">Support for families</a>
            </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Looking after children</a>
          </li>
        </ol>
      </div>

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Payments if you're looking after children</h1>
            <p class="govuk-body-l">The following financial support is available, depending on your situation.</p>


            <h3 class="govuk-heading-m govuk-!-margin-top-9">Help with living costs</h3>

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                  Child Benefit
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                              <p>You get Child Benefit if you’re responsible for bringing up a child who is:</p>

                              <ul class="govuk-list govuk-list--bullet">
                                <li>under 16</li>
                                <li>under 20 if they stay in approved <a href="https://www.gov.uk/child-benefit-16-19">education or training</a>
                              </li>
                              </ul>
                              
                              <p>Only one person can get Child Benefit for a child.</p>
                              
                              <p>It’s paid every 4 weeks and there’s no limit to how many children you can claim for.</p>

                              <p>You normally qualify for Child Benefit if you’re responsible for a child under 16 (or under 20 if they stay in approved <a href="https://www.gov.uk/child-benefit-16-19">education or training</a>) and you live in the UK.</p>

                              <p>You’ll usually be responsible for a child if you live with them or you’re paying at least the same amount as Child Benefit (or the equivalent in kind) towards looking after them, for example on food, clothes or pocket money.</p>

                              <p>Eligibility rules are different if your child:</p>

                              <ul class="govuk-list govuk-list--bullet">
                                <li><a href="https://www.gov.uk/child-benefit-for-children-in-hospital-or-care">goes into hospital or care</a></li>
                                <li><a href="https://www.gov.uk/child-benefit-child-lives-with-someone-else">lives with someone else</a></li>
                              </ul>

                              <div role="note" aria-label="Information" class="application-notice info-notice">
                              <p>Child Benefit <a href="https://www.gov.uk/child-benefit-16-19/child-benefit-extensions">continues for 20 weeks</a> if 16 or 17 year olds leave education or training and register with the armed services or a government-sponsored careers service.</p>
                              </div>
                              
                            <p><a href="https://www.gov.uk/child-benefit">How to apply for Child Benefit</a></p>
                            </div>
                         </div>

                         <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                  Child Tax Credit
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                              <p>Child Tax Credit has been replaced by Universal Credit for most people.</p>

                              <p>You can only make a new claim for Child Tax Credit if you:</p>
                              
                              <ul class="govuk-list govuk-list--bullet">
                                <li>get the <a href="/disability-premiums-income-support">severe disability premium</a>, or are entitled to it</li>
                                <li>got or were entitled to the severe disability premium in the last month, and you’re still eligible for it</li>
                              </ul>
                            <p><a href="https://www.gov.uk/child-tax-credit">How to apply for Child Tax Credit</a></p>
                            </div>
                         </div>

                         <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    Guardian's Allowance
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p>You could get Guardian’s Allowance if you’re bringing up a child whose parents have died. You may also be eligible if there’s one surviving parent.</p>
                                <p>The Guardian’s Allowance rate is £17.90 a week. You get it on top of Child Benefit and it’s tax-free.</p>
                                <p><a href="https://www.gov.uk/guardians-allowance/how-to-claim">How to apply for Guardian's Allowance</a></p>
    
                          </div>
                          </div>

                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                      Universal Credit
                                  </span>
                                </h2>
                              </div>
                              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>
                                <p><strong>If you already get tax credits</strong></p>
                                <p>If you're already getting tax credits, they will stop when you apply for Universal Credit.</p>
                                <p><strong>Eligibility</strong></p>
                                  <p>You might be able to get Universal Credit if:</p>
                                  <ul class="govuk-list govuk-list--bullet">
                                      <li>you’re on a low income or out of work</li>
                                      <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                                      <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> (or your partner is)</li>
                                      <li>you and your partner have £16,000 or less in savings between you</li>
                                      <li>you live in the UK</li>
                                  </ul>
                                  <p><a href="https://www.gov.uk/universal-credit/how-to-claim">How to apply for Universal Credit</a></p>
                              </div>
                            </div>        
  
                      </div>


                      <h3 class="govuk-heading-m govuk-!-margin-top-9">Help with childcare</h3>

                      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    Help with childcare costs
                                  </span>
                                </h2>
                              </div>
                              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p>You can get help paying for childcare if it’s provided by a:</p>

                                <ul class="govuk-list govuk-list--bullet">
                                  <li>registered childminder, nanny, playscheme, nursery or club</li>
                                  <li>childminder or nanny with a registered childminder agency or childcare agency</li>
                                  <li>registered school</li>
                                  <li>home care worker working for a registered home care agency</li>
                                </ul>
                              <p><a href="https://www.gov.uk/help-with-childcare-costs">More about help with childcare costs</a></p>
                              </div>
                           </div>
  
                           <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    Childcare Grant
                                  </span>
                                </h2>
                              </div>
                              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p>You may be eligible for help with your childcare costs if you:</p>

                                <ul class="govuk-list govuk-list--bullet">
                                  <li>are a full-time higher education student</li>
                                  <li>have children under 15, or under 17 if they have special educational needs</li>
                                </ul>
                                
                                <p>The grant:</p>
                                
                                <ul class="govuk-list govuk-list--bullet">
                                  <li>does not have to be paid back</li>
                                  <li>is paid on top of your other student finance</li>
                                </ul>
                                
                                <p>You must be <a href="https://www.gov.uk/student-finance/who-qualifies">eligible for student finance</a> to apply for a Childcare Grant.</p>

                                <h3 class="govuk-heading-s">Eligibility</h3>

                                <p>To qualify for a Childcare Grant all the following must apply:</p>

                                <ul class="govuk-list govuk-list--bullet">
                                  <li>you’re a full-time student</li>
                                  <li>your child must be under 15, or under 17 if they have special educational needs</li>
                                  <li>you get undergraduate student finance based on your household income, or are eligible to</li>
                                  <li>you’re not getting a Postgraduate Loan</li>
                                  <li>you’re a permanent resident in England</li>
                                  <li>the children in your grant application are financially dependent on you</li>
                                  <li>your childcare provider is on the Ofsted Early Years Register or General Childcare Register - check with your provider</li>
                                  <li>if your child is cared for at home, the carer cannot be a relative and must be registered with an appropriate body - check with <a href="https://www.gov.uk/contact-student-finance-england">Student Finance England</a>
                                </li>
                                  <li>neither you or your partner are claiming Tax-Free Childcare, the childcare element of working Tax Credit or Universal Credit</li>
                                  <li>neither you or your partner receive help with childcare costs from the National Health Service (<abbr title="National Health Service">NHS</abbr>)</li>
                                </ul>

                                <div class="govuk-inset-text">
                                Childcare Grant isn’t the same as 15 or 30 hours free childcare. You can’t use it to pay for those hours.
                                </div>

                                
                              <p><a href="https://www.gov.uk/childcare-grant/how-to-claim">How to apply for a Childcare Grant</a></p>
                              </div>
                           </div>
  
                           <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    Care to learn
                                  </span>
                                </h2>
                              </div>
                              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p>The Care to Learn scheme can help  with <a href="/care-to-learn/what-youll-get">childcare costs</a> while you study.</p>

                                <p>You must be aged under 20 at the start of your course.</p>
                                
                                <p>The scheme is available for <a href="/care-to-learn/eligibility">publicly-funded courses</a> in England. This includes courses in:</p>
                                
                                <ul class="govuk-list govuk-list--bullet">
                                  <li>schools</li>
                                  <li>sixth-forms in schools</li>
                                  <li>sixth-form colleges</li>
                                </ul>

                                <h3 class="govuk-heading-s">Eligibility</h3>

                                <p>You can get Care to Learn if all of the following apply to you:</p>

                                <ul class="govuk-list govuk-list--bullet">
                                  <li>you’re a parent under 20 at the start of your course</li>
                                  <li>you’re the main carer for your child</li>
                                  <li>you live in England</li>
                                  <li>you’re either a British citizen or have a legal right to live and study in England</li>
                                  <li>your course qualifies</li>
                                  <li>your childcare provider qualifies</li>
                                </ul>

                                <div class="govuk-inset-text">
                                <p>There will be no change to the rights and status of EU citizens currently living in the UK until 30 June 2021. You and your family can apply to the <a href="https://www.gov.uk//settled-status-eu-citizens-families">EU Settlement Scheme</a> to continue living in the UK.</p>
                                </div>

                                <p>To qualify, your childcare provider must be registered with Ofsted.</p>

                                <p>They can be a:</p>

                                <ul class="govuk-list govuk-list--bullet">
                                  <li>childminder</li>
                                  <li>preschool playgroup</li>
                                  <li>day nursery</li>
                                  <li>out of school club</li>
                                </ul>

                                <h3 class="govuk-heading-s">Who cannot get Care to Learn</h3>

                                <p>You’re not eligible if:</p>

                                <ul class="govuk-list govuk-list--bullet">
                                  <li>you’re an apprentice who gets a salary</li>
                                  <li>you’re doing a higher education course at university</li>
                                </ul>

                              <p><a href="https://www.gov.uk/care-to-learn/applying-for-care-to-learn">How to apply for Care to learn</a></p>
                              </div>
                           </div>        
    
                        </div>


                        <h3 class="govuk-heading-m govuk-!-margin-top-9">Extra help</h3>

                        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                          <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                      Apply for free school meals
                                    </span>
                                  </h2>
                                </div>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                  <p>Your child may be able to get free school meals if you get any of the following:</p>

                                  <ul class="govuk-list govuk-list--bullet">
                                    <li>Income Support</li>
                                    <li>income-based Jobseeker’s Allowance</li>
                                    <li>income-related Employment and Support Allowance</li>
                                    <li>support under Part VI of the Immigration and Asylum Act 1999</li>
                                    <li>the guaranteed element of Pension Credit</li>
                                    <li>Child Tax Credit (provided you’re not also entitled to Working Tax Credit and have an annual gross income of no more than £16,190)</li>
                                    <li>Working Tax Credit run-on - paid for 4 weeks after you stop qualifying for Working Tax Credit</li>
                                    <li>Universal Credit - if you apply on or after 1 April 2018 your household income must be less than £7,400 a year (after tax and not including any benefits you get)</li>
                                  </ul>
                                  
                                  <p>Children who get paid these benefits directly, instead of through a parent or guardian, can also get free school meals.</p>
                                  
                                  <p>Your child may also get free school meals if you get any of these benefits and your child is both:</p>
                                  
                                  <ul class="govuk-list govuk-list--bullet">
                                    <li>younger than the <a href="https://www.gov.uk//school-attendance-absence/">compulsory age for starting school</a>
                                  </li>
                                    <li>in full-time education</li>
                                  </ul>
                                  
                                  <div class="govuk-inset-text">
                                  <p>If your child is eligible for free school meals, they’ll remain eligible until they finish the phase of schooling (primary or secondary) they’re in on 31 March 2022.</p>
                                  </div>
                                  
                                  <h3 class="govuk-heading-s">Infant free school meals in England</h3>
                                  
                                  <p>Your child will be able to get free school meals if they’re in a <a href="https://www.gov.uk//types-of-school">government-funded school</a> and in:</p>
                                  
                                  <ul class="govuk-list govuk-list--bullet">
                                    <li>reception class</li>
                                    <li>year 1</li>
                                    <li>year 2</li>
                                  </ul>
                                  
                                  <p>Tell your local authority if you also get any of the qualifying benefits. Your child’s school can get extra funding if you do.</p>
                                <p><a href="https://www.gov.uk/apply-free-school-meals">How to apply for free school meals</a></p>
                                </div>
                             </div>
    
                             <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                      Healthy Start
                                    </span>
                                  </h2>
                                </div>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                  <p>If you’re pregnant or have a child under 4, the <a rel="external" href="http://www.healthystart.nhs.uk/">Healthy Start scheme</a> can help you buy basic foods like milk or fruit.</p>

                                  <div class="govuk-inset-text">
                                  <p>If you live in Scotland you cannot get Healthy Start. You can apply for <a rel="external" href="https://www.mygov.scot/best-start-grant-best-start-foods/">Best Start Foods</a> instead.</p>
                                  </div>
                                  
                                  <p>If you qualify for the scheme you’ll be sent vouchers you can use in over 30,000 shops in the UK.</p>
                                  
                                  <p>You can also get coupons to swap for:</p>
                                  
                                  <ul class="govuk-list govuk-list--bullet">
                                    <li>pregnancy vitamins</li>
                                    <li>breastfeeding vitamins</li>
                                    <li>vitamins for children aged 6 months to 5 years old</li>
                                  </ul>
                                  <h3 class="govuk-heading-s">Eligibility</h3>

                                  <p>You will qualify for the Healthy Start scheme if either:</p>

                                  <ul class="govuk-list govuk-list--bullet">
                                      <li>you’re at least 10 weeks pregnant</li>
                                      <li>you have at least 1 child under 4 years old</li>
                                    </ul>

                                    <p>In addition, you must be receiving any of the following:</p>

                                    <ul class="govuk-list govuk-list--bullet">
                                      <li>Child Tax Credit (but only if your family’s annual income is £16,190 or less)</li>
                                      <li>income-related Employment and Support Allowance</li>
                                      <li>Income Support</li>
                                      <li>income-based Jobseeker’s Allowance</li>
                                      <li>Pension Credit</li>
                                      <li>Universal Credit (but only if your family earns £408 or less per month from employment)</li>
                                      <li>Working Tax Credit (but only if your family is receiving the 4 week ‘run-on’ payment)</li>
                                    </ul>

                                    <p>You’ll also be eligible for the Healthy Start scheme if you’re pregnant and under 18, even if you do not receive any benefits.</p>
                                <p><a href="https://www.gov.uk/healthy-start/how-to-claim">How to claim Healthy Start</a></p>
                                </div>
                             </div>      
      
                          </div>


                      
              <p>Other help is also available if:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li><a href="http://localhost:3000/version-0-15/benefits">you're looking for work</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're temporarily unable to work</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're on a low income</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're disabled or have a health condition</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're caring for someone</li>
                    <li><a href="http://localhost:3000/version-0-15/benefits">someone has died</li>
              </ul>


        </div>


          </div>

        </main>

        </div>


{% endblock %}
