
{% extends "layout.html" %}

{% block pageTitle %}
You might be able to get financial support | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q7-national-insurance" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
            You might be able to get financial support
    </h1>
  </div>

<h2 class="govuk-heading-m govuk-!-margin-top-7">Based on your answers, you might be able to get:</h2>


                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                        <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                  <h2 class="govuk-accordion__section-heading">
                                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                         New Style Jobseeker's Allowance (JSA)
                                      </span>
                                    </h2>
                                  </div>
                                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                    <p>New Style JSA is a fortnightly payment if you’re available and looking for work.</p>

                              <p>To get it, you must be under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> and be unemployed or working less than 16 hours a week.</p>
                              
                              <p>You also need to have paid or been credited with enough National Insurance contributions over the last 2 to 3 years.</p>
                              
                              <p>Your savings and your partner’s income will not affect how much New Style JSA you’re paid.</p>

                              <p>You might be able to get Universal Credit at the same time as New Style JSA. You'll need to apply for each benefit separately.
                              </p>

                              <p>How to apply for New Style JSA:</p>

                              <ul class="govuk-list govuk-list--bullet">
                                <li>in <a href="https://www.gov.uk/guidance/new-style-jobseekers-allowance#how-to-claim">England, Scotland and Wales</a></li>
                                <li>in <a href="https://www.nidirect.gov.uk/articles/jobseekers-allowance">Northern Ireland</a></li>
                              </ul>

                              <div class="govuk-inset-text">You cannot get New Style JSA if you get or are entitled to severe disability premium. You might be able to get <a href="https://www.gov.uk/jobseekers-allowance/apply-contribution-income-based-jsa">contribution based or income-based JSA</a>.</div>
                                  </div>
                                </div>

                                <div class="govuk-accordion__section">
                                    <div class="govuk-accordion__section-header">
                                      <h2 class="govuk-accordion__section-heading">
                                          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                              Universal Credit
                                          </span>
                                        </h2>
                                      </div>
                                      <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                        <p>Universal Credit is a monthly payment if you’re on a low income or out of work.</p>

                              <p>To get it, you or your partner must be under <a href="https://www.gov.uk/state-pension-age">State Pension age</a>, and you must have £16,000 or less in savings between you.</p>
                              
                              <p>You might be able to get Universal Credit at the same time as New Style Jobseeker's Allowance. You'll need to apply for each benefit separately.
                              </p>
                                <p><a href="https://www.gov.uk/universal-credit/how-to-claim">How to apply for Universal Credit</a></p>
                                <div class="govuk-inset-text">If you're already getting tax credits, they will stop when you or your partner applies for Universal Credit.</div>
                                      </div>
                                    </div>
                 </div>

                 <div class="govuk-inset-text">
                 <p>You might be able to get both benefits at the same time. You'll need to apply for them separately.</p>
                </div>

                 <h2 class="govuk-heading-m">Based on your answers, you might not be able to get:</h2>


                 <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                        <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                  <h2 class="govuk-accordion__section-heading">
                                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                          Pension Credit
                                      </span>
                                    </h2>
                                  </div>
                                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                    <p>You can only get Pension Credit if:</p>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>you have reached <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                                        <li>your partner – if you have one – has also reached State Pension age, unless you’re getting Housing Benefit</a></li>
                                        <li>Your  weekly income is below £173.75 (for single people) or £265.20 (for couples)</li>
                                    </ul>

                                    <p>If you want to apply for Pension Credit anyway, find out how:</p>
                                    <ul class="govuk-list govuk-list--bullet">
                                      <li>in <a href="https://www.gov.uk/pension-credit/how-to-claim">England, Scotland and Wales</a></li>
                                      <li>in <a href="https://www.nidirect.gov.uk/articles/understanding-pension-credit">Northern Ireland</a></li>
                                    </ul>
                                  </div>
                                </div>
                 </div>





            <form action="#" id="question-form" method="post" novalidate>

                    <div class="govuk-form-group  govuk-!-margin-top-7">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                          <h2 class="govuk-heading-m">
                                What do you want to do next?
                          </h2>
                        </legend>

                        <div class="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radios-1" name="radios" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="radios-1">
                                    Decide whether to apply for New Style Jobseeker's Allowance
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radios-2" name="radios" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="radios-2">
                                    Decide whether to apply for Universal Credit
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radios-3" name="radios" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="radios-3">
                                        Decide whether to apply for Pension Credit
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="radios-4" name="radios" type="radio" value="no">
                                  <label class="govuk-label govuk-radios__label" for="radios-4">
                                      Look at help with specific living costs
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="radios-5" name="radios" type="radio" value="no">
                                    <label class="govuk-label govuk-radios__label" for="radios-5">
                                        Look at all available financial support
                                    </label>
                                  </div>
                        </div>
                      </fieldset>
                    </div>

                    <button class="govuk-button" id="continue-button">
                      Continue
                    </button>


                    <script type="text/javascript">

            var country = {{data.country|dump|safe}}
            console.log(country)

            document.getElementById("radios-1").onclick = function () {
              var link = "details-jsa";
              document.getElementById("question-form").action=link;
            }

            document.getElementById("radios-2").onclick = function () {
                  var link = "details-uc";
              document.getElementById("question-form").action=link;
            }

            document.getElementById("radios-3").onclick = function () {
                  var link = "details-pc";
              document.getElementById("question-form").action=link;
            }

            document.getElementById("radios-4").onclick = function () {
                  var link = "help-with-living-expenses-accordions";
              document.getElementById("question-form").action=link;
            }

            document.getElementById("radios-5").onclick = function () {
                  var link = "benefits";
              document.getElementById("question-form").action=link;
            }
            </script>
                  </form>

          </div>






      <div class="govuk-grid-column-one-third">

      </div>

      </div>


{% endblock %}
