{% extends "layout.html" %}

{% block pageTitle %}
Understanding what financial support is available while looking for work
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "index"
          },
          {
            text: "Benefits",
            href: "benefits"
          },
          {
            text: "Help and support finder"
          }
        ]
      }) }}

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">Understanding what financial support is available while looking for work
                </h1>

                <p>There are different benefits available designed to help different circumstances.</p>
                <p>This tool explains the financial support available if you need help while you’re looking for work, but you might be able to get additional help if <a href="benefits">you're temporarily unable to work</a>, <a href="benefits">you're disabled or have a health condition</a>, <a href="benefits">you're caring for someone</a>, <a href="benefits">you're looking after a family</a> or <a href="benefits">someone has died</a>.</p>
                <p>Depending on your circumstances you might be able to get one or more regular payments, and there may be additional help you can get with specific living costs.</p>
                    

                        <h2 class="govuk-heading-m">What do you want to do next?</h2>
                       
                        <ul class="govuk-list govuk-list--bullet">
                          <li><a href="understand-reg-payments">Understand about regular payments</a></li>
                          <li><a href="understand-specific-costs">Understand about help with specific living costs</a></li>
                        </ul>
       
            </div>

            <div class="govuk-grid-column-one-third">

              <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

            </div>
          </div>
        </main>

  </div>

 <script type="text/javascript">

            var country = {{data.country|dump|safe}}
            console.log(country)

            document.getElementById("radios-1").onclick = function () {
                  var link = "understand-reg-payments";
              document.getElementById("question-form").action=link;
            }

            document.getElementById("radios-2").onclick = function () {
                  var link = "understand-specific-costs";
              document.getElementById("question-form").action=link;
            }

            </script>

{% endblock %}
