
{% extends "layout.html" %}

{% block pageTitle %}
Help with specific living costs
{% endblock %}

{% block main %}

<div class="govuk-width-container {{ containerClasses }}">

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

        <a href="understand" class="govuk-back-link">Back</a>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Help with specific living costs</h1>
            

                <p class="govuk-body-l">You might be able to get help with specific living costs. Select the link under each item to find out more. This will take you out of the ‘check what financial support you could get if you’re looking for work’ service out of service.</p>
         

            <h2 class="govuk-heading-s govuk-!-margin-top-5">Budgeting Advance</h2>
            <p>A Budgeting Advance can help with a one-off expense if you're currently getting Universal Credit, and have been getting certain benefits for 6 months or more.</p>
              <p><a href="https://www.gov.uk/universal-credit/other-financial-support#budgeting-advance">How to apply for a Budgeting Advance</a></p>
              
             
            <h2 class="govuk-heading-s govuk-!-margin-top-5">Budgeting Loan</h2>
            <p>A Budgeting Loan can help with a one-off expense if you're not getting Universal Credit, and have been getting certain benefits for 6 months or more.</p>
              <p><a href="https://www.gov.uk/budgeting-help-benefits/">How to apply for a Budgeting Loan</a></p>
                            
                            
            <h2 class="govuk-heading-s govuk-!-margin-top-5">Bus pass for an older person</h2>
              <p>You might be able to get a bus pass for free travel. When you can get it depends on whether you live in England, Northern Ireland, Scotland or Wales.</p>
              <p><a href="https://www.gov.uk/apply-for-elderly-person-bus-pass">How to apply for a bus pass</a></p>
              
         
              <h2 class="govuk-heading-s govuk-!-margin-top-5">Council Tax Reduction</h2>
              <p>If you’re on a low income or claim benefits, Council Tax Reduction could reduce your bill by up to 100%.</p>
               <p><a href="https://www.gov.uk/council-tax-reduction/">How to apply for Council Tax Reduction</a></p>

                                    
              <h2 class="govuk-heading-s govuk-!-margin-top-5">Discretionary Housing Payments</h2>
              <p>Discretionary Housing payments is extra help to pay your rent or arrears if you’re currently claiming Housing Benefit or Universal Credit.</p>
              <p><a href="https://www.gov.uk/government/publications/claiming-discretionary-housing-payments/claiming-discretionary-housing-payments">How to claim Discretionary Housing Payments</a></p>

              <h2 class="govuk-heading-s govuk-!-margin-top-5">Housing Benefit</h2>
              <p>Housing Benefit can help towards your rent payments if you have reached State Pension Age, you're eligible to severe disability premium, or you're in supported, sheltered or temporary housing.</p>
              <p><a href="https://www.gov.uk/housing-benefit/how-to-claim">How to claim Housing Benefit</a></p>

                                                
             <h2 class="govuk-heading-s govuk-!-margin-top-5">Support for Mortgage Interest</h2>    
             <p>Support for Mortgage Interest loan can help towards your mortgage interest payments if you're getting certain benefits.</p>
              <p><a href="https://www.gov.uk/support-for-mortgage-interest/how-to-apply">How to apply for Support for Mortgage Interest</a></p>
                  
                                                                                   
              <h2 class="govuk-heading-s govuk-!-margin-top-5">Warm Home Discount</h2>
              <p>You could get money off your winter electricity bill if you get Pension Credit or you’re on a low income and meet your energy supplier’s criteria for the Warm Home Discount scheme.</p>
               <p><a href="https://www.gov.uk/the-warm-home-discount-scheme">How to apply for the Warm Home Discount Scheme</a></p>

                                                    
              <h2 class="govuk-heading-s govuk-!-margin-top-5">Winter Fuel Payment</h2>
              <p>If you were born on or before 5 October 1954, you could get a Winter Fuel Payment to help you pay your heating bills.</p>
              <p><a href="https://www.gov.uk/winter-fuel-payment/how-to-claim">How to apply for Winter Fuel Payment</a></p>


              <h2 class="govuk-heading-s govuk-!-margin-top-5">Help with NHS prescriptions and health costs</h2>
               <p>You might be able to get free NHS prescriptions, dental treatment, eye tests and help with other NHS costs.</p>
               <p><a href="https://www.gov.uk/help-nhs-costs">Check what help with NHS costs you could get</a></p>
                                     
               <h2 class="govuk-heading-s govuk-!-margin-top-5">NHS prescription prepayment certificates</h2>
              <p>If you live in England, you can buy prescription prepayment certificates from the NHS which make your prescriptions cheaper.</p>
               <p><a href="https://www.gov.uk/get-a-ppc">How to get NHS prescription prepayment certificates</a></p>

            <hr>

            

          </div>

          <div class="govuk-grid-column-one-third">
              
              
            </div>
          
      </div>


    </main>

<!--  /govuk-width-container -->
</div>

{% endblock %}
