{% extends "/ur-r5/_layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set title =  "Enter the email address to sign in to your GOV.UK One Login" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data['registerEmailAddress'] or data['no-one-login-email-code'] %}
            <form action="returning-enter-password" method="post" novalidate>
        {% else %}
            <form action="/ur-r5/gds/no-one-login/account-not-found" method="post" novalidate>
        {% endif %}

            {{ govukInput({
            label: {
                html: title,
                classes: "govuk-label--l",
                isPageHeading: true
            },
            id: "return-email-address",
            name: "return-email-address",
            type: "email",
            autocomplete: "email",
            spellcheck: false
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>
{% endblock %}
