{% extends "/ur-r5/_layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set title =  "Enter your password" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="returning-check-your-phone" method="post" class="form">
            <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="password">
                            {{title}}
                        </label>
                    </h1>
                    <div class="govuk-show-password__input-wrapper">
                        <input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="password" name="password" type="password" spellcheck="false" autocomplete="off">
                        <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
                    </div>
                </div>
            </div>

            {{ govukButton({
            text: "Continue"
            }) }}

            <p class="govuk-body">
                <a class="govuk-link" href="">I've forgotten my password</a>
            </p>

        </form>

    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/show-password.js"></script>
{% endblock %}