
{% extends "layout.html" %}

{% block pageTitle %}
Financial support to help paying your bills and expenses | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Additional support - help paying your bills and expenses</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  
                      <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                Budgeting Advance
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <p>You might be able to get a Budgeting Advance to help with:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>emergency household costs such as replacing a broken cooker</li>
                                <li>getting a job or staying in work</li>
                                <li>funeral costs</li>
                              </ul>
                              <p>To get a Budgeting Advance you must have been getting Universal Credit, Employment and Support Allowance, Income Support, Jobseeker’s Allowance or State Pension Credit for 6 months or more, unless you need the money to help you start a new job or stay in work.</p>
                            <p><a href="https://www.gov.uk/universal-credit/other-financial-support#budgeting-advance">Find out more and how to apply for a Budgeting Advance</a></p>
                        </div>
                      </div>

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                    Budgeting Loans
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                <p>A Budgeting Loan can help with certain one-off expenses. You may be eligible for a Budgeting Loan if you’ve been on the following benefits for the past 6 months:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>Income Support</li>
                                    <li>income-based Jobseeker’s Allowance</li>
                                    <li>income-related Employment and Support Allowance</li>
                                    <li>Pension Credit</li>
                                </ul>
                                <p><a href="https://www.gov.uk/budgeting-help-benefits/">Find out more and how to apply for Budgeting Loans</a></p>
                            </div>
                          </div>

                          <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                        Bus Pass (Older Persons)
                                    </span>
                                  </h2>
                                </div>
                                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                    <p>If you are an older person, you may be able to get a bus pass for free travel. </p>
                                     <p>Find out more and how to apply for <a href="https://www.gov.uk/apply-for-elderly-person-bus-pass" >free bus travel.</a></p>
                                </div>
                              </div>

                              <div class="govuk-accordion__section">
                                  <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                            Cold Weather Payment
                                        </span>
                                      </h2>
                                    </div>
                                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                        <ul class="govuk-list govuk-list--bullet">
                                            <li>Pension Credit</li>
                                            <li>Income Support</li>
                                            <li>income-based Jobseeker’s Allowance</li>
                                            <li>income-related Employment and Support Allowance</li>
                                            <li>Universal Credit</li>
                                            <li>Support for Mortgage Interest</li>
                                          </ul>
                                          <p><a href="https://www.gov.uk/cold-weather-payment/" >Find out more about Cold Weather Payments</a></p>
                                    </div>
                                  </div>
    
                                  <div class="govuk-accordion__section">
                                      <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                                Council Tax Reduction
                                            </span>
                                          </h2>
                                        </div>
                                        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                            <p>You could be eligible if you’re on a low income or claim benefits. Your bill could be reduced by up to 100%. You can apply if you own your home, rent, are unemployed or working.</p>
                                            <p><a href="https://www.gov.uk/council-tax-reduction/" >Find out more and how to apply for free bus travel</a></p>
                                        </div>
                                      </div>
        
                                      <div class="govuk-accordion__section">
                                          <div class="govuk-accordion__section-header">
                                            <h2 class="govuk-accordion__section-heading">
                                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                                    Housing Benefit
                                                </span>
                                              </h2>
                                            </div>
                                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                                <p>Housing Benefit can help you pay your rent if you’re unemployed, on a low income or claiming benefits. You can make a new claim for Housing Benefit if any of the following apply:</p>
                                                <ul class="govuk-list govuk-list--bullet">
                                                    <li>you’re getting the <a href="https://www.gov.uk/disability-premiums-income-support">severe disability premium</a>, or are entitled to it</li>
                                                    <li>you got or were entitled to the severe disability premium within the last month and are still eligible for it</li>
                                                    <li>you have reached <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                                                    <li>you’re in supported, sheltered or temporary housing</li>
                                                </ul>
                                                <p><a href="https://www.gov.uk/housing-benefit" >Find out more and how to apply for Housing Benefit</a></p>
                                            </div>
                                          </div>

                                          <div class="govuk-accordion__section">
                                              <div class="govuk-accordion__section-header">
                                                <h2 class="govuk-accordion__section-heading">
                                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                                        Support for Mortgage Interest loan
                                                    </span>
                                                  </h2>
                                                </div>
                                                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                                    <p>If you’re a homeowner, you might be able to get help towards interest payments on:</p>
                                                    <ul class="govuk-list govuk-list--bullet">
                                                        <li>your mortgage</li>
                                                        <li>loans you’ve taken out for certain repairs and improvements to your home</li>
                                                    </ul>
                                                    <p>To qualify you usually need to be getting one of the following:</p>
                                                    <ul class="govuk-list govuk-list--bullet">
                                                        <li><a href="/income-support">Income Support</a></li>
                                                        <li>income-based <a href="/jobseekers-allowance">Jobseeker’s Allowance (<abbr title="Jobseeker’s Allowance">JSA</abbr>)</a>
                                                      </li>
                                                        <li>income-related <a href="/employment-support-allowance">Employment and Support Allowance (<abbr title="Employment and Support Allowance">ESA</abbr>)</a>
                                                      </li>
                                                        <li><a href="/universal-credit">Universal Credit</a></li>
                                                        <li><a href="/pension-credit">Pension Credit</a></li>
                                                      </ul>
                                                    <p><a href="https://www.gov.uk/support-for-mortgage-interest" >Find out more and how to apply for Support for Mortgage Interest</a></p>
                                                </div>
                                              </div>
                
                                              <div class="govuk-accordion__section">
                                                  <div class="govuk-accordion__section-header">
                                                    <h2 class="govuk-accordion__section-heading">
                                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                                            Warm Home Discount
                                                        </span>
                                                      </h2>
                                                    </div>
                                                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                                        <p>You could get £140 off your electricity bill for winter 2020 to 2021 under the Warm Home Discount Scheme.</p>
                                                        <p>You might qualify for the Warm Home Discount Scheme if:</p>
                                                        <ul class="govuk-list govuk-list--bullet">
                                                          <li>you get Pension Credit</li>
                                                          <li>you’re on a low income and meet your energy supplier’s criteria for the scheme </li>
                                                          </ul>
                                                        <p>Find out more and how to apply for <a href="https://www.gov.uk/the-warm-home-discount-scheme">Warm Home Discount Scheme</a></p>
                                                    </div>
                                                  </div>

                                                  <div class="govuk-accordion__section">
                                                      <div class="govuk-accordion__section-header">
                                                        <h2 class="govuk-accordion__section-heading">
                                                            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                                                Winter Fuel Payment
                                                            </span>
                                                          </h2>
                                                   </div>
                                                   <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                                   <p>If you were born on or before 5 October 1954 you could get between £100 and £300 to help you pay your heating bills.</p>
                                                   <p>Find out more and how to apply for <a href="https://www.gov.uk/winter-fuel-payment">Winter Fuel Payment</a></p>
                                                  </div>
                                             </div>
                        

              </div>



       
          <h3 class="govuk-heading-l govuk-!-margin-top-5">Additional Support</h3>

          <p>The Citizens Advice Bureau provide further advice on help you can  <a href="https://www.citizensadvice.org.uk/debt-and-money/if-you-cant-pay-your-bills-because-of-coronavirus/">get if you can't pay your bills</a>. This includes things like your mortgage, energy bills, council tax or court fines.</p>
          <p>If you're struggling to pay for food, <a href="https://www.citizensadvice.org.uk/benefits/help-if-on-a-low-income/using-a-food-bank/">find out how to get help from a food bank</a>. If you have children, <a href="https://www.citizensadvice.org.uk/family/education/school-education/help-with-school-costs/">check if they can get free school meals</a>.</p>
          <p>You might also be able to get <a href="support-to-help-with-income">financial support with your income</a>.</p>

          <h3 class="govuk-heading-m govuk-!-margin-top-5">Other financial support might be available if:</h3>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="/version-0-10/summary-carers">you're caring for another adult</a></li>
              <li><a href="https://www.gov.uk/browse/childcare-parenting/financial-help-children">you're looking after children, or about to</a></li>
              <li><a href="https://www.gov.uk/financial-help-disabled">you're disabled or have a health condition</a></li>
              <li><a href="https://www.gov.uk/when-someone-dies">someone has died</a></li>
            </ul>

            </div>
          
         

          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
