{% extends "layout.html" %}
{% set bodyAttributes = { id: "corona" } %}

{% block pageTitle %}
Coronavirus (COVID-19): what to do if you’re self-employed and cannot work
{% endblock %}

{% block main %}
  <div id="corona-header">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-6"><a class="govuk-!-font-weight-bold" href="index">Coronavirus (COVID-19): what you need to do</a></p>
            </div>
        </div>
    </div>
  </div>

  <div class="govuk-width-container {{ containerClasses }}">

      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "https://www.gov.uk/"
          },
          {
            text: "Coronavirus advice",
            href: "https://www.gov.uk/coronavirus"
          },
          {
            text: "What to do if you're self employed and cannot work"
          }
        ]
      }) }}


    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">Coronavirus (COVID-19): arranging or
                  attending a funeral during the outbreak</h1>

                <h2 class="govuk-heading-s govuk-!-font-weight-regular">Contents</h2>
                <ul class="govuk-list">
                    <li><a href="#arrange">How to arrange the funeral</a></li>
                    <li><a href="#costs">Help with funeral costs</a></li>
                    <li><a href="#child">Support for a child’s funeral 
                      costs</a></li>
                  </ul>

                  <h2 class="govuk-heading-l" id="arrange">How to arrange the
                    funeral</h2>

                  <p>The funeral can usually only take place after <a href="https://www.gov.uk/after-a-death" class="govuk-link">
                    registering the death</a>.</p>
                  <p>There are restrictions in place during the coronavirus
                    (COVID-19) outbreak which will affect the type of funeral
                    that can be held. These include:</p>
                    <ul class="govuk-list govuk-list--bullet">
                    <li>a limit on how many people can attend – in most cases it
                      should only be people the person lived with or immediate
                      family</li>
                    <li>social distancing measures to be in place – this means
                      keeping 2 metres (6ft) apart from people outside your
                      household at all times</li>
                      </ul>
                    <p>A small number of close friends can go to the funeral if
                      there are no household or family members who can attend.</p>
                    <p>Anyone who is unwell with coronavirus (COVID-19) symptoms
                      should not attend. People who are self-isolating because
                      someone in their household is ill may attend if they do
                      not have symptoms themselves.</p>
                    <p>Funeral directors can give more help and guidance about
                      what is possible during the coronavirus (COVID-19) outbreak.</p>
                    <p>You can find out more about <a href="https://www.gov.uk/after-a-death/arrange-the-funeral" class="govuk-link">
                      arranging a funeral and finding a funeral director</a>.
                      You can also arrange the funeral yourself by <a href="https://www.gov.uk/find-bereavement-services-from-council" class="govuk-link">
                      contacting your local council</a>.</p>

                    <h2 class="govuk-heading-l" id="costs">Help with funeral
                      costs</h2>

                    <p>You could be eligible for <a href="https://www.gov.uk/funeral-payments" class="govuk-link">help with funeral costs</a> if you
                      have a low income and get certain benefits. The amount you
                      get will depend on your circumstances. It will not usually
                      cover all of the costs of the funeral.</p>

                    <p>You might be able to get <a href="https://moneyadviceservice.org.uk/en/articles/help-paying-for-a-funeral">
                      other help to pay for the funeral</a> if you do not get any
                      benefits.</p>

                    <h2 class="govuk-heading-l" id="costs">Support for a
                      child’s funeral costs</h2>

                    <p>The Children’s Funeral Fund for England can <a href="https://www.gov.uk/child-funeral-costs">
                      help to pay for some of the costs of a funeral</a> for a
                      child under 18 or a baby stillborn after the 24th week of
                      pregnancy. The burial or cremation must take place in
                      England. It is not means-tested – what you earn or how much
                      you have in savings will not affect what you get.</p>

                    <p>You do not have to pay for a child’s burial or cremation
                      in Scotland or Wales.</p>








            </div>
        </div>

    </main>
  </div>
{% endblock %}
