{% extends "layout.html" %}
{% set bodyAttributes = { id: "corona" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}
  <div id="corona-header">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-6"><a class="govuk-!-font-weight-bold" href="index">Coronavirus (COVID-19): what you need to do</a></p>
            </div>
        </div>
    </div>
  </div>

  <div class="govuk-width-container {{ containerClasses }}">

      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "https://www.gov.uk/"
          },
          {
            text: "Coronavirus advice",
            href: "https://www.gov.uk/coronavirus"
          },
          {
            text: "Page title"
          }
        ]
      }) }}


    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">Page title</h1>

                 <p class="govuk-body">Body text</p>

            </div>
        </div>
      
    </main>
  </div>
{% endblock %}