{% extends "layout.html" %}
{% set bodyAttributes = { id: "corona" } %}

{% block pageTitle %}
Coronavirus (COVID-19): what to do if you’re self-employed and cannot work
{% endblock %}

{% block main %}
  <div id="corona-header">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-6"><a class="govuk-!-font-weight-bold" href="index">Coronavirus (COVID-19): what you need to do</a></p>
            </div>
        </div>
    </div>
  </div>

  <div class="govuk-width-container {{ containerClasses }}">

      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "https://www.gov.uk/"
          },
          {
            text: "Coronavirus advice",
            href: "https://www.gov.uk/coronavirus"
          },
          {
            text: "What to do if you're self employed and cannot work"
          }
        ]
      }) }}


    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">Coronavirus (COVID-19): help and
                  advice if someone dies</h1>

                  <p>When someone dies it can affect people in different ways.
                    There’s often lots to do which can feel overwhelming.</p>

                  <p>But there is a range of support available to help you if you
                    need it. This includes:</p>

                  <ul class="govuk-list govuk-list--bullet">
                    <li>a step by step guide on <a href="https://www.gov.uk/when-someone-dies">what to do when someone dies</a></li>
                    <li>information and support from <a href="https://www.gov.uk/find-bereavement-services-from-council">your local council’s bereavement service</a></li>
                    <li>NHS advice on <a href="https://www.nhs.uk/conditions/stress-anxiety-depression/coping-with-bereavement/">dealing with bereavement, grief and loss</a></li>
                    <li><a href="https://www.cruse.org.uk/">support, advice and information from Cruse Bereavement Care</a>, including coping with grief during the coronavius (COVID-19) outbreak</li>
                    <li>guidance on <a href="https://www.citizensadvice.org.uk/">what to do after a death from Citizens Advice</a></li>
                  </ul>



            </div>
        </div>

    </main>
  </div>
{% endblock %}
