{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "https://www.gov.uk/"
          },
          {
            text: "Benefits"
          }
        ]
      }) }}


    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

        <div class="govuk-grid-row margin-top-minus-fifty">
            <div class="govuk-grid-column-full">
              <h1 class="govuk-visually-hidden">Browse GOV.UK</h1>
              <div class="browse" id="browsecontainer">
              <div class="browse-panes section" data-state="section" data-module="track-click"><div id="subsectionone" class="subsection-pane pane" style="display: none;">
                <div class="pane-inner curated-list">
                  <h2 tabindex="-1" class="js-heading">How benefits work</h2>

                    <h3 class="list-header">How much you could get</h3>

                    <ul>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/benefits-calculators">Benefits calculators</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/benefit-cap">Benefit cap</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/benefit-cap-calculator">Benefit cap calculator</a>
                        </li>
                    </ul>


                      <h3 class="list-header">Payments</h3>

                    <ul>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/how-to-have-your-benefits-paid">How and when your benefits are paid</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/short-term-benefit-advance">Get an advance on your first benefit payment</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/dwp-visit">Home visit to check your benefit payment</a>
                        </li>
                    </ul>
                      <h3 class="list-header">Extra help and support</h3>

                    <ul>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/payment-exception-service">Payment Exception Service</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/support-visit-benefit-claim">Support visits if you need help to claim benefits</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/help-nhs-costs">Get help with NHS prescriptions and health costs</a>
                        </li>
                    </ul>
                      <h3 class="list-header">Changes of circumstance</h3>

                    <ul>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/report-benefits-change-circumstances">Benefits: report a change in your circumstances</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/claim-benefits-abroad">Claiming benefits if you live, move or travel abroad</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/going-to-hospital-benefits">Going into hospital if you get benefits</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/benefits-and-prison">Benefits and prison</a>
                        </li>
                    </ul>
                      <h3 class="list-header">Overpayments and fraud</h3>

                    <ul>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/benefit-overpayments">Benefit overpayments</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/benefit-fraud">Benefit fraud</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/fraud-error-prevention-centres">Fraud and Error Prevention Service centres</a>
                        </li>
                    </ul>
                      <h3 class="list-header">Appeal or complain about a decision</h3>

                    <ul>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/mandatory-reconsideration">Challenge a benefit decision (mandatory reconsideration)</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/appeal-benefit-decision">Appeal a benefit decision</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://www.gov.uk/complain-independent-case-examiner">Complain to the Independent Case Examiner</a>
                        </li>
                    </ul>

                </div>

              </div>


              <div id="subsectiontwo" class="subsection-pane pane" style="display: none;">
                <div class="pane-inner curated-list">
                  <h2 tabindex="-1" class="js-heading">If you're unemployed or on a low income</h2>
                  <h2 class="list-header">Most common financial support</h2>
                  <ul class="govuk-list">
                    <li><a href="https://www.gov.uk/universal-credit">Universal Credit</a></li>
                    <li><a href="https://www.gov.uk/jobseekers-allowance">Job Seeker's Allowance</a></li>
                    <li><a href="https://www.gov.uk/pension-credit">Pension Credit</a></li>
                    <li><a href="/checker-0-7/bc-q1-pension">Check what I might be entitled to</a></li>
                  </ul>
  
                  <h2 class="list-header">Additional financial support</h2>
                  <ul class="govuk-list">
                      <li><a href="https://www.gov.uk/budgeting-help-benefits">Budgeting loans</a></li>
                      <li><a href="https://www.gov.uk/christmas-bonus">Christmas bonus</a></li>
                      <li><a href="https://www.gov.uk/get-a-ppc">Get a prescription prepayment certificate</a></li>
                      <li><a href="https://www.gov.uk/help-nhs-costs">Get help with NHS prescriptions and health costs</a></li>
                      <li><a href="https://www.gov.uk/winter-fuel-payment">Winter fuel payment</a></li>
                      <li><a href="https://www.gov.uk/apply-for-elderly-person-bus-pass">Elderly person's bus pass</a></li>
                      <li><a href="https://www.gov.uk/cold-weather-payment">Cold weather payment</a></li>
                      <li><a href="https://www.gov.uk/the-warm-home-discount-scheme">Warm home discount scheme</a></li>
                      <li><a href="https://www.gov.uk/mortgage-interest-run-on">Mortgage interest run on</a></li>
                      <li><a href="https://www.gov.uk/reduced-earnings-allowance">Reduced earnings allowance</a></li>
                      <li><a href="https://www.gov.uk/get-help-savings-low-income">Get help with savings (Help to save)</a></li>
                      <li><a href="https://www.gov.uk/support-for-mortgage-interest">Support for Mortgage interest</a></li>
                      <li><a href="https://www.gov.uk/housing-benefit">Housing benefit</a></li>
                      <li><a href="https://www.gov.uk/apply-council-tax-reduction">Council Tax Reduction</a></li>
                      <li><a href="https://www.gov.uk/national-concessionary-fuel-scheme">National concessionary fuel scheme</a></li>
                      <li><a href="https://www.gov.uk/financial-help-disabled/television-licence-discount">Television Licence Discount</a></li>
                    </ul>
  
                    <h2 class="list-header">Support getting back into work</h2>
                    <ul class="govuk-list">
                        <li><a href="https://www.gov.uk/moving-from-benefits-to-work">Help with moving from benefits to work</a></li>
                        <li><a href="https://www.gov.uk/work-health-programme">Work and health programme</a></li>
                    </ul>
                </div>
              </div>

              <div id="subsectionthree" class="subsection-pane pane" style="display: none;">
                <div class="pane-inner curated-list">
                  <h2 tabindex="-1" class="js-heading">If you're sick, disabled or have a health condition</h2>
                  
                  <h2 class="list-header">Most common financial support</h2>
                  <ul class="govuk-list">
                    <li><a href="https://www.gov.uk/pip">Personal independance payment</a></li>
                    <li><a href="https://www.gov.uk/employment-support-allowance">Employment and Support Allowance (ESA)</a></li>
                    <li><a href="https://www.gov.uk/attendance-allowance">Attendance Allowance</a></li>
                    <li><a href="https://www.gov.uk/disability-living-allowance-children">Disability Living Allowance for children</a></li>
                  </ul>
                  
                  <h2 class="list-header">Other financial support if you're disabled</h2>
                  <ul class="govuk-list">
                    <li><a href="https://www.gov.uk/financial-help-disabled/disability-and-sickness-benefits">Disability and sickness benefits</a></li>
                    <li><a href="https://www.gov.uk/financial-help-disabled/vehicles-and-transport">Vehicle and transport</a></li>
                    <li><a href="https://www.gov.uk/financial-help-disabled/home-and-housing">Home and housing</a></li>
                    <li><a href="https://www.gov.uk/financial-help-disabled/on-a-low-salary">On a low income</a></li>
                    <li><a href="https://www.gov.uk/financial-help-disabled/television-licence-discount">Television license Discount</a></li>
                    <li><a href="https://www.gov.uk/financial-help-disabled/vat-relief">VAT relief for disabled people</a></li>
                    <li><a href="https://www.gov.uk/financial-help-disabled/injuries-illness-caused-at-work">Work related injuries or illness</a></li>
                    <li><a href="https://www.gov.uk/financial-help-disabled/armed-forces-compensation">Armed forces compensation</a></li>
                  </ul>

                </div>
              </div>

              <div id="subsectionfour" class="subsection-pane pane" style="display: none;">
                <div class="pane-inner curated-list">
                  <h2 tabindex="-1" class="js-heading">If you have children</h2>
                  <h2 class="list-header">Child Benefit</h2>
                  <ul class="govuk-list">
                    <li><a href="https://www.gov.uk/child-benefit">Claim Child Benefit</a></li>
                    <li><a href="https://www.gov.uk/child-benefit-number">Child Benefit number and proof you qualify</a></li>
                    <li><a href="https://www.gov.uk/claim-child-benefit-behalf-someone-else">Claim and deal with Child Benefit for someone else</a></li>
                    <li><a href="https://www.gov.uk/guardians-allowance">Guardian's Allowance</a></li>
                    <li><a href="https://www.gov.uk/child-benefit-tax-calculator">Child Benefit tax calculator</a></li>
                    <li><a href="https://www.gov.uk/child-benefit-payment-dates">Child Benefit payment dates</a></li>
                  </ul>
  
                  <h2 class="list-header">Support for Disabled Children</h2>
                  <ul class="govuk-list">
                      <li><a href="https://www.gov.uk/disability-living-allowance-children">Disability Living Allowance for Children</a></li>
                      <li><a href="https://www.gov.uk/help-for-disabled-child">Help if you have a disabled child</a></li>
                    </ul>
  
                    <h2 class="list-header">Maternity and Paternity</h2>
                    <ul class="govuk-list">
                        <li><a href="https://www.gov.uk/maternity-allowance">Maternity Allowance</a></li>
                        <li><a href="https://www.gov.uk/maternity-pay-leave">Maternity Pay and Leave</a></li>
                        <li><a href="https://www.gov.uk/sure-start-maternity-grant">Sure Start Maternity Grant</a></li>
                    </ul>
  
                    <h2 class="list-header">Childcare</h2>
                    <ul class="govuk-list">
                        <li><a href="https://www.gov.uk/help-with-childcare-costs">Help paying for childcare</a></li>
                        <li><a href="https://www.gov.uk/get-childcare">Get Child care step-by step</a></li>
                        <li><a href="https://www.gov.uk/childcare-grant">Childcare grant</a></li>
                    </ul>
  
                    <h2 class="list-header">Other support</h2>
                  <ul class="govuk-list">
                    <li><a href="https://www.gov.uk/parents-learning-allowance">Parents Learning Allowance</a></li>
                    <li><a href="https://www.gov.uk/care-to-learn">Care to learn</a></li>
                    <li><a href="https://www.gov.uk/child-trust-funds">Child Trust Fund</a></li>
                    <li><a href="https://www.gov.uk/apply-free-school-meals">Apply for free school meals</a></li>
                    <li><a href="https://www.gov.uk/healthy-start">Healthy start</a></li>
                    <li><a href="https://www.gov.uk/making-child-maintenance-arrangement">Child Maintenance</a></li>
                  </ul>

                </div>
              </div>

              <div id="subsectionfive" class="subsection-pane pane" style="display: none;">
                <div class="pane-inner curated-list">
                  <h2 tabindex="-1" class="js-heading">If you're caring for others</h2>
                  <h2 class="list-header">Financial support</h2>
                  <ul class="govuk-list">
                    <li><a href="https://www.gov.uk/carers-allowance">Carer's allowance</a></li>
                    <li><a href="https://www.gov.uk/carers-credit">Carer's Credit</a></li>
                    <li><a href="#">Check what I might be eligible for</a></li>
                  </ul>
  
                  <h2 class="list-header">Financial support for the person you're caring for</h2>
                  <p>The person you are caring for may also be able to claims support as a result of you caring for them</p>
                  <ul class="govuk-list">
                      <li><a href="https://www.gov.uk/attendance-allowance">Attendance allowance</a></li>
                    </ul>
  
                    <h2 class="list-header">Other support</h2>
                    <ul class="govuk-list">
                        <li><a href="https://www.gov.uk/become-appointee-for-someone-claiming-benefits">Become an appointee for someone claiming benefits</a></li>
                        <li><a href="https://www.gov.uk/work-health-programme">Work and health programme</a></li>
                        <li><a href="https://www.gov.uk/carers-uk">Carers UK</a></li>
                    </ul>

                </div>
              </div>

              <div id="subsectionsix" class="subsection-pane pane" style="display: none;">
                <div class="pane-inner curated-list">
                  <h2 tabindex="-1" class="js-heading">If you need help with heating and housing</h2>
                  <h3 class="list-header">Housing benefits</h3>

                  <ul>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk//housing-benefit">Housing Benefit</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk//apply-council-tax-reduction">Apply for Council Tax Reduction</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk//apply-housing-benefit-from-council">Housing Benefit information from your council</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk//housing-and-universal-credit">Housing costs and Universal Credit</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk//appeal-housing-benefit-decision">Appeal a Housing Benefit decision</a>
                      </li>
                  </ul>
                    <h3 class="list-header">Heating benefits</h3>
              
                  <ul>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk//cold-weather-payment">Cold Weather Payment</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk//the-warm-home-discount-scheme">Warm Home Discount Scheme</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk//winter-fuel-payment">Winter Fuel Payment</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk//national-concessionary-fuel-scheme">National Concessionary Fuel Scheme</a>
                      </li>
                  </ul>
                    <h3 class="list-header">Other help available </h3>
              
                  <ul>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk//free-discount-tv-licence">Get a free or discounted TV licence</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk//bills-benefits">Help paying bills using your benefits</a>
                      </li>
                  </ul>

                </div>
              </div>

              <div id="subsectionseven" class="subsection-pane pane" style="display: none;">
                <div class="pane-inner curated-list">
                  <h2 tabindex="-1" class="js-heading">If you're planning to retire</h2>


                </div>
              </div>

              <div id="subsectioneight" class="subsection-pane pane" style="display: none;">
                <div class="pane-inner curated-list">
                  <h2 tabindex="-1" class="js-heading">If you need support in retirement</h2>


                </div>
              </div>

              <div id="subsectionnine" class="subsection-pane pane" style="display: none;">
                <div class="pane-inner curated-list">
                  <h2 tabindex="-1" class="js-heading">If you need financial support after a death</h2>
                  <h2 class="list-header">Financial support</h2>
                  <ul class="govuk-list">
                    <li><a href="https://www.gov.uk/bereavement-support-payment">Bereavement Support Payment</a></li>
                    <li><a href="https://www.gov.uk/funeral-payments">Get help with funeral costs</a></li>
                    <li><a href="https://www.gov.uk/child-funeral-costs">Support for Child Funeral Costs</a></li>
                    <li><a href="https://www.gov.uk/guardians-allowance">Guardian's Allowance</a></li>
                    <li><a href="https://www.gov.uk/war-widow-pension">War Widower’s Pension</a></li>
                    <li><a href="https://www.gov.uk/widowed-parents-allowance">Widowed Parent Allowance</a></li>
                    <li><a href="#">Check what I might be eligible for</a></li>
                  </ul>
  
                  <h2 class="list-header">Other support</h2>
                  <ul class="govuk-list">
                    <li><a href="https://www.gov.uk/when-someone-dies">What to do when someone dies: step by step</a></li>
                    <li><a href="https://www.gov.uk/death-spouse-benefits-tax-pension">Your benefits, tax and pension after the death of a spouse</a></li>
                    <li><a href="https://www.gov.uk/financial-help-disabled/home-and-housing">Child benefit if a parent or child dies</a></li>
                  </ul>

                </div>
              </div>

              <div id="subsectionten" class="subsection-pane pane" style="display: none;">
                <div class="pane-inner curated-list">
                  <h2 tabindex="-1" class="js-heading">Find a specific benefit</h2>
                  <h3 class="list-header">A to Z of available benefits</h3>
                  <ul>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk/attendance-allowance">Attendance Allowance</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk/bereavement-support-payment">Bereavement Support</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="https://www.gov.uk/carers-allowance">Carer's Allowance</a>
                      </li>
                      <li><a href="https://www.gov.uk/child-benefit">Child Benefit</a></li>
                      <li><a href="https://www.gov.uk/jobseekers-allowance">Job Seeker's Allowance</a></li>
                    <li><a href="https://www.gov.uk/pension-credit">Pension Credit</a></li>
                      <li><a href="https://www.gov.uk/universal-credit">Universal Credit</a></li>
                    
                  </ul>

                </div>
              </div>


              <div id="section" class="section-pane pane with-sort">
                <div class="pane-inner curated">
              <h2 tabindex="-1" class="js-heading govuk-heading-m">Benefits</h2>
              <ul>
                  <li class="">
                    <a class="govuk-link" id="subone">
                      <h3>How benefits work</h3>
                      <p>Benefit calculators, how payments work, changes of circumstance, benefit fraud and appeals</p>
            </a>      </li>
                  <li class="">
                    <a class="govuk-link" id="subtwo">
                      <h3>If you're unemployed or on a low income</h3>
                      <p>Universal Credit, Jobseeker's Allowance, Income Support, Budgeting Loans and other help if you’re on a low income</p>
            </a>      </li>
                  <li class="">
                    <a class="govuk-link" id="subthree">
                      <h3>If you're sick, disabled or have a health condition</h3>
                      <p>Employment and Support Allowance, Statutory Sick Pay and other help if you have a disability or illness that affects your ability to work</p>
            </a>      </li>
                  <li class="">
                    <a class="govuk-link" id="subfour">
                      <h3>If you have children</h3>
                      <p>Child Benefit, Child Tax Credits and financial support for childcare</p>
            </a>      </li>
                  <li class="">
                    <a class="govuk-link" id="subfive">
                      <h3>If you're caring for others</h3>
                      <p>Carer's Allowance, Disability Living Allowance and other help to look after others</p>
            </a>      </li>
                  <li class="">
                    <a class="govuk-link" id="subsix">
                      <h3>If you need help with heating and housing</h3>
                      <p>Getting Housing Benefit, Winter Fuel Payment, Cold Weather Payment and other help for housing costs</p>
            </a>      </li>
                  <li class="">
                    <a class="govuk-link" id="subseven">
                      <h3>If you're planning to retire</h3>
                      <p>Work out your State Pension age, check your State Pension forecast and find a lost pension</p>
            </a><li class="">
              <a class="govuk-link" id="subeight">
                <h3>If you need support in retirement</h3>
                <p>Pension Credit, Attendance Allowance and other support with living costs</p>
            </a>      </li>
                  <li class="">
                    <a class="govuk-link" id="subnine">
                      <h3>If you need financial support after a death</h3>
                      <p>Getting Widowed Parent’s Allowance, Bereavement Support Payment and olher help when someone dies</p>
            </a>      </li>
                  <li class="">
                    <a class="govuk-link" id="subten">
                      <h3>Find a specific benefit</h3>
                      <p>Look for a benefit if you know what it's called</p>
            </a>      </li>
              </ul>
            </div>

              </div>

              <div id="root" class="pane root-pane">
              <h2 class="govuk-visually-hidden" tabindex="-1">All categories</h2>
              <ul>
                  <li class="active">
                    <a class="govuk-link" href="/browse/benefits">Benefits</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/business">Business and self-employed</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/childcare-parenting">Childcare and parenting</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/citizenship">Citizenship and living in the UK</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/justice">Crime, justice and the law</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/disabilities">Disabled people</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/driving">Driving and transport</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/education">Education and learning</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/employing-people">Employing people</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/environment-countryside">Environment and countryside</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/housing-local-services">Housing and local services</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/tax">Money and tax</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/abroad">Passports, travel and living abroad</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/visas-immigration">Visas and immigration</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/working">Working, jobs and pensions</a>
                  </li>
              </ul>
            </div>

            </div>

            </div>

            </div>
        </div>

    </main>
  </div>

  <script type="text/javascript">


document.getElementById("subone").onclick = function () {
  document.getElementById("subsectionone").style.display = "block";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";
  document.getElementById("subsectionnine").style.display = "none";
  document.getElementById("subsectionten").style.display = "none";
  
  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");
  var subnine = document.getElementById("subnine");
  var subten = document.getElementById("subten");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');
  $(subnine).parent('li').removeClass('active');
  $(subten).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subtwo").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "block";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";
  document.getElementById("subsectionnine").style.display = "none";
  document.getElementById("subsectionten").style.display = "none";
  
  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");
  var subnine = document.getElementById("subnine");
  var subten = document.getElementById("subten");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');
  $(subnine).parent('li').removeClass('active');
  $(subten).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subthree").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "block";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";
  document.getElementById("subsectionnine").style.display = "none";
  document.getElementById("subsectionten").style.display = "none";
  
  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");
  var subnine = document.getElementById("subnine");
  var subten = document.getElementById("subten");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');
  $(subnine).parent('li').removeClass('active');
  $(subten).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subfour").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "block";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";
  document.getElementById("subsectionnine").style.display = "none";
  document.getElementById("subsectionten").style.display = "none";
  
  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");
  var subnine = document.getElementById("subnine");
  var subten = document.getElementById("subten");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');
  $(subnine).parent('li').removeClass('active');
  $(subten).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subfive").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "block";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";
  document.getElementById("subsectionnine").style.display = "none";
  document.getElementById("subsectionten").style.display = "none";
  
  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");
  var subnine = document.getElementById("subnine");
  var subten = document.getElementById("subten");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');
  $(subnine).parent('li').removeClass('active');
  $(subten).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subsix").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "block";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";
  document.getElementById("subsectionnine").style.display = "none";
  document.getElementById("subsectionten").style.display = "none";
  
  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");
  var subnine = document.getElementById("subnine");
  var subten = document.getElementById("subten");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');
  $(subnine).parent('li').removeClass('active');
  $(subten).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subseven").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "block";
  document.getElementById("subsectioneight").style.display = "none";
  document.getElementById("subsectionnine").style.display = "none";
  document.getElementById("subsectionten").style.display = "none";
  
  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");
  var subnine = document.getElementById("subnine");
  var subten = document.getElementById("subten");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');
  $(subnine).parent('li').removeClass('active');
  $(subten).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subeight").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "block";
  document.getElementById("subsectionnine").style.display = "none";
  document.getElementById("subsectionten").style.display = "none";
  
  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");
  var subnine = document.getElementById("subnine");
  var subten = document.getElementById("subten");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');
  $(subnine).parent('li').removeClass('active');
  $(subten).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subnine").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";
  document.getElementById("subsectionnine").style.display = "none";
  document.getElementById("subsectionten").style.display = "block";
  
  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");
  var subnine = document.getElementById("subnine");
  var subten = document.getElementById("subten");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');
  $(subnine).parent('li').removeClass('active');
  $(subten).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subten").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";
  document.getElementById("subsectionnine").style.display = "none";
  document.getElementById("subsectionten").style.display = "block";
  
  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");
  var subnine = document.getElementById("subnine");
  var subten = document.getElementById("subten");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');
  $(subnine).parent('li').removeClass('active');
  $(subten).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}



</script>

{% endblock %}
