
{% extends "layout.html" %}

{% block pageTitle %}
Financial help if you’re looking for work
{% endblock %}

{% block main %}

<div class="govuk-width-container {{ containerClasses }}">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
        </li>
        <li class="govuk-breadcrumbs__list-item active">
            Financial help if you’re looking for work
        </li>
      </ol>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Financial help if you’re looking for work</h1>

            <!--  contents -->
            <p class="govuk-body-s">Contents</p>

    <ul class="govuk-list govuk-list--dashed govuk-body-s">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a href="financial-support-looking-for-work">Regular payments if you're looking for work</a>
            </li>

                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="financial-support-looking-for-work-specific-costs">Other support if you're on a low income</a>
                      </li>

                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                        Further help if you’re disabled, caring for someone, or looking after a family
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="financial-support-looking-for-work-apply-decide">Help to find and apply for the right benefits for you</a>

                  </li>

                </ul>
            <!--  /contents -->


            <h2 class="govuk-heading-l govuk-!-margin-top-6 overview-top-border">Further help if you’re disabled, caring for someone, or looking after a family</h2>

                <p>You might be able to get further financial help if:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li><a href="financial-support-looking-for-work-specific-costs">you're on a low income</a></li>
                  <li><a href="https://www.gov.uk/browse/benefits/unable-to-work">you're temporarily unable to work</a></li>
                  <li><a href="https://www.gov.uk/browse/benefits/disability">you're disabled or have a health condition</a></li>
                  <li><a href="https://www.gov.uk/browse/benefits/help-for-carers">you're caring for someone</a></li>
                  <li><a href="https://www.gov.uk/browse/benefits/families">you're looking after a family</a></li>
                  <li><a href="https://www.gov.uk/browse/benefits/bereavement">someone has died</a></li>
                  </ul>


            <hr>



          </div>

          <div class="govuk-grid-column-one-third">


            </div>

      </div>


    </main>

<!--  /govuk-width-container -->
</div>

{% endblock %}
