{% extends "layout.html" %}

{% block pageTitle %}
  Browse GOV.UK 
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "index"
          },
          {
            text: "Benefits"
          }
        ]
      }) }}


    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

        <div class="govuk-grid-row margin-top-minus-fifty">
            <div class="govuk-grid-column-full">
              <h1 class="govuk-visually-hidden">Browse GOV.UK</h1>
              <div class="browse" id="browsecontainer">
              <div class="browse-panes section" data-state="section" data-module="track-click">

                <div id="subsectionone" class="subsection-pane pane" style="display: none;">
                <div class="pane-inner curated-list">
                  <h2 tabindex="-1" class="js-heading">Manage an existing benefit, payment or claim</h2>
                  <h3 class="list-header">Manage your benefit, payment or claim online</h3>
                  <ul class="govuk-list">
                      <li><a class="govuk-link" href="#">Sign in to your Universal Credit account</a></li>
                      <li><a class="govuk-link" href="#">Manage your tax credits</a></li>
                      <li><a class="govuk-link" href="#">Sign in to your childcare account</a></li>
                      <li><a class="govuk-link" href="#">Sign in to your Help to Save account</a></li>
                      <li><a class="govuk-link" href="#">Send your fit note for your ESA claim</a></li>
                      <li><a class="govuk-link" href="#">Manage your Child Maintenance Service case</a></li>
                  </ul>
                  <h3 class="list-header">Payments</h3>
                  <ul class="govuk-list">
                      <li><a class="govuk-link" href="#">How and when your benefits are paid</a></li>
                      <li><a class="govuk-link" href="#">Get an advance on your first benefit payment</a></li>
                      <li><a class="govuk-link" href="#">Tax credits: your payment dates</a></li>
                      <li><a class="govuk-link" href="#">Child Benefit payment dates</a></li>
                      <li><a class="govuk-link" href="#">Home visit to check your benefit payment</a></li>
                      <li><a class="govuk-link" href="#">Payment Exception Service</a></li>
                      <li><a class="govuk-link" href="#">Help paying bills using your benefits</a></li>
                      <li><a class="govuk-link" href="#">Disability premiums</a></li>
                      <li><a class="govuk-link" href="#">Cold Weather Payment</a></li>
                      <li><a class="govuk-link" href="#">Winter Fuel Payment</a></li>
                      <li><a class="govuk-link" href="#">Christmas Bonus</a></li>
                  </ul>
                  <h3 class="list-header">Tell us if something has changed</h3>
                  <ul class="govuk-list"> 
                      <li><a class="govuk-link" href="#">Benefits: report a change in your circumstances</a></li>
                      <li><a class="govuk-link" href="#">Report changes that affect your Child Benefit</a></li>
                      <li><a class="govuk-link" href="#">Carer’s Allowance: report a change</a></li>
                      <li><a class="govuk-link" href="#">Report changes that affect your tax credits</a></li>
                      <li><a class="govuk-link" href="#">Tax credits: work out your childcare costs</a></li>
                      <li><a class="govuk-link" href="#">Claiming benefits if you live, move or travel abroad</a></li>
                      <li><a class="govuk-link" href="#">Going into hospital if you get benefits</a></li>
                      <li><a class="govuk-link" href="#">Benefits and prison</a></li>
                      <li><a class="govuk-link" href="#">Benefits if you're terminally ill</a></li>
                      <li><a class="govuk-link" href="#">Become an appointee for someone claiming benefits</a></li>
                  </ul>
                  <h3 class="list-header">Total amount of benefit you can get</h3>
                  <ul class="govuk-list"> 
                      <li><a class="govuk-link" href="#">Benefit cap</a></li>
                      <li><a class="govuk-link" href="#">Benefit cap calculator</a></li>
                  </ul>
                  <h3 class="list-header">Overpayments and fraud</h3>
                  <ul class="govuk-list">
                      <li><a class="govuk-link" href="#">Benefit overpayments</a></li>
                      <li><a class="govuk-link" href="#">Tax credits overpayments</a></li>
                      <li><a class="govuk-link" href="#">Tax credits checks</a></li>
                      <li><a class="govuk-link" href="#">Repay Child Benefit overpayments</a></li>
                      <li><a class="govuk-link" href="#">Benefit fraud</a></li>
                      <li><a class="govuk-link" href="#">Fraud and Error Prevention Service centres</a></li>
                  </ul>
                  <h3 class="list-header">Appeal or complain about a decision</h3>
                  <ul class="govuk-list">
                      <li><a class="govuk-link" href="#">Challenge a benefit decision (mandatory reconsideration)</a></li>
                      <li><a class="govuk-link" href="#">Appeal a benefit decision</a></li>
                      <li><a class="govuk-link" href="#">Appeal a housing benefit decision</a></li>
                      <li><a class="govuk-link" href="#">Complain to the Independent Case Examiner</a></li>
                      <li><a class="govuk-link" href="#">Tax credits: appeals and complaints</a></li>
                      <li><a class="govuk-link" href="#">Child benefit complaints</a></li>
                  </ul>
                  
                  <h3 class="list-header">Claim and deal with benefits for someone else</h3>
                  <ul class="govuk-list">
                      <li><a class="govuk-link" href="#">Become an appointee for someone claiming benefits</a></li>   
                  </ul>
                  <h3 class="list-header">Contact information</h3>
                  <ul class="govuk-list">
                      <li><a class="govuk-link" href="#">Contact the Carer's Allowance Unit</a></li>
                      <li><a class="govuk-link" href="#">Contact the Disability Service Centre</a></li>
                      <li><a class="govuk-link" href="#">Tax Credits: General Enquiries</a></li>
                  </ul>

                </div>
              </div>
    
                 <div id="subsectiontwo" class="subsection-pane pane" style="display: none;">
                  <div class="pane-inner curated-list">
                      <h2 tabindex="-1" class="js-heading">Benefits and financial support if you're looking for work</h2>
                      <h3 class="list-header">Find out what you could get</h3>
                      <ul class="govuk-list">
                          <li><a class="govuk-link" href="financial-support-looking-for-work">Understand benefits and financial support you could get while you're looking for work </a></li>
                          <li><a class="govuk-link" href="#">Benefit calculators</a></li>
                      </ul>
                      <h3 class="list-header">Benefits and financial support</h3>
                      <ul class="govuk-list">
                          <li><a class="govuk-link" href="#">Jobseeker's Allowance (JSA)</a></li>
                          <li><a class="govuk-link" href="#">Universal Credit</a></li>
                          <li><a class="govuk-link" href="#">Pension Credit</a></li>  
                      </ul>
                      <h3 class="list-header">Other support</h3>
                      <ul class="govuk-list">
                          <li><a class="govuk-link" href="#">Redundancy: your rights</a></li>
                          <li><a class="govuk-link" href="#">Find a job</a></li>
                          <li><a class="govuk-link" href="#">Help with moving from benefits to work</a></li>
                          <li><a class="govuk-link" href="#">Work and health programme</a></li>
                          <li><a class="govuk-link" href="#">Apply for communication support at a job interview if you have a disability or health condition (Access to Work)</a></li>
                          <li><a class="govuk-link" href="#">Get support in work if you have disability or health condition (Access to Work)</a></li>
                          <li><a class="govuk-link" href="#">Get help with savings if you’re on a low income (Help to Save)</a></li>
                          <li><a class="govuk-link" href="#">Budgeting Loan</a></li>
                          <li><a class="govuk-link" href="#">Support visits if you need help to claim benefits</a></li>
                      </ul>


                  </div>
                </div>

                <div id="subsectionthree" class="subsection-pane pane" style="display: none;">
                    <div class="pane-inner curated-list">
                        <h2 tabindex="-1" class="js-heading">Benefits and financial support if you're temporarily unable to work</h2>
                        <h3 class="list-header">Find out what you could get</h3>
                        <ul class="govuk-list">
                            <li><a class="govuk-link" href="#">Benefit calculators</a></li>
                        </ul>
                        <h3 class="list-header">Benefits and financial support
                        </h3>
                        <ul class="govuk-list">
                            
                            <li><a class="govuk-link" href="#">New Style Employment and Support Allowance (ESA)</a></li>
                            <li><a class="govuk-link" href="#">Universal Credit</a></li>
                            <li><a class="govuk-link" href="#">Statutory Sick Pay</a></li>
                            <li><a class="govuk-link" href="https://www.gov.uk/test-and-trace-support-payment">Apply for a Test and Trace Support Payment</a></li>
                             
                        </ul>
                        <h3 class="list-header">Other support</h3>
                        <ul class="govuk-list">
                            <li><a class="govuk-link" href="#">Coronavirus (COVID-19): what to do if you’re employed and cannot work</a></li>
                            <li><a class="govuk-link" href="#">Coronavirus (COVID-19): what to do if you’re self-employed and getting less work or no work</a></li>
                        </ul>
  
                    </div>
                  </div>

                <div id="subsectionfour" class="subsection-pane pane" style="display: none;">
                  <div class="pane-inner curated-list">
                      <h2 tabindex="-1" class="js-heading">Benefits and financial support if you’re on a low income</h2>
                      <h3 class="list-header">Find out what you could get</h3>
                        <ul class="govuk-list">
                            <li><a class="govuk-link" href="#">Benefit calculators</a></li>
                        </ul>
                        <h3 class="list-header">Help with housing</h3>
                        <ul class="govuk-list">
                            <li><a class="govuk-link" href="#">Universal Credit</a></li>
                            <li><a class="govuk-link" href="#">Housing Benefit</a></li>
                            <li><a class="govuk-link" href="#">Apply for Council Tax Reduction</a></li>
                            <li><a class="govuk-link" href="#">Housing Benefit information from your council</a></li>
                            <li><a class="govuk-link" href="#">Claiming Discretionary Housing Payments</a></li>
                            <li><a class="govuk-link" href="#">Health conditions, disability and Universal Credit</a></li>
                            <li><a class="govuk-link" href="#">Support for Mortgage Interest (SMI)</a></li>
                            <li><a class="govuk-link" href="#">Mortgage Interest Run On</a></li>
                          </ul>
                          <h3 class="list-header">Help with heating</h3>
                          <ul class="govuk-list">
                              <li><a class="govuk-link" href="#">Warm Home Discount Scheme</a></li>
                            <li><a class="govuk-link" href="#">National Concessionary Fuel Scheme</a></li>
                          </ul>
                          <h3 class="list-header">Help if you're over State Pension age</h3>
                          <ul class="govuk-list">
                              <li><a class="govuk-link" href="#">Pension Credit</a></li>
                              <li><a class="govuk-link" href="#">Winter fuel payment</a></li> 
                              <li><a class="govuk-link" href="#">Get a free or discounted TV licence</a></li>
                            </ul>
                          
                    
                        <h3 class="list-header">Other support</h3>
                        <ul class="govuk-list">
                            
                            <li><a class="govuk-link" href="#">Disabled Facilities Grants</a></li>
                            <li><a class="govuk-link" href="#">Help paying bills using your benefits</a></li>
                            
                            <li><a class="govuk-link" href="#">Help with NHS Prescription and health costs</a></li>
                            <li><a class="govuk-link" href="#">NHS Prescription Payment Certificates</a></li>
                            <li><a class="govuk-link" href="#">Self-employment and Universal Credit</a></li>
                            <li><a class="govuk-link" href="#">Support visits if you need help to claim benefits</a></li>

                           
                        </ul>
                   </div>
                </div>

                <div id="subsectionfive" class="subsection-pane pane" style="display: none;">
                  <div class="pane-inner curated-list">
                      <h2 tabindex="-1" class="js-heading">Benefits and financial support if you're disabled or have a health condition</h2>
                  <h3 class="list-header">Find out what you could get</h3>
                  <ul class="govuk-list">
                      <li><a class="govuk-link" href="#">Financial suport if you're disabled</a></li>
                      <li><a class="govuk-link" href="#">Get benefits if you're terminally ill</a></li>
                      <li><a class="govuk-link" href="#">Benefit calculators</a></li>
                  </ul>
                  <h3 class="list-header">Benefits and financial support</h3>
                  <ul class="govuk-list">
                      
                      <li><a class="govuk-link" href="#">Employment Support Allowance (ESA)</a></li>
                      <li><a class="govuk-link" href="#">Personal Independence Payment (PIP) </a></li>
                      <li><a class="govuk-link" href="#">Attendance Allowance</a></li>
                      <li><a class="govuk-link" href="#">Disability Living Allowance (DLA) for children</a></li>
                      <li><a class="govuk-link" href="#">Health conditions, disability and Universal Credit</a></li>

                    </ul>

                        <h3 class="list-header">Armed forces and work-related injuries</h3>
                    <ul class="govuk-list">
                        <li><a class="govuk-link" href="#">Industrial Injuries Disablement Benefit</a></li>
                        <li><a class="govuk-link" href="#">Claim if you were injured while serving in the armed forces</a></li>
                        <li><a class="govuk-link" href="#">Get compensation for health problems caused by mining</a></li>
                        <li><a class="govuk-link" href="#">Diffuse mesothelioma payments</a></li>
                        <li><a class="govuk-link" href="#">Reduced earnings allowance</a></li>
                      </ul>

                      <h3 class="list-header">Help to find or stay in work</h3>
                    <ul class="govuk-list">
                        <li><a class="govuk-link" href="#">Work and health programme</a></li>
                        <li><a class="govuk-link" href="#">Get support in work if you have disability or health condition (Access to Work)</a></li>
                        <li><a class="govuk-link" href="#">Intensive Personalised Employment Support</a></li>
                        <li><a class="govuk-link" href="#">Apply for communication support at a job interview if you have a disability or health condition (Access to Work)</a></li>
                        </ul>


                  <h3 class="list-header">Other support</h3>
                  <ul class="govuk-list">
                      <li><a class="govuk-link" href="#">Blind Person's Allowance</a></li>
                      <li><a class="govuk-link" href="#">Disabled Facilities Grants</a></li>
                      <li><a class="govuk-link" href="#">Vaccine Damage Payment</a></li>
                      <li><a class="govuk-link" href="#">Help if you're a student with a learning difficulty, health problem or disability</a></li>
                      <li><a class="govuk-link" href="#">Help if you have a disabled child</a></li>
                      <li><a class="govuk-link" href="#">What to do if you become disabled</a></li>
                      <li><a class="govuk-link" href="#">Support visits if you need help to claim benefits</a></li>
                  </ul>
             
               </div>
                </div>

                <div id="subsectionsix" class="subsection-pane pane" style="display: none;">
                  <div class="pane-inner curated-list">
                      <h2 tabindex="-1" class="js-heading">Benefits and financial support if you're caring for someone</h2>

                      <h3 class="list-header">Find out what you could get</h3>
                          <ul>
                            <li><a class="govuk-link" href="#">Benefit calculators</a></li>
                          </ul>

                  <h3 class="list-header">Benefits and financial support</h3>
                  <ul class="govuk-list">
                      <li><a href="#">Carer's Allowance</a></li>
                      <li><a href="#">Carer's Credit</a></li>
                      <li><a class="govuk-link" href="#">Universal Credit</a></li>
                      <li><a class="govuk-link" href="#">Pension Credit</a></li>
                
                  </ul>

                  <h3 class="list-header">Other support</h3>
                  <ul class="govuk-list">
                      <li><a href="#">Become an appointee for someone claiming benefits</a></li>
                      <li><a href="#">Work and health programme</a></li>
                      <li><a class="govuk-link" href="#">Support visits if you need help to claim benefits</a></li>
                      <li><a href="#">Contact the Carer’s Allowance Unit</a></li>
                      <li><a href="#">Carer’s UK</a></li>
                  </ul>
                  
                  </div>
                </div>


                <div id="subsectionseven" class="subsection-pane pane" style="display: none;">
                    <div class="pane-inner curated-list">
                        <h2 tabindex="-1" class="js-heading">Benefits and financial support for families</h2>
                        <h3 class="list-header">Find out what you could get</h3>
                        <ul class="govuk-list">
                            <li><a class="govuk-link" href="#">Benefit calculators</a></li>
                        </ul>
  
                        <h3 class="list-header">Preparing for a new child</h3>
                        <ul class="govuk-list">
                            <li><a class="govuk-link" href="#">Maternity pay and leave</a></li>
                            <li><a class="govuk-link" href="#">Maternity allowance</a></li>
                            <li><a class="govuk-link" href="#">Paternity pay and leave</a></li>
                            <li><a class="govuk-link" href="#">Sure start maternity grant</a></li>
                            <li><a class="govuk-link" href="#">Shared parental leave and pay</a></li>
                            <li><a class="govuk-link" href="#">Adoption leave and pay</a></li>
                            <li><a class="govuk-link" href="#">Unpaid parental leave</a></li>
                        </ul>

                        <h3 class="list-header">Child Benefit</h3>
                        <ul class="govuk-list">
                            <li><a class="govuk-link" href="#">Claim Child Benefit</a></li>
                            <li><a class="govuk-link" href="#">Child Benefit when your child turns 16</a></li>
                            <li><a class="govuk-link" href="#">Child Benefit Tax calculator</a></li>
                            <li><a class="govuk-link" href="#">High Income Child Benefit Tax Charge</a></li>
                            </ul>

                            <h3 class="list-header">Support for separated families</h3>
                        <ul class="govuk-list">
                            <li><a class="govuk-link" href="#">Making a child maintenance arrangement</a></li>
                            </ul>

                            <h3 class="list-header">Support for disabled children</h3>
                            <ul class="govuk-list">
                                <li><a class="govuk-link" href="#">Disabled Living Allowance (DLA) for children</a></li>
                                     
                                <li><a class="govuk-link" href="#">Help if you have a disabled child</a></li>
                                <li><a class="govuk-link" href="#">Disabled facilities grants</a></li>   
                            </ul>

                        <h3 class="list-header">Help with childcare costs</h3>
                        <ul class="govuk-list">
                            <li><a class="govuk-link" href="#">Childcare Grant</a></li>
                            <li><a class="govuk-link" href="#">Care to learn</a></li>    
                            <li><a class="govuk-link" href="https://www.gov.uk/help-with-childcare-costs">Childcare you can get help paying for</a></li>
                            <li><a class="govuk-link" href="#">Get childcare: step by step </a></li>
                        </ul>

        
                        <h3 class="list-header">Other support</h3>
                        <ul class="govuk-list">
                            <li><a class="govuk-link" href="#">Apply for free school meals</a></li>
                            <li><a class="govuk-link" href="#">Healthy Start</a></li>    
                            <li><a class="govuk-link" href="#">Guardian's Allowance</a></li> 
                            <li><a class="govuk-link" href="#">Parents' Learning Allowance</a></li> 
                            <li><a class="govuk-link" href="#">Support visits if you need help to claim benefits</a></li> 
                        </ul>
                        
                       

                    

                     </div>
                  </div>

                <div id="subsectioneight" class="subsection-pane pane" style="display: none;">
                    <div class="pane-inner curated-list">
                        <h2 tabindex="-1" class="js-heading">Financial support when someone dies</h2>
                        <h3 class="list-header">Find out what you can get</h3>
                          <ul>
                            <li><a class="govuk-link" href="#">Benefit calculators</a></li>
                          </ul>
                          <h3 class="list-header">Financial support</h3>
                          <ul>
                            <li><a href="#">Bereavement Support Payment</a></li>
                            <li><a href="#">Child Benefit if a child or parent dies</a></li>
                            <li><a href="#">Get help with funeral costs (Funeral Expenses Payment)</a></li>
                            <li><a href="#">Guardian's Allowance</a></li>
                            <li><a href="#">Support for child funeral costs (Children’s Funeral Fund for England)</a></li>
                            <li><a href="#">Parental bereavement pay and leave</a></li>
                            <li><a href="#">Universal Credit</a></li>
                            <li><a href="#">Widowed Parent's Allowance</a></li>
                            <li><a href="#">War Widow(er) Pension</a></li>
                            
                        </ul>
                        <h3 class="list-header">Other support</h3>
                        <ul>
                          <li><a href="#">What to do when someone dies: step by step</a></li>
                          <li><a href="#">Your benefits, tax and pension after the death of a spouse</a></li>
                          <li><a href="#">Support visits if you need help to claim benefits</a></li>
                          
                        </ul>
                    </div>

                  </div>

                  

              <div id="section" class="section-pane pane with-sort">
                <div class="pane-inner curated">
              <h2 tabindex="-1" class="js-heading govuk-heading-m">Benefits</h2>
              <ul>
                  <li class="">
                    <a class="govuk-link" id="subone">
                      <h3>Manage an existing benefit, payment or claim</h3>
                      <p>Sign in to your account, report changes, find out about overpayments or appeal a decision</p>
            </a>      </li>
                  <li class="">
                    <a class="govuk-link" id="subtwo">
                      <h3>Benefits and financial support if you're looking for work </h3>
                      <p>Help if you’re looking for new work, out of work or affected by redundancy</p>
            </a>      </li>
            <li class="">
                <a class="govuk-link" id="subthree">
                  <h3>Benefits and financial support if you're temporarily unable to work</h3>
                  <p>Help if you cannot work because you’re ill, on furlough, shielding or self-isolating</p>
        </a>      </li>
        <li class="">
            <a class="govuk-link" id="subseven">
              <h3>Benefits and financial support for families</h3>
              <p>Help if you're bringing up children or planning to</p>
    </a>      </li>
          
        
            <li class="">
              <a class="govuk-link" id="subfive">
                <h3>Benefits and financial support if you're disabled or have a health condition</h3>
                <p>Help if you’re living with a health condition or disability</p>
      </a>      </li>  
                  <li class="">
                    <a class="govuk-link" id="subsix">
                      <h3>Benefits and financial support if you're caring for someone</h3>
                      <p>Help if you spend time each week caring for someone</p>
            </a>      </li>
            
            <li class="">
                <a class="govuk-link" id="subfour">
                  <h3>Benefits and financial support if you're on a low income</h3>
                  <p>Help with heating, housing and other living costs</p>
        </a>      </li>
                  
                  <li class="">
                      <a class="govuk-link" id="subeight">
                        <h3>Financial support when someone dies</h3>
                        <p>Help with living costs and funeral expenses after someone has died
                          </p>
              </a>      </li>
              </ul>

            </div>

              </div>

              <div id="root" class="pane root-pane">
              <h2 class="govuk-visually-hidden" tabindex="-1">All categories</h2>
              <ul>
                  <li class="active">
                    <a class="govuk-link" href="/browse/benefits">Benefits</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/business">Business and self-employed</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/childcare-parenting">Childcare and parenting</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/citizenship">Citizenship and living in the UK</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/justice">Crime, justice and the law</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/disabilities">Disabled people</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/driving">Driving and transport</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/education">Education and learning</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/employing-people">Employing people</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/environment-countryside">Environment and countryside</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/housing-local-services">Housing and local services</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/tax">Money and tax</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/abroad">Passports, travel and living abroad</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/visas-immigration">Visas and immigration</a>
                  </li>
                  <li class="">
                    <a class="govuk-link" href="/browse/working">Working, jobs and pensions</a>
                  </li>
              </ul>
            </div>

            </div>

            </div>

            </div>
        </div>

    </main>
  </div>

  <script type="text/javascript">

document.getElementById("subone").onclick = function () {
  document.getElementById("subsectionone").style.display = "block";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";

  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subtwo").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "block";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";

  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subthree").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "block";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";

  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subfour").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "block";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";

  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subfive").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "block";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";

  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subsix").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "block";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "none";

  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subseven").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "block";
  document.getElementById("subsectioneight").style.display = "none";

  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);
}

document.getElementById("subeight").onclick = function () {
  document.getElementById("subsectionone").style.display = "none";
  document.getElementById("subsectiontwo").style.display = "none";
  document.getElementById("subsectionthree").style.display = "none";
  document.getElementById("subsectionfour").style.display = "none";
  document.getElementById("subsectionfive").style.display = "none";
  document.getElementById("subsectionsix").style.display = "none";
  document.getElementById("subsectionseven").style.display = "none";
  document.getElementById("subsectioneight").style.display = "block";

  var subone = document.getElementById("subone");
  var subtwo = document.getElementById("subtwo");
  var subthree = document.getElementById("subthree");
  var subfour = document.getElementById("subfour");
  var subfive = document.getElementById("subfive");
  var subsix = document.getElementById("subsix");
  var subseven = document.getElementById("subseven");
  var subeight = document.getElementById("subeight");

  $(subone).parent('li').removeClass('active');
  $(subtwo).parent('li').removeClass('active');
  $(subthree).parent('li').removeClass('active');
  $(subfour).parent('li').removeClass('active');
  $(subfive).parent('li').removeClass('active');
  $(subsix).parent('li').removeClass('active');
  $(subseven).parent('li').removeClass('active');
  $(subeight).parent('li').removeClass('active');

  var element = document.getElementById("browsecontainer");
  element.classList.add("menuopen");
  $(this).parent('li').addClass('active');

  window.scrollTo(0, 0);

}

</script>

{% endblock %}
