
{% extends "layout.html" %}

{% block pageTitle %}
You might be able to get financial support | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q7-national-insurance" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
                You might not be able to get financial support
        </h1>
  </div>
  </div>

  <div class="govuk-grid-row ">
              <div class="govuk-grid-column-two-thirds">

                    <h2 class="govuk-heading-m">Based on your answers, you might not be able to get:</h2>


                    <h3 class="govuk-heading-s">New Style Jobseeker's Allowance (JSA)</h3>

                    <details class="govuk-details" data-module="govuk-details">
                       <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">
                           Why you might not be eligible
                         </span>
                       </summary>
                       <div class="govuk-details__text">
                          <p>You can only get New Style JSA if:</p>
                          <ul class="govuk-list govuk-list--bullet">
                              <li>you're under the <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                              <li>you’re 18 or over (there are some exceptions for 16 and 17 year olds)</li>
                              <li>you’re available for work</li>
                              <li>you’re not in full time education</li>
                              <li>you’re not working, or are working less than 16 hours a week</li>
                              <li>you do not have an illness or disability which stops you from working</li>
                              <li>you have paid or been credited with enough National Insurance contributions over the last 2 to 3 years</li>
                            </ul>

                            <p>How to apply for New Style JSA:</p>

                            <ul class="govuk-list govuk-list--bullet">
                              <li>in <a href="https://www.gov.uk/guidance/new-style-jobseekers-allowance#how-to-claim">England, Scotland and Wales</a></li>
                              <li>in <a href="https://www.nidirect.gov.uk/articles/jobseekers-allowance">Northern Ireland</a></li>
                            </ul>
                       </div>
                     </details>

                     <h3 class="govuk-heading-s">Universal Credit</h3>

                     <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Why you might not be eligible
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>You can only get Universal Credit if:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a>, or your partner is</li>
                                
                                <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                                <li>you’re on a low income or out of work</li>
                                <li>you and your partner have £16,000 or less in savings between you</li>
                                <li>you live in the UK</li>
                            </ul>
                            <p>If you want to apply anyway, find out <a href="https://www.gov.uk/universal-credit/how-to-claim">how to apply for Universal Credit</a>.</p>
                          </div>
                          </details>


                     <h3 class="govuk-heading-s">Pension Credit</h3>

                 <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Why you might not be eligible
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p>You can only get Pension Credit if:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>you have reached <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                            <li>your partner – if you have one – has also reached State Pension age, unless you’re getting Housing Benefit</a></li>
                            <li>Your  weekly income is below £173.75 (for single people) or £265.20 (for couples)</li>
                        </ul>
       
                        <p>If you want to apply for Pension Credit anyway, find out how:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>in <a href="https://www.gov.uk/pension-credit/how-to-claim">England, Scotland and Wales</a></li>
                          <li>in <a href="https://www.nidirect.gov.uk/articles/understanding-pension-credit">Northern Ireland</a></li>
                        </ul>
                    </div>
                  </details>

                  <hr>

                  <h2 class="govuk-heading-m">Help with specific living costs</h2>
                  <p>Depending on your circumstances there may be additional help you can get with <a href="understand-specific-costs">specific living costs</a>.</p>
                  <hr>

                 <h2 class="govuk-heading-m">Other help</h2>

<p>Other help might be available if:</p>
<ul class="govuk-list govuk-list--bullet">
    <li><a href="http://localhost:3000/version-0-15/benefits">you're disabled or have a health condition</a>
    <li><a href="http://localhost:3000/version-0-15/benefits">you're caring for someone</li>
    <li><a href="http://localhost:3000/version-0-15/benefits">you're looking after a family</li>
    <li><a href="http://localhost:3000/version-0-15/benefits">someone has died</a>
</ul>


          

          </div>






      <div class="govuk-grid-column-one-third">

      </div>

      </div>


{% endblock %}
