
{% extends "layout.html" %}

{% block pageTitle %}
Based on your answers, there are no options that fit your situation | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-panel__title">
                            You might not be able to get support
                        </h1>
<p class="govuk-body-l">Based on your answers we don’t think you will be able to claim for Universal Credit or New Job Seekers Allowance.</p>
              <p>
                  You can still read more about <a href="unemployed-support">support for people who are unemployed or on a low income</a> and decide whether to apply.</p>

                  <p>You might be able to get <a href="support-to-help-with-bills-and-expenses">help with paying your bills and expenses</a>.</p>
              <p>Other support might also be available if you’re caring for another adult, you’re looking after children, you’re disabled or have a health condition, or you’re dealing with a death. <a href="benefits">Browse all benefits</a>.</p>

              <p><strong>Claiming National Insurance credits</strong></p>

              <p>If you’re unemployed and looking for work, but not on Jobseeker’s Allowance, you may be able to claim Class 1 National Insurance credits. These credits can help towards your State Pension and other benefits you might need in the future. <a href="https://www.gov.uk/contact-jobcentre-plus">Contact your local Jobcentre</a> to see if you can claim.</p>
    
          </div>



      <div class="govuk-grid-column-one-third">
         
      </div>

      </div>


{% endblock %}
