
{% extends "layout.html" %}

{% block pageTitle %}
Financial support when someone dies | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Financial support when someone dies</h1>
          </div> 
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <p class="govuk-body-l">This page outlines the financial support you might be able to get if someone has died.</p>

          <h3 class="govuk-heading-l govuk-!-margin-top-7">Bereavement Support Payment</h3>
          <p>You may be able to get Bereavement Support Payment (BSP) if your husband, wife or civil partner died in the last 21 months.</p>
          <p>You must claim within 3 months of your partner’s death to get the full amount. You can claim up to 21 months after their death but you’ll get fewer monthly payments.</p>
          <p>If your husband, wife or civil partner died before 6 April 2017, you may be able to get <a href="https://www.gov.uk/widowed-parents-allowance">Widowed Parent’s Allowance</a> instead.</p>
          
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p>You could be eligible if your partner either:</p>

                    <ul class="govuk-list govuk-list--bullet">
                      <li>paid <a href="/national-insurance/how-much-you-pay">National Insurance contributions</a> for at least 25 weeks in one tax year</li>
                      <li>died because of an accident at work or a disease caused by work</li>
                    </ul>
                    
                    <p>When they died you must have been:</p>
                    
                    <ul class="govuk-list govuk-list--bullet">
                      <li>under State Pension age</li>
                      <li>living in the UK or a <a href="/claim-benefits-abroad/bereavement-benefits">country that pays bereavement benefits</a>
                    </li>
                    </ul>
                    
                    <p>You cannot claim <abbr title="Bereavement Support Payment">BSP</abbr> if you’re in prison.</p>
                  </div>
                </div>
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                        If your partner died more than 21 months ago
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p class='govuk-body'>You may still be able to claim BSP if your husband, wife or civil partner’s cause of death was confirmed more than 21 months after the death. <a href="https://www.gov.uk/bereavement-support-payment/how-to-claim">Call the Bereavement Service helpline</a>.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Find out more and how to apply
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                        <p>Please visit the <a href="https://www.gov.uk/bereavement-support-payment">Bereavement Support Payment</a> page for full details and how to apply.</p>
                      
                    </div>
                  </div>
      
                  </div>
      
                

          <h3 class="govuk-heading-l  govuk-!-margin-top-7">Funeral Expenses Payment</h3>
          
          <p>You could get a Funeral Expenses Payment to help to pay for a funeral you’re arranging if:</p>
      
          <ul class="govuk-list govuk-list--bullet">
            <li>you get certain benefits or tax credits</li>
            <li>you meet the rules on your relationship with the deceased</li>
            <li>you’re arranging a funeral in the UK, the <a href="https://www.gov.uk/eu-eea">European Economic Area (EEA)</a> or Switzerland</li>
          </ul>

          
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p><strong>Benefits and tax credits you must get</strong></p>
                      
                        <p>You (or your partner) must get one or more of the following:</p>

                        <ul class="govuk-list govuk-list--bullet">
                          <li>Income Support</li>
                          <li>income-based Jobseeker’s Allowance</li>
                          <li>income-related Employment and Support Allowance</li>
                          <li>Pension Credit</li>
                          <li>Housing Benefit</li>
                          <li>the disability or severe disability element of Working Tax Credit</li>
                          <li>Child Tax Credit</li>
                          <li>Universal Credit</li>
                        </ul>
                        
                        <p>You might also be eligible if you’re getting a Support for Mortgage Interest loan.</p>
                        
                        <p>You can still claim Funeral Expenses Payment if you’ve applied for these benefits and you’re waiting to hear about your claim.</p>
                        
                        <p>If you were responsible for a deceased child but you’re not their parent, the non-resident parent must get one or more of these benefits.</p>
                        
                        <div class="govuk-inset-text">
                        <p>If there’s a close relative of the deceased who is not getting one of these benefits, you might not be able to claim Funeral Expenses Payment.</p>
                        </div>
                        <p><strong>Rules on your relationship with the deceased</strong></p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>the partner of the deceased when they died</li>
                          <li>a close relative or close friend of the deceased</li>
                          <li>the parent of a baby stillborn after 24 weeks of pregnancy</li>
                          <li>the parent or person responsible for a deceased child who was under 16 (or under 20 and in approved <a href="https://www.gov.uk/child-benefit-16-19">education or training</a>)</li>
                        </ul>
                        
                        <div class="govuk-inset-text">
                        <p>You might not get a Funeral Expenses Payment if another close relative of the deceased (such as a sibling or parent) is in work.</p>
                        </div>
                  </div>
                </div>

                  <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                              Find out more and how to apply
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                          <p>Please visit the <a href="https://www.gov.uk/funeral-payments">Funeral Expenses Payment</a> page for full details and how to apply.</p>
    
                      </div>
                    </div>
            </div>


          <h3 class="govuk-heading-l govuk-!-margin-top-7">Support for Child Funeral Costs (Children’s Funeral Fund for England)</h3>
          <p>The Children’s Funeral Fund for England can help to pay for some of the costs of a funeral for a child under 18 or a baby stillborn after the 24th week of pregnancy.</p>
          <p>It is not means-tested: what you earn or how much you have in savings will not affect what you get.</p>
          <p>The burial or cremation must take place in England.</p>
            

              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Find out more and how to apply
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p>Please visit the <a href="https://www.gov.uk/child-funeral-costs">Support for Child Funeral Costs Payment page</a> for full details and how to apply.</p>
                  
                  </div>
                </div>
            </div>


            <h3 class="govuk-heading-l govuk-!-margin-top-7">Guardian’s Allowance</h3>
            <p>You could get Guardian’s Allowance if you’re bringing up a child whose parents have died. You may also be <a href="/guardians-allowance/eligibility">eligible</a> if there’s one surviving parent.</p>

            <p>The <a href="/guardians-allowance/what-youll-get">Guardian’s Allowance rate</a> is £17.90 a week. You get it on top of <a href="/child-benefit">Child Benefit</a> and it’s tax-free.</p>

              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Find out more and how to apply
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p>Please visit the <a href="https://www.gov.uk/guardians-allowance">Guardian’s Allowance page</a> for full details and how to apply.</p>
                 
                  </div>
                </div>
            </div>


            <h3 class="govuk-heading-l govuk-!-margin-top-7">War Widower’s Pension</h3>
            <p>You may be entitled to War Widow’s or Widower’s Pension if your wife, husband or civil partner died as a result of their service in Her Majesty’s (HM) Armed Forces or during a time of war.</p>
            <p>They must have served before 6 April 2005, but you may be eligible if they died of an illness or injury later.</p>

  
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Find out more and how to apply
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p>Please visit the <a href="https://www.gov.uk/employment-support-allowance">War Widower’s Pension</a> for full details and how to apply.</p>
                   
                    </div>
                  </div>
              </div>

              

</div>
         

          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
