
{% extends "layout.html" %}

{% block pageTitle %}
You might be able to get financial support | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q7-national-insurance" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Support you might be able to get</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                  <p class="govuk-body-l">Based on your answers you might be eligible to receive New Style Job Seekers Allowance.</p>
                  



                          <h3 class="govuk-heading-l  govuk-!-margin-top-7">New Style Job Seeker's Allowance</h3>
          
                          <p>Job Seekers Allowance is a payment to support you while you’re looking for work. While receiving it, you’ll also be awarded Class 1 National credits, which can help towards you State Pension and other benefits you might need in the future.</p>
                          <p>It's paid every 2 weeks, usually into your bank, building society or credit union account, you can receive it up to 182 days (about 6 months). </p>
                          
                
                          
                          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                        
                              <div class="govuk-accordion__section ">
                                  <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                          Eligibility
                                      </span>
                                    </h2>
                                  </div>
                                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                      <p>To be eligible for Job Seekers Allowance, you need to:</p>
                                      <ul class="govuk-list govuk-list--bullet">
                                          <li>be 18 or over (there are some exceptions if you’re 16 or 17 - contact Jobcentre Plus for advice)</li>
                                          <li>be under the State Pension age</li>
                                          <li>not be in full-time education</li>
                                          <li>be available for work</li>
                                          <li>not be working at the moment, or be working less than 16 hours per week on average</li>
                                          <li>not have an illness or disability which stops you from working</li>
                                          <li>live in England, Scotland or Wales</li>
                                          <li>have the right to work in the UK</li>
                                          <li>have worked as an an employee and paid Class 1 National Insurance contributions, usually in the last 2 to 3 years. National Insurance credits can also count.</li>
                                      </ul>
                                  </div>
                                </div>
                                
                                  <div class="govuk-accordion__section ">
                                      <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                              Find out more and how to apply
                                          </span>
                                        </h2>
                                      </div>
                                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                          <p>Please read the important information below before applying. You can also visit the <a href="https://www.gov.uk/jobseekers-allowance">New Style Job Seeker's Allowance page</a> for full details.</p>
                                          <p>To apply, you’ll need your:</p>
                                          <ul class="govuk-list govuk-list--bullet">
                                                  <li><a href="https://www.gov.uk/lost-national-insurance-number" class="govuk-link">National Insurance number</a></li>
                                                  <li>bank or building society account details (or those of a family member or trusted friend)</li>
                                                  <li>employment details for the past 6 months, including employer contact details and dates you worked with them</li>
                                                  <li>
                                                <a href="https://www.gov.uk/pension-types" class="govuk-link">private pension</a> statement letter</li>
                                          </ul>
                                          <h4 class="govuk-heading-s">Apply online</h4>
                                          <p>You cannot apply online if you’re under 18.</p>
                                          <a class="govuk-button" href="https://www.gov.uk/jobseekers-allowance/apply-new-style-jsa">Apply for new style JSA</a>
                                          <h4 class="govuk-heading-s">If you cannot apply online</h4>
                                          <p>If you need help applying or you’re aged 16 to 17, <a href="https://www.gov.uk/contact-jobcentre-plus/new-benefit-claims" class="govuk-link">contact Jobcentre Plus</a>.</p>
                                          <h4 class="govuk-heading-s">After you make your claim</h4>
                                          <p>If you applied online, you’ll get a text to confirm that your application has been submitted.</p>
                                          <p>You do not need to contact the Department for Work and Pensions (DWP).</p>
                                          <p>You do not need to go to an interview at the moment because of coronavirus (COVID-19). You will only be asked for more information if it is needed.</p>
                                          <p>If your claim is turned down or you're only eligible for National Insurance credits, you'll get a letter within 2 weeks explaining what to do next.</p>
                    
                                      </div> 
                                    </div>
                            </div>

          

          <h3 class="govuk-heading-l govuk-!-margin-top-5">Additional Support</h3>
          <p>You might be able to get <a href="support-to-help-with-bills-and-expenses">help with paying your bills and expenses</a>.</p>
          <p>Other support might also be available if you’re caring for another adult, you’re looking after children, you’re disabled or have a health condition, or you’re dealing with a death. <a href="benefits">Browse all benefits</a>.</p>
          


    
            </div>
          
         

          <div class="govuk-grid-column-one-third">
            <div class="return-me">
            <h2 class="govuk-heading-m return-header">Keep these results</h2>
            <p>Email these results to yourself, or use a reference code to see them.</p>
            <a class="govuk-button" href="send">Continue</a>
            </div>
        </div>

          </div>


{% endblock %}
