
{% extends "layout.html" %}

{% block pageTitle %}
Based on your answers, there are no options that fit your situation | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q8-health" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" id="furlough">Support you might be able to claim for</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

              <p>Based on your answers we don’t think you will be able to claim for Universal Credit or New Job Seekers Allowance.
                  You can read more about <a href="unemployed-support">support for people who are unemployed or on a low income</a> and decide whether to apply.</p>

                  <p>You might be able to get <a href="support-to-help-with-bills-and-expenses">help with paying your bills and expenses</a>.</p>
              <p>Other support might also be available if you’re caring for another adult, you’re looking after children, you’re disabled or have a health condition, or you’re dealing with a death. <a href="benefits">Browse all benefits</a>.</p>

              <p><strong>Claiming National Insurance credits</strong></p>

              <p>If you’re unemployed and looking for work, but not on Jobseeker’s Allowance, you may be able to claim Class 1 National Insurance credits. These credits can help towards your State Pension and other benefits you might need in the future. <a href="https://www.gov.uk/contact-jobcentre-plus">Contact your local Jobcentre</a> to see if you can claim.</p>
    
          </div>



      <div class="govuk-grid-column-one-third">
          <div class="return-me">
          <h2 class="govuk-heading-m return-header">Keep these results</h2>
          <p>Email these results to yourself, or use a reference code to see them.</p>
          <a class="govuk-button" href="send">Continue</a>
          </div>
      </div>

      </div>


{% endblock %}
