
{% extends "layout.html" %}

{% block pageTitle %}
Financial support if you're caring for a family | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Financial support if you're caring for another adult</h1>
          </div> 
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <p class="govuk-body-l">You might be able to apply for the following benefits.</p>

          <h3 class="govuk-heading-l govuk-!-margin-top-7">Universal Credit</h3>
          <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>
          
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                      <p>You may be able to get Universal Credit if:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>you’re on a low income or out of work</li>
                          <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                          <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> (or your partner is)</li>
                          <li>you and your partner have £16,000 or less in savings between you</li>
                          <li>you live in the UK</li>
                      </ul>
                  </div>
                </div>
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          If you're already getting Tax Credits 
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p class='govuk-body'>If you're already getting Tax Credits, they will stop when you or your partner applies for Universal Credit.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Find out more and how to apply
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                        <p>Please visit the <a href="https://www.gov.uk/universal-credit">Universal Credit</a> page for full details.</p>
                        <h4 class="govuk-heading-s">What you need to apply now</h4>
                       <p>You'll need:</p>
                       <ul class="govuk-list govuk-list--bullet">
                              <li>your bank, building society or credit union account details (call the Universal Credit helpline if you do not have one)</li>
                              <li>an email address</li>
                              <li>
                            <a href="https://www.gov.uk/housing-and-universal-credit">information about your housing</a>, for example how much rent you pay</li>
                              <li>details of your income, for example payslips</li>
                              <li>details of savings and any investments, like shares or a property that you rent out</li>
                              <li>details of how much you pay for childcare if you’re applying for help with childcare costs</li>
                            </ul>
                            <p>If you do not provide the right information when you apply it might affect when you get paid or how much you get.</p>
                            <p>You also have to verify your identity online. You’ll need some proof of identity for this, for example your:</p>
                            <ul class="govuk-list govuk-list--bullet">
                              <li>driving licence</li>
                              <li>passport</li>
                              <li>debit or credit card</li>
                            </ul>
                            <a class="govuk-button" href="https://www.gov.uk/universal-credit/how-to-claim">Apply now</a>
                    </div>
                  </div>
      
                  </div>
      
                

          <h3 class="govuk-heading-l  govuk-!-margin-top-7">Carer's Allowance</h3>
          
          <p>Carer's Allowance is a weekly payment to help cover the cost of caring for someone.</p>
          

          
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p>You could be eligible for Carer's allowance if:</p>
                        <ul class="govuk-list govuk-list--bullet">
                                <li>you’re 16 or over</li>
                                <li>you spend at least 35 hours a week caring for someone</li>
                                <li>you normally live in England, Scotland or Wales</li>
                                <li>you’re not studying for 21 hours a week or more</li>
                                <li>you earn £128 or less a week after tax, National Insurance and expenses</li>
                                <li>the person you're caring for must already be getting:
                                    <ul class="govuk-list">
                                        <li>– Personal Independence Payment - daily living component</li>
                                        <li>– Disability Living Allowance - the middle or highest care rate</li>
                                        <li>– Attendance Allowance</li>
                                        <li>– Constant Attendance Allowance at or above the normal maximum rate with an Industrial Injuries Disablement Benefit</li>
                                        <li>– Constant Attendance Allowance at the basic (full day) rate with a War Disablement Pension</li>
                                        <li>– Armed Forces Independence Payment</li>
                                    </ul>
                                </li>
                              </ul>
  
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Can I apply for this and Universal Credit?
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p class='govuk-body'>...</p>
                    </div>
                  </div>
                  <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                              Find out more and how to apply
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                          <p>Carer’s Allowance can affect the other benefits that both you and the person you care for get. Please visit the <a href="https://www.gov.uk/carers-allowance">Carer's Allowance page</a> for full details and how to apply.</p>
                      
                      </div>
                    </div>
            </div>


          <h3 class="govuk-heading-l govuk-!-margin-top-7">Carer's Credit</h3>
          <p>Carer's Credit a National Insurance credit that helps with gaps in your National Insurance record. This means you can take on caring responsibilities without affecting your ability to qualify for the State Pension.</p>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p>You could be eligible for Carer's Credit if:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>the person you're caring for gets certain benefits</li>
                          <li>you’re 16 or over</li>
                          <li>under State Pension age</li>
                          <li>you spend at least 20 hours a week caring for someone</li>
                        </ul>
                  </div>
                </div>
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Find out more and apply
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p>Please visit the <a href="https://www.gov.uk/carers-credit">Carer's Credit</a> page for full details.</p>
                  </div>
                </div>
            </div>



            <h2 class="govuk-heading-xl govuk-!-margin-top-7">Additional financial support – for the person you’re caring for</h2>
            
            <h3 class="govuk-heading-l govuk-!-margin-top-4">Attendance Allowance</h3>
            <p>Attendance Allowance helps the person you're caring for with extra costs. To qualify they need to be both:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>physically or mentally disabled</li>
                <li><a href="https://www.gov.uk/state-pension-age">State Pension age</a> or older</li>
              </ul>
            <p>They could also get extra Pension Credit, Housing Benefit or Council Tax Reduction if they qualify for Attendance Allowance.</p>
            <p>They cannot get Attendance Allowance if they already get <a href="https://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA)</a> or <a href="https://www.gov.uk/pip">Personal Independence Payment (PIP)</a>.</p>
  
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Find out more and how to apply
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p>Please visit the <a href="https://www.gov.uk/pip">Attendance Allowance page</a> for full details and how to apply.</p>
                   
                    </div>
                  </div>
              </div>

              <h2 class="govuk-heading-xl govuk-!-margin-top-7">Other support</h2>
              <p>The person you are caring for might be able to get other <a href="support-health-disability">support because of their health condition or disability</a>. You can also <a href="benefits">browse all benefits</a>.</p>



            </div>
          
         

          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
