
{% extends "layout.html" %}

{% block pageTitle %}
Financial support if you're caring for a family | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Additional financial support – for the person you’re caring for</h1>
          </div> 
          </div>
            
            <h3 class="govuk-heading-l govuk-!-margin-top-4">Attendance Allowance</h3>
            <p>Attendance Allowance helps the person you're caring for with extra costs. To qualify they need to be both:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>physically or mentally disabled</li>
                <li><a href="https://www.gov.uk/state-pension-age">State Pension age</a> or older</li>
              </ul>
            <p>They could also get extra Pension Credit, Housing Benefit or Council Tax Reduction if they qualify for Attendance Allowance.</p>
            <p>They cannot get Attendance Allowance if they already get <a href="https://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA)</a> or <a href="https://www.gov.uk/pip">Personal Independence Payment (PIP)</a>.</p>
  
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Find out more and how to apply
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p>Please visit the <a href="https://www.gov.uk/pip">Attendance Allowance page</a> for full details and how to apply.</p>
                   
                    </div>
                  </div>
              </div>

              <h2 class="govuk-heading-xl govuk-!-margin-top-7">Other support</h2>
              <p>The person you are caring for might be able to get other <a href="support-health-disability">support because of their health condition or disability</a>. You can also <a href="benefits">browse all benefits</a>.</p>



            </div>
          
         

          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
