
{% extends "layout.html" %}

{% block pageTitle %}
Financial support because you have a disability or health condition | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Financial support because you have a disability or health condition</h1>
          </div> 
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <p class="govuk-body-l">This page outlines the main benefits you might be able to get because you have a disability or health condition.</p>

          <h3 class="govuk-heading-l govuk-!-margin-top-7">Universal Credit</h3>
          <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>
          <p>This page outlines the main benefits you might be able to get because you have a disability or health condition.</p>
          
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                      <p>You may be able to get Universal Credit if:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>you’re on a low income or out of work</li>
                          <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                          <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> (or your partner is)</li>
                          <li>you and your partner have £16,000 or less in savings between you</li>
                          <li>you live in the UK</li>
                      </ul>
                  </div>
                </div>
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          If you're already getting Tax Credits 
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p class='govuk-body'>If you're already getting Tax Credits, they will stop when you or your partner applies for Universal Credit.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Find out more and how to apply
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                        <p>Please visit the <a href="https://www.gov.uk/universal-credit">Universal Credit</a> page for full details and how to apply.</p>
                      
                    </div>
                  </div>
      
                  </div>
      
                

          <h3 class="govuk-heading-l  govuk-!-margin-top-7">New Style Employment and Support Allowance (ESA)</h3>
          
          <p>You can apply for Employment and Support Allowance (ESA) if you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> and you have a disability or health condition that affects how much you can work.</p>
          <p>You can apply whether you’re in or out of work under specific conditions.</p>
          <p>You cannot get ESA at the same time as:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/statutory-sick-pay">Statutory Sick Pay</a> – however, you can apply 3 months before it is due to end</li>
            <li><a href="https://www.gov.uk/jobseekers-allowance">Jobseeker’s Allowance</a></li>
            <li><a href="https://www.gov.uk/disability-premiums-income-support">severe disability premium</a>, or are entitled to it</li>
          </ul>

          
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p>To get ‘new style’ ESA you need to have both:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>worked as an employee or been self-employed</li>
                          <li>paid enough National Insurance contributions, usually in the last 2 to 3 years - <a href="https://www.gov.uk/national-insurance-credits">National Insurance credits</a> also count</li>
                      </ul>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                        If you’ve been affected by coronavirus (COVID-19)
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p>You can apply for ‘new style’ ESA if you’re unable to claim <a href="https://www.gov.uk/statutory-sick-pay">Statutory Sick Pay</a> and one of the following applies:</p>
                      <ul class="govuk-list govuk-list--bullet">
                          <li>you or your child might have coronavirus or you’re recovering from it</li>
                          <li>you or your child are self-isolating because you came into contact with someone who might have coronavirus</li>
                          <li>you have been told to stay at home for at least 12 weeks by the NHS because you’re at high risk of severe illness</li>
                      </ul>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Can I apply for this and Universal Credit?
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p class='govuk-body'>You could get Universal Credit at the same time or instead of ‘new style’ ESA. </p>
                    </div>
                  </div>
                  <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                              Find out more and how to apply
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                          <p>Please visit the <a href="https://www.gov.uk/employment-support-allowance">Employment Support Allowance</a> page for full details and how to apply.</p>
                        
    
                      </div>
                    </div>
            </div>


          <h3 class="govuk-heading-l govuk-!-margin-top-7">Personal Independence Payment</h3>
          <p>Personal Independence Payment (PIP) can help you with some of the extra costs if you have a long term ill-health or disability, whether you’re working or not.</p>

              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Key Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <p>Typically you must:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>be aged 16 or over and under state pension age</li>
                      <li>have a <a href="https://www.gov.uk/definition-of-disability-under-equality-act-2010">health condition or disability</a> where you:
                        <ul class="govuk-list govuk-list--bullet">
                          <li>have had difficulties with daily living or getting around (or both) for 3 months</li>
                          <li>expect these difficulties to continue for at least 9 months</li>
                        </ul>
                      </li>
                      <li>have lived in England, Scotland or Wales for at least 2 of the last 3 years, and be in one of these countries when you apply</li>
                    </ul>

                      <p>However, there are exceptions to this criteria, read the full details to see if you are eligible for Personal Independence Payment.</p>
                  </div>
                </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      Can I apply for this and Universal Credit?
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <p class='govuk-body'>Yes.</p>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Find out more and how to apply
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p>Please visit the <a href="https://www.gov.uk/pip">Pension Independence Payment page</a> for full details and how to apply.</p>
                  
                  </div>
                </div>
            </div>


            <h3 class="govuk-heading-l govuk-!-margin-top-7">Attendance Allowance</h3>
          <p>Attendance Allowance helps with extra costs if you have a disability severe enough that you need someone to help look after you.</p>
          <p>You could also get extra Pension Credit, Housing Benefit or Council Tax Reduction if you qualify for Attendance Allowance.</p>

              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Key Eligibility
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <p>To qualify you need to be both:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>physically or mentally disabled</li>
                      <li><a href="https://www.gov.uk/state-pension-age">State Pension age</a> or older</li>
                    </ul>

                      <p>You do not have to have someone caring for you in order to claim. If you do have a carer, they could get <a href="https://www.gov.uk/carers-allowance">Carer’s Allowance</a> if you have substantial caring needs.</p>
                      <p>You cannot get Attendance Allowance if they already get <a href="https://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA)</a> or <a href="https://www.gov.uk/pip">Personal Independence Payment (PIP)</a>.</p>
                  </div>
                </div>
              
              <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Find out more and how to apply
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p>Please visit the <a href="https://www.gov.uk/pip">Attendance Allowance page</a> for full details and how to apply.</p>
                 
                  </div>
                </div>
            </div>

            <h2 class="govuk-heading-xl govuk-!-margin-top-7">Benefits if you’re terminally ill</h2>
            <p>If you’re living with a terminal illness and your doctor or a medical professional has said you might have less than 6 months to live, you may:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>get benefits at a higher rate or get extra money</li>
              <li>start getting payments quicker than usual</li>
            </ul>

            <div class="govuk-inset-text">
                The following benefits are only available if you already receive the <a href="">Severe Disability Premium</a>
            </div>


            <h3 class="govuk-heading-l govuk-!-margin-top-7">Income-Related or Contribution-based Employment and Support Allowance (ESA)</h3>
            <p>You can only get income-related or contribution-based ESA if you:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>get the <a href="https://www.gov.uk/disability-premiums/eligibility#severe-disability-premium">severe disability premium</a>, or are entitled to it</li>
              <li>got or were entitled to the severe disability premium in the last month, and you’re still eligible for it</li>
            </ul>
  
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Eligibility
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <p><strong>When you can apply for contribution-based ESA</strong></p>
                     <p>You can apply for contribution-based ESA if you’ve been employed or self-employed and paid National Insurance contributions, usually in the last 2 to 3 years. National Insurance credits can also count.</p>
                     <p><strong>When you can apply for income-related ESA </strong></p>
                     <p>If you have not paid enough National Insurance contributions in the last 2 to 3 years you may be able to get income-related ESA.</p>
                     <p>You cannot get income-related ESA if you have savings or investments worth over £16,000.</p>
                        
                    </div>
                  </div>
                  <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Can I apply for this and Universal Credit?
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                        <p class='govuk-body'>You cannot also apply for Universal Credit.</p>
                      </div>
                    </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Find out more and how to apply
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p>Please visit the <a href="https://www.gov.uk/employment-support-allowance">Employment Support Allowance</a> for full details and how to apply.</p>
                   
                    </div>
                  </div>
              </div>

              <h3 class="govuk-heading-l govuk-!-margin-top-7">Tax Credits</h3>
            <p>You can only Tax Credits if you:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>get the <a href="https://www.gov.uk/disability-premiums/eligibility#severe-disability-premium">severe disability premium</a>, or are entitled to it</li>
              <li>got or were entitled to the severe disability premium in the last month, and you’re still eligible for it</li>
            </ul>
            <p><strong>Child Tax Credits</strong></p>
            <p>You might be able if your child is 16, you can claim up until 31 August after their 16th birthday. If they are in approved education or training, you can claim until their 20th birthday.</p>
            <p><strong>Working Tax Credits</strong></p>
            <p>Depend on the hours of paid work you do each week and your income and circumstances.</p>

                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Find out more and how to apply
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p>Please visit the <a href="https://www.gov.uk/tax-credits">Tax Credits</a> for full details and how to apply.</p>
                    </div>
                  </div>
              </div>

              <h3 class="govuk-heading-l govuk-!-margin-top-7">Income Support</h3>
            <p>Income Support can help you cover your costs if you’re on a low income, only if you either:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>get the <a href="https://www.gov.uk/disability-premiums/eligibility#severe-disability-premium">severe disability premium</a>, or are entitled to it</li>
              <li>got or were entitled to the severe disability premium in the last month, and you’re still eligible for it</li>
            </ul>
            <p>If you cannot apply for Income Support you can <a href="https://www.gov.uk/universal-credit">apply for Universal Credit</a> instead.</p>

            

                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                Eligibility
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                            <p>All of the following must also apply to you (and your partner if you have one):</p>

                            <ul class="govuk-list govuk-list--bullet">
                              <li>you have no income or a low income, and no more than £16,000 in savings</li>
                              <li>you’re not in full-time paid work (you can work less than 16 hours a week, and your partner can work less than 24 hours a week)</li>
                              <li>you’re not eligible for Jobseeker’s Allowance or Employment and Support Allowance</li>
                              <li>you live in England, Scotland or Wales - there are different rules for <a rel="external" href="http://www.nidirect.gov.uk/income-support">Northern Ireland</a>
                            </li>
                            </ul>
                            
                            <p>You must also be between 16 and <a href="/calculate-state-pension">Pension Credit qualifying age</a>, and at least one of the following:</p>
                            
                            <ul class="govuk-list govuk-list--bullet">
                              <li>pregnant</li>
                              <li>a lone parent (including a lone adoptive parent) with a child under 5</li>
                              <li>a lone foster parent with a child under 16</li>
                              <li>a single person looking after a child under 16 before they’re adopted</li>
                              <li>a carer</li>
                              <li>on maternity, paternity or parental leave</li>
                              <li>unable to work and you receive Statutory Sick Pay, Incapacity Benefit or Severe Disablement Allowance</li>
                              <li>in full-time education (not university), aged between 16 and 20, and a parent</li>
                              <li>in full-time education (not university), aged between 16 and 20, and not living with a parent or someone acting as a parent</li>
                              <li>a refugee learning English - your course needs to be at least 15 hours a week, and you must have started it within 12 months of entering the UK</li>
                              <li>in custody or due to attend court or a tribunal</li>
                            </ul>
                            
                            <p>You do not need a permanent address - for example, you can still claim if you:</p>
                            
                            <ul class="govuk-list govuk-list--bullet">
                              <li>sleep rough</li>
                              <li>live in a hostel or care home</li>
                            </ul>
                        </div>
                      </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Find out more and how to apply
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <p>Please visit the <a href="https://www.gov.uk/income-support">Income support</a> for full details and how to apply.</p>
                    </div>
                  </div>
              </div>

</div>
         

          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
