
{% extends "layout.html" %}

{% block pageTitle %}
Help with your income while you’re looking for work | GOV.UK
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

<div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Support while you’re looking for work</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="#">Regular payments</a>
            </li>
        </ol>
      </div>

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Regular payments while you’re looking for work</h1>
            <p class="govuk-body-l">The following payments are available, depending on your situation.</p>

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                      <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                               New Style Jobseeker's Allowance (JSA)
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                          <p>New Style JSA is a payment to support you while you’re looking for work.</p>
                          <p>You might be able to get New Style JSA at the same time as Universal Credit. You'll need to apply for each benefit separately.</p>

                          <p><strong>Eligibility</strong></p>
                            <p>You might be able to get New Style JSA if you:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>are 18 or over (there are some exceptions if you’re 16 or 17 - contact Jobcentre Plus for advice)</li>
                                <li>are under the <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                                <li>are not in full-time education</li>
                                <li>are available for work</li>
                                <li>are not working at the moment, or working less than 16 hours per week on average</li>
                                <li>cannot work but you're still being paid by your employer ('on furlough') or being paid through the Self-Employment Income Support Scheme, and usually work less than 16 hours a week</li>
                                <li>do not have an illness or disability which stops you from working</li>
                                <li>live in England, Scotland or Wales</li>
                                <li>have worked as an an employee and paid Class 1 National Insurance contributions, usually in the last 2 to 3 years – National Insurance credits can also count</li>
                              </ul>

                              <p><a href="https://www.gov.uk/guidance/new-style-jobseekers-allowance#how-to-claim">How to apply for New Style JSA</a></p>

                              <div class="govuk-inset-text">If you get or are entitled to the severe disability premium, you might be able to <a href="https://www.gov.uk/jobseekers-allowance/apply-contribution-income-based-jsa">get contribution based or income-based JSA</a>.</div>
                        </div>
                      </div>

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                    Universal Credit
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                              <p>Universal Credit is a payment to help if you are on a low income or unemployed. It is paid once a month, usually into your bank, building society or credit union account.</p>
                              <p>You might be able to get Universal Credit at the same time as New Style Jobseeker's Allowance. You'll need to apply for each benefit separately.</p>
                              <p><strong>If you already get tax credits</strong></p>
                              <p>If you're already getting tax credits, they will stop when you or your partner applies for Universal Credit.</p>
                              <p><strong>Eligibility</strong></p>
                                <p>You might be able to get Universal Credit if:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>you’re on a low income or out of work</li>
                                    <li>you’re 18 or over (there are some <a href="https://www.gov.uk/universal-credit/eligibility#if-youre-16-or-17">exceptions if you’re 16 to 17</a>)</li>
                                    <li>you’re under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> (or your partner is)</li>
                                    <li>you and your partner have £16,000 or less in savings between you</li>
                                    <li>you live in the UK</li>
                                </ul>
                                <p><a href="https://www.gov.uk/universal-credit/how-to-claim">How to apply for Universal Credit</a></p>
                            </div>
                          </div>

                          <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                        Pension Credit
                                    </span>
                                  </h2>
                                </div>
                                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                  <p>Pension Credit tops up your weekly income if it’s below £173.75 (for single people) or £265.20 (for couples). You may still be eligible if you have savings, a pension or you own your home.</p>
                                  <p><strong>Eligibility</strong></p>
                                        <p>You might be able to get Pension Credit if:</p>
                                        <ul class="govuk-list govuk-list--bullet">
                                            <li>You live in England, Scotland or Wales</li>
                                            <li>You have reached <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                                            <li>If you are in a couple, both of you will need to have reached State Pension age, or one of you is over State Pension Age and is getting Housing Benefit</li>
                                            <li>Your  weekly income is below £173.75 (for single people) or £265.20 (for couples)</li>
                                        </ul>
                                        <p><a href="https://www.gov.uk/pension-credit/how-to-claim">How to apply for Pension Credit</a></p>
                                </div>
                              </div>

              </div>




              <h3 class="govuk-heading-s govuk-!-margin-top-5">If you're unsure which payments you could get</h3>
              <p>You can answer some questions to find out whether New Style JSA, Universal Credit or Pension Credit is best for your situation.</p>
          <a class="govuk-button" href="start">Check now</a>

          <p>Other help is also available if:</p>
          <ul class="govuk-list govuk-list--bullet">
              <ul class="govuk-list govuk-list--bullet">
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're on a low income</a>
                      <li><a href="http://localhost:3000/version-0-15/benefits">you're temporarily unable to work</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're disabled or have a health condition</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're caring for someone</li>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're looking after a family</li>
                    <li><a href="http://localhost:3000/version-0-15/benefits">someone has died</li>
              </ul>
          </ul>
        </div>


          </div>

        </main>

        </div>


{% endblock %}
