
{% extends "layout.html" %}

{% block pageTitle %}
Additional support - because you have a disability or health condition | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="benefits" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Additional support - because you have a disability or health condition</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

          
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://www.gov.uk/disabled-facilities-grants">Disabled Facilities Grants</a></li>
              <li><a href="https://www.gov.uk/coal-health-compensation-claims">Get compensation for health problems caused by mining</a></li>
              <li><a href="https://www.gov.uk/independent-livingfund">Independent Living Fund</a></li>
              <li><a href="https://www.gov.uk/reduced-earnings-allowance">Industrial Injuries Disablement Benefit</a></li>
              <li><a href="https://www.gov.uk/reduced-earnings-allowance">Reduced Earnings Allowance</a></li>
              <li><a href="https://www.gov.uk/severe-disablement-allowance">Severe Disablement Allowance</a></li>
              <li><a href="https://www.gov.uk/vaccine-damage-payment">Vaccine Damage Payment</a></li>
              <li><a href="https://www.gov.uk/blind-persons-allowance">Blind Person's Allowance</a></li>
              <li><a href="https://www.gov.uk/disability-premiums">Disability premiums</a></li>
          </ul>
        

            </div>
          
         

          <div class="govuk-grid-column-one-third">

        </div>

          </div>


{% endblock %}
