
{% extends "layout.html" %}

{% block pageTitle %}
Financial help if you’re looking for work 
{% endblock %}

{% block main %}

<div class="govuk-width-container {{ containerClasses }}">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
        </li>
        <li class="govuk-breadcrumbs__list-item active">
            Financial help if you’re looking for work
        </li>
      </ol>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Financial help if you’re looking for work</h1>
            
            <!--  contents -->
            <p class="govuk-body-s">Contents</p>

    <ul class="govuk-list govuk-list--dashed govuk-body-s">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a href="financial-support-looking-for-work">Regular payments</a>
            </li>
        
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                      Help with specific living costs
                      </li>
        
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="financial-support-looking-for-work-apply-decide">Help with applying or deciding which benefit is right for you</a>
          
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="financial-support-looking-for-work-a-to-z">A-to-Z of financial support</a>
                    </li>
                   
                </ul>
            <!--  /contents -->
                
                
            <h2 class="govuk-heading-l govuk-!-margin-top-6 overview-top-border">Help with specific living costs</h2>

                <p>You might be able to get the following support if you’re on a low income or have a health condition or disability.</p>
            

                <h2 class="govuk-heading-s govuk-!-margin-top-5">Blind Person's Allowance</h2>
            <p>Blind Person’s Allowance is an extra amount of tax-free allowance. It means you can earn more before you start paying Income Tax if you’re registered blind or severely sight impaired.</p>
            <p><a href="https://www.gov.uk/blind-persons-allowance/how-to-claim">How to apply for Blind Person's Allowance</a></p>

         

            <h2 class="govuk-heading-s govuk-!-margin-top-5">Budgeting Advance</h2>
            <p>You might be able to get a Budgeting Advance to help with:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>emergency household costs, like replacing a broken cooker</li>
                  <li>getting a job or staying in work</li>
                  <li>funeral costs</li>
                </ul>
              <p>To get a Budgeting Advance you must have been getting Universal Credit, Employment and Support Allowance, Income Support, Jobseeker’s Allowance or State Pension Credit for 6 months or more, unless you need the money to help you start a new job or stay in work.</p>
              <p><a href="https://www.gov.uk/universal-credit/other-financial-support#budgeting-advance">How to apply for a Budgeting Advance</a></p>
              
             
            <h2 class="govuk-heading-s govuk-!-margin-top-5">Budgeting Loan</h2>
            <p>A Budgeting Loan can help with certain one-off expenses. You may be eligible for a Budgeting Loan if you’ve been on the following benefits for the past 6 months:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Income Support</li>
                                <li>income-based Jobseeker’s Allowance</li>
                                <li>income-related Employment and Support Allowance</li>
                                <li>Pension Credit</li>
                            </ul>
                            <p><a href="https://www.gov.uk/budgeting-help-benefits/">How to apply for a Budgeting Loan</a></p>
                            
                            
            <h2 class="govuk-heading-s govuk-!-margin-top-5">Bus pass for an older person</h2>
              <p>You might be able to get a bus pass for free travel. When you can get it depends on whether you live in England, Northern Ireland, Scotland or Wales.</p>
              <p><a href="https://www.gov.uk/apply-for-elderly-person-bus-pass">How to apply for a bus pass</a></p>
              
         
            <h2 class="govuk-heading-s govuk-!-margin-top-5">Cold Weather Payment</h2>  
            <p>You may get a Cold Weather Payment if you’re getting:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Pension Credit</li>
                <li>Income Support</li>
                <li>income-based Jobseeker’s Allowance</li>
                <li>income-related Employment and Support Allowance</li>
                <li>Universal Credit</li>
                <li>Support for Mortgage Interest</li>
              </ul>
              <p>You do not need to apply. If you're eligible for it, you'll be paid it automatically.</p>

              <p><a href="https://www.gov.uk/cold-weather-payment/how-to-claim">How to check you'll get Cold Weather Payment</a></p>

       
              <h2 class="govuk-heading-s govuk-!-margin-top-5">Council Tax Reduction</h2>
              <p>If you’re on a low income or claim benefits, your bill could be reduced by up to 100%. You can apply if you own your home, rent, are unemployed or working.</p>
               <p><a href="https://www.gov.uk/council-tax-reduction/">How to apply for Council Tax Reduction</a></p>

    
               <h2 class="govuk-heading-s govuk-!-margin-top-5">Disabled Facilities Grant</h2>
              <p>You could get a grant from your council if you’re disabled and need to make changes to your home, for example to:</p>
                                           <ul class="govuk-list govuk-list--bullet">
                                               <li>widen doors and install ramps</li>
                                               <li>improve access to rooms and facilities - for example, stairlifts or a downstairs bathroom</li>
                                               <li>adapt heating or lighting controls to make them easier to use</li>
                                          </ul>

                                         <p><a href="https://www.gov.uk/disabled-facilities-grants/how-to-claim">How to apply for a Disabled Facilities Grant</a></p>

                                    
              <h2 class="govuk-heading-s govuk-!-margin-top-5">Discretionary Housing Payments</h2>
              <p>Extra help to meet your housing costs if you’re currently claiming Housing Benefit or Universal Credit with housing costs.</p>
              <p><a href="https://www.gov.uk/government/publications/claiming-discretionary-housing-payments/claiming-discretionary-housing-payments">How to claim Discretionary Housing Payments</a></p>

            
              <h2 class="govuk-heading-s govuk-!-margin-top-5">Help with NHS prescriptions and health costs</h2>
              <p>You might be able to get free NHS prescriptions, dental treatment, eye tests and help with other NHS costs.</p>
              <p><a href="https://www.gov.uk/help-nhs-costs">Check what help with NHS costs you could get</a></p>

         
              <h2 class="govuk-heading-s govuk-!-margin-top-5">Housing Benefit</h2>
              <p>Housing Benefit can help you pay your rent if you’re unemployed, on a low income or claiming benefits. You can make a new claim for Housing Benefit if any of the following apply:</p>
                                            <ul class="govuk-list govuk-list--bullet">
                                                <li>you’re getting the <a href="https://www.gov.uk/disability-premiums-income-support">severe disability premium</a>, or are entitled to it</li>
                                                <li>you got or were entitled to the severe disability premium within the last month and are still eligible for it</li>
                                                <li>you have reached <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                                                <li>you’re in supported, sheltered or temporary housing</li>
                                            </ul>
                  <p><a href="https://www.gov.uk/housing-benefit/how-to-claim">How to apply for Housing Benefit</a></p>

           
              <h2 class="govuk-heading-s govuk-!-margin-top-5">Mortgage Interest Run On</h2>
              <p>You can claim Mortgage Interest Run On if you’ve stopped getting income-based Jobseeker’s Allowance, Income Support or income-related Employment and Support Allowance because you’re returning to work full-time, working more hours or earning more money.</p>
                                                <p><a href="https://www.gov.uk/mortgage-interest-run-on/how-to-claim">How to apply for Mortgage Interest Run On</a></p>
                                               
                                             
              <h2 class="govuk-heading-s govuk-!-margin-top-5">NHS prescription prepayment certificates</h2>
              <p>If you live in England, you can buy prescription prepayment certificates from the NHS which make your prescriptions cheaper.</p>
                                                    <p><a href="https://www.gov.uk/get-a-ppc">How to get NHS prescription prepayment certificates</a></p>
              
                                          
              <h2 class="govuk-heading-s govuk-!-margin-top-5">Reduced Earnings Allowance</h2>
              <p>If you cannot earn as much as you used to because of an accident or disease caused by your work, you could get up to £72.80 a week. You can only get it for accidents that happened, or diseases that started, before 1 October 1990.</p>
                                                     <p><a href="https://www.gov.uk/reduced-earnings-allowance/how-to-claim">How to apply for Reduced Earnings Allowance</a></p>

                                                
             <h2 class="govuk-heading-s govuk-!-margin-top-5">Support for Mortgage Interest</h2>    
             <p>If you’re a homeowner, you might be able to get a loan to help towards interest payments on:</p>
                                                <ul class="govuk-list govuk-list--bullet">
                                                    <li>your mortgage</li>
                                                    <li>loans you’ve taken out for certain repairs and improvements to your home</li>
                                                </ul>
                                                <p>To qualify you usually need to be getting one of the following:</p>
                                                <ul class="govuk-list govuk-list--bullet">
                                                    <li><a href="/income-support">Income Support</a></li>
                                                    <li>income-based <a href="/jobseekers-allowance">Jobseeker’s Allowance (<abbr title="Jobseeker’s Allowance">JSA</abbr>)</a>
                                                  </li>
                                                    <li>income-related <a href="/employment-support-allowance">Employment and Support Allowance (<abbr title="Employment and Support Allowance">ESA</abbr>)</a>
                                                  </li>
                                                    <li><a href="/universal-credit">Universal Credit</a></li>
                                                    <li><a href="/pension-credit">Pension Credit</a></li>
                                                  </ul>
                                                <p><a href="https://www.gov.uk/support-for-mortgage-interest/how-to-apply">How to apply for Support for Mortgage Interest</a></p>
                  
                                               
             <h2 class="govuk-heading-s govuk-!-margin-top-5">Television licence discount</h2>
             <p>You can get 50% off the cost of your TV licence if either:</p>
                                                 <ul class="govuk-list govuk-list--bullet">
                                                     <li>you’re registered blind or severely sight impaired</li>
                                                     <li>you live with someone who is registered blind or severely sight impaired</li>
                                                 </ul>
                                                 <p><a href="https://www.gov.uk/financial-help-disabled/television-licence-discount">How to apply for a television licence discount</a></p>

                                                 
              <h2 class="govuk-heading-s govuk-!-margin-top-5">Warm Home Discount</h2>
              <p>You could get £140 off your electricity bill for winter 2020 to 2021 under the Warm Home Discount Scheme.</p>
                                                    <p>You might qualify for the Warm Home Discount Scheme if:</p>
                                                    <ul class="govuk-list govuk-list--bullet">
                                                      <li>you get Pension Credit</li>
                                                      <li>you’re on a low income and meet your energy supplier’s criteria for the scheme </li>
                                                      </ul>
                                                    <p><a href="https://www.gov.uk/the-warm-home-discount-scheme">How to apply for the Warm Home Discount Scheme</a></p>

                                                    
              <h2 class="govuk-heading-s govuk-!-margin-top-5">Winter Fuel Payment</h2>
              <p>If you were born on or before 5 October 1954 you could get between £100 and £300 to help you pay your heating bills.</p>
                                                   <p><a href="https://www.gov.uk/winter-fuel-payment/how-to-claim">How to apply for Winter Fuel Payment</a></p>

            <hr>

            

          </div>

          <div class="govuk-grid-column-one-third">
              
              
            </div>
          
      </div>


    </main>

<!--  /govuk-width-container -->
</div>

{% endblock %}
