
{% extends "layout.html" %}

{% block pageTitle %}
Looking after children with disabilities or health conditions | GOV.UK
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

<div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="#">Support for families</a>
            </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Looking after children with disabilities or health conditions</a>
          </li>
        </ol>
      </div>

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Additional financial help if you're looking after children with disabilities or health conditions</h1>
            <p class="govuk-body-l">The following financial support is available, depending on your situation.</p>

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                    <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                Carer's Allowance
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                          <p>Carer's Allowance is a weekly payment to help cover the cost of caring for someone.</p>
                          <p class="govuk-body">You could get it if:</p>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>the person you're caring for gets certain benefits</li>
                            <li>you’re 16 or over</li>
                            <li>you spend at least 35 hours a week caring for someone</li>
                            <li>you normally live in England, Scotland or Wales</li>
                            <li>you’re not studying for 21 hours a week or more</li>
                            <li>you earn £128 or less a week after tax, National Insurance and
                              expenses</li>
                            </ul>
                            <p>You do not have to be related to, or live with, the person you care for.</p>
                            <p>You do not get paid extra if you care for more than one person.</p>
                            <p>If someone else also cares for the same person as you, only one of you can claim Carer’s Allowance.</p>


                        <p><a href="https://www.gov.uk/carers-allowance/how-to-claim">How to apply for Carer's Allowance</a></p>
                        </div>
                      </div>

                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                      Disability Living Allowance (DLA) for children
                                  </span>
                                </h2>
                              </div>
                              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                  <p>DLA for children may help with the extra costs of looking after a child who:</p>
                                  <ul class="govuk-list govuk-list--bullet">
                                      <li>is under 16</li>
                                      <li>has difficulties walking or needs much more looking after than a child of the same age who does not have a disability</li>
                                  </ul>
                                  <p><a href="https://www.gov.uk/disability-living-allowance-children/how-to-claim">How to apply for DLA for children</a></p>
                              </div>
                            </div>

                            <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                          Disabled Facilities Grant
                                    </span>
                                  </h2>
                           </div>
                           <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                             <p>You could get a grant from your council if you’re disabled and need to make changes to your home, for example to:</p>
                             <ul class="govuk-list govuk-list--bullet">
                                 <li>widen doors and install ramps</li>
                                 <li>improve access to rooms and facilities - for example, stairlifts or a downstairs bathroom</li>
                                 <li>adapt heating or lighting controls to make them easier to use</li>
                            </ul>

                           <p><a href="https://www.gov.uk/disabled-facilities-grants/how-to-claim">How to apply for a Disabled Facilities Grant</a></p>
                          </div>
                     </div>

                      
                      </div>


                      
              <p>Other help is also available if:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li><a href="http://localhost:3000/version-0-15/benefits">you're looking for work</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're temporarily unable to work</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're on a low income</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're disabled or have a health condition</a>
                    <li><a href="http://localhost:3000/version-0-15/benefits">you're caring for someone</li>
                    <li><a href="http://localhost:3000/version-0-15/benefits">someone has died</li>
              </ul>


        </div>


          </div>

        </main>

        </div>


{% endblock %}
