{% extends "layout.html" %} {% block pageTitle %} Universal Credit {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script>
{% endblock %} {% block beforeContent %}
<div class="app-step-nav-header">
  <span class="app-step-nav-header__part-of">Part of</span>
  <a class="app-step-nav-header__title" href="https://www.gov.uk/how-to-claim-universal-credit">
    How to claim Universal Credit: step by step
  </a>
</div>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Universal Credit
    </h1>

    <p class="govuk-body-s">Contents</p>

    <ul class="govuk-list govuk-list--dashed govuk-body-s">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
            Overview
  
          </li>

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/universal-credit/eligibility" data-track-options="{&quot;dimension29&quot;:&quot;Eligibility&quot;}" href="/universal-credit/eligibility">What Universal Credit is</a>

          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/universal-credit/eligibility" data-track-options="{&quot;dimension29&quot;:&quot;Eligibility&quot;}" href="/universal-credit/eligibility">Eligibility</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/universal-credit/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="/universal-credit/what-youll-get">What you'll get</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="/universal-credit/how-your-earnings-affect-your-payments" data-track-options="{&quot;dimension29&quot;:&quot;How your earnings affect your payments&quot;}" href="/universal-credit/how-your-earnings-affect-your-payments">How your earnings affect your payments</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="/universal-credit/how-youre-paid" data-track-options="{&quot;dimension29&quot;:&quot;How you're paid&quot;}" href="/universal-credit/how-youre-paid">How you're paid</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="/universal-credit/how-to-claim" data-track-options="{&quot;dimension29&quot;:&quot;How to claim&quot;}" href="/universal-credit/how-to-claim">How to claim</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="/universal-credit/get-an-advance-first-payment" data-track-options="{&quot;dimension29&quot;:&quot;Get an advance on your first payment&quot;}" href="/universal-credit/get-an-advance-first-payment">Get an advance on your first payment</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="/universal-credit/your-responsibilities" data-track-options="{&quot;dimension29&quot;:&quot;Your responsibilities&quot;}" href="/universal-credit/your-responsibilities">Your responsibilities</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 9" data-track-label="/universal-credit/changes-of-circumstances" data-track-options="{&quot;dimension29&quot;:&quot;Report a change of circumstances&quot;}" href="/universal-credit/changes-of-circumstances">Report a change of circumstances</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 10" data-track-label="/universal-credit/other-financial-support" data-track-options="{&quot;dimension29&quot;:&quot;Other financial support&quot;}" href="/universal-credit/other-financial-support">Other financial support</a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 11" data-track-label="/universal-credit/contact-universal-credit" data-track-options="{&quot;dimension29&quot;:&quot;Contact Universal Credit&quot;}" href="/universal-credit/contact-universal-credit">Contact Universal Credit</a>
  
          </li>
    </ul>

  </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l overview-top-border">Overview</h2>
    <p>Universal Credit is a payment to help with your living costs. It’s paid monthly - or <a href="https://www.gov.uk/universal-credit/how-youre-paid">twice a month for some people in Scotland</a>.</p>
    <p>You may be able to get it if you’re on a low income, out of work or you cannot work.</p>
    
    <p>You could get Universal Credit if you have less than £16,000 in savings and you or your partner is under State Pension age.</p>
    
    <p>Your Universal Credit payment is made up of a standard allowance and any extra amounts that apply to you, for example if you:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>have children</li>
        <li>have a disability or health condition which prevents you from working</li>
        <li>need help paying your rent</li>
    </ul>

    <div class="govuk-inset-text">
    If you're already getting tax credits, they will stop when you or your partner applies for Universal Credit. 
  </div>

  <h3 class="govuk-heading-s overview-top-border">Other benefits that you might be able to get</h3>

  <p>If you don’t think this is the right benefit for you, or you want to see what additional benefits you might be able to get, see:</p>
  <ul class="govuk-list">
      <li><a href="looking-for-work-regular-payments-accordions">Support if you're looking for work</a>
      </li><li><a href="temporarily-unable-to-work-income-accordions">Support if you're temporarily unable to work</a>
      </li><li><a href="health-condition-disabled-income-accordions">Support if you're disabled or have a health condition</a>
      </li><li><a href="caring-for-someone-income-accordions">Support if you're caring for someone</a></li>
      <li><a href="benefits">Support if you're looking after a family</a></li>
      <li><a href="someone-has-died-income-accordions">Support if someone has died</a></li>
          <li><a href="help-with-living-expenses-accordions">Help with specific living costs</a></li>
    </ul>


      </div>

  <div class="govuk-grid-column-one-third">

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Part of</span>
        <a href="#">
          How to claim Universal Credit: step by step
        </a>
      </h2>
    </div>

    <div id="step-by-step-navigation" data-module="gemstepnav" class="app-step-nav js-hidden " data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="show" data-hide-text="hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step app-step-nav__step--active" aria-current="step" data-show id="check-youre-allowed-to-drive" >
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 1
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check if you're eligible
              </span>
            </h3>
          </div>

        </li>
        <li class="app-step-nav__step js-step" id="get-a-provisional-licence" >
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 2
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Create an account and make a claim
              </span>
            </h3>
          </div>

        </li>
        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--logic">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    and
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Find out how your claim is assessed
              </span>
            </h3>
          </div>

        </li>
        
        <li class="app-step-nav__step js-step" id="when-you-pass" >
          <div class="app-step-nav__header js-toggle-panel" data-position="4">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 3
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Apply for an advance on your first payment
              </span>
            </h3>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass" >
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 4
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Get your first payment
              </span>
            </h3>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass" >
          <div class="app-step-nav__header js-toggle-panel" data-position="6">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 5
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Report any change of circumstances
              </span>
            </h3>
          </div>

        </li>


      </ol>
    </div>


  </div>

</div>


</div>
</div>
{% endblock %}
