
{% extends "layout.html" %}

{% block pageTitle %}
Help with your income while temporarily unable to work | GOV.UK
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

<div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Support if you're temporarily unable to work</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="#">Regular payments</a>
            </li>
        </ol>
      </div>

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Regular payments if you're temporarily unable to work</h1>
            <p class="govuk-body-l"><p class="govuk-body-l">The following payments are available, depending on your situation. For example, if you're ill, on furlough, shielding or self-isolating.</p>

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                 Statutory Sick Pay (SSP)
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <p>If you’re currently employed, you might be able to get a weekly payment if you're too ill to work.
                                  <p><strong>Eligibility</strong></p>
                                  <p>You might qualify for SSP if you:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>are classed as an employee and have done some work for your employer</li>
                                    <li>earn an average of at least £120 per week</li>
                                    <li>have been ill, self-isolating or shielding for at least 4 days in a row (including non-working days)</li>
                                  </ul>

                            <p><a href="https://www.gov.uk/statutory-sick-pay/how-to-claim">How to apply for SSP</a></p>
                            </div>
                          </div>

                      <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                New Style Employment and Support Allowance (ESA)
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <p>New Style ESA gives you money to help with living costs if you’re unable to work, and support to get back into work if you’re able to. You can apply for New Style ESA if you’re employed, self-employed or unemployed.</p>
                            <p>You might be able to get Universal Credit at the same time as New Style ESA. You'll need to apply for each benefit separately.</p>
                            <p><strong>Eligibility</strong></p>
                            <p>You might be able to get New Style ESA if you:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>are under the <a href="https://www.gov.uk/state-pension-age">State Pension age</a></li>
                                <li>are disabled or have a health condition that affects how much you can work</li>
                                <li>or your child might have coronavirus (COVID-19) or you’re recovering from it</li>
                                <li>or your child are self-isolating because you came into contact with someone who might have coronavirus</li>
                                <li>have been told to stay at home for at least 12 weeks by the NHS because you’re at high risk of severe illness</li>
                                <li>have worked as an employee or been self-employed and have paid enough National Insurance contributions in the last 2 to 3 years – National Insurance Credits also count</li>
                                <li>do not get Statutory Sick Pay (although you can apply 3 months before it’s due to end), Jobseeker’s Allowance or the severe disability premium</li>
                              </ul>
                              <p><a href="https://www.gov.uk/guidance/new-style-employment-and-support-allowance#how-to-apply">How to apply for New Style ESA</a></p>

                      </div>

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                  New Style Jobseeker's Allowance (JSA)
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                              <p>New Style JSA is a fortnightly payment if you’re available and looking for work.</p>

                              <p>To get it, you must be under <a href="https://www.gov.uk/state-pension-age">State Pension age</a> and be unemployed or working less than 16 hours a week.</p>
                              
                              <p>You also need to have paid or been credited with enough National Insurance contributions over the last 2 to 3 years.</p>
                              
                              <p>Your savings and your partner’s income will not affect how much New Style JSA you’re paid.</p>

                              <p>You might be able to get Universal Credit at the same time as New Style JSA. You'll need to apply for each benefit separately.
                              </p>

                              <p>Find out more about New Style JSA:</p>

                              <ul class="govuk-list govuk-list--bullet">
                                <li>in <a href="guide-jsa">England, Scotland and Wales</a></li>
                                <li>in <a href="https://www.nidirect.gov.uk/articles/jobseekers-allowance">Northern Ireland</a></li>
                              </ul>

                              <div class="govuk-inset-text">You cannot get New Style JSA if you get or are entitled to severe disability premium. You might be able to get <a href="https://www.gov.uk/jobseekers-allowance/apply-contribution-income-based-jsa">contribution based or income-based JSA</a>.</div>
                            </div>
                          </div>

                      <div class="govuk-accordion__section">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                    Universal Credit
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                              <p>Universal Credit is a monthly payment if you’re on a low income or out of work.</p>

                              <p>To get it, you or your partner must be under <a href="https://www.gov.uk/state-pension-age">State Pension age</a>, and you must have £16,000 or less in savings between you.</p>
                              
                              <p>You might be able to get Universal Credit at the same time as New Style Jobseeker's Allowance. You'll need to apply for each benefit separately.
                              </p>
                                <p><a href="guide-uc">Find out more about Universal Credit</a></p>
                                <div class="govuk-inset-text">If you're already getting tax credits, they will stop when you or your partner applies for Universal Credit.</div>
                            </div>
                          </div>
                        </div>







        </div>

        <p>Other help is also available if:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="http://localhost:3000/version-0-15/benefits">you're looking for work</a>
              <li><a href="http://localhost:3000/version-0-15/benefits">you're on a low income</a>
              <li><a href="http://localhost:3000/version-0-15/benefits">you're disabled or have a health condition</a>
              <li><a href="http://localhost:3000/version-0-15/benefits">you're caring for someone</li>
              <li><a href="http://localhost:3000/version-0-15/benefits">you're looking after a family</li>
              <li><a href="http://localhost:3000/version-0-15/benefits">someone has died</li>
        </ul>
          </div>

        </main>

        </div>


{% endblock %}
