.browse__breadcrumb-wrapper,
.browse__header-wrapper {
  background-color:#263135
}
.browse__breadcrumb-wrapper {
  overflow:auto
}
.browse__header-wrapper {
  padding-bottom:40px;
  border-top:1px solid #263135;
  margin-top:-1px
}
@media(min-width: 40.0625em) {
  .browse__header-wrapper {
    padding-bottom:50px;
    padding-top:30px
  }
}
.browse__heading {
  color:#fff;
  margin-bottom:30px
}
.browse__section {
  margin-bottom:60px
}
@media(min-width: 40.0625em) {
  .browse__section:last-child {
    margin-bottom:0
  }
}
.browse__section--top-border {
  border-top:1px solid #b1b4b6;
  padding-top:15px
}
.browse__list>.browse__list-item {
  margin-bottom:25px
}
.browse__more-on-this-topic {
  margin-top:20px
}
@media(min-width: 40.0625em) {
  .browse__more-on-this-topic {
    margin-top:40px;
    margin-bottom:5px
  }
}
.browse__action-links {
  border-bottom:4px solid #1d70b8;
  margin-bottom:20px
}
@media(min-width: 40.0625em) {
  .browse__action-links {
    margin-bottom:30px
  }
}
.browse__chevron-cards {
  list-style:none;
  padding:0;
  margin-top:0
}
.chevron-card {
  border-top:1px solid #b1b4b6;
  padding:5px 0 20px
}
.chevron-card:last-child {
  border-bottom:1px solid #b1b4b6
}
.chevron-card__wrapper {
  padding:19px 0 4px;
  position:relative
}
.chevron-card__wrapper .govuk-heading-s,
.chevron-card__wrapper .chevron-card__description {
  margin:0 30px 0 0
}
@media(min-width: 48.0625em) {
  .chevron-card__wrapper .govuk-heading-s,
  .chevron-card__wrapper .chevron-card__description {
    max-width:66.6667%
  }
}
.chevron-card__link::after {
  bottom:0;
  content:"";
  display:block;
  left:0;
  position:absolute;
  right:0;
  top:0
}
.chevron-card__link::before {
  border-right:3px solid #1d70b8;
  border-top:3px solid #1d70b8;
  content:"";
  display:block;
  height:7px;
  position:absolute;
  right:5px;
  top:50%;
  margin-top:5px;
  -webkit-transform:translateY(0) rotate(45deg) scale(1);
  -ms-transform:translateY(0) rotate(45deg) scale(1);
  transform:translateY(0) rotate(45deg) scale(1);
  width:7px
}
.chevron-card__link:hover::before {
  border-color:#003078
}
.chevron-card__link:focus::before {
  border-color:#0b0c0c
}
