{% extends "/ur-r5/_layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Your sign in details have been updated" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    {{title}}
                </h1>
            </div>

            <p class="govuk-body">
                When you return to this service, you’ll need to use your GOV.UK One Login details.
            </p>

            <p class="govuk-body">
                These will be the only details you’ll need to sign in to this service.
            </p>

            {{ govukButton({
                text: "Continue",
                href: "/ur-r5/access/account-home-page"
            }) }}

    </div>

{% endblock %}
