{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a real service – it is just for user research.'
  }) }}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
            You're more likely to get accurate results if you sign in
            </h1>

            <p class="govuk-body">
                To sign in, you need to sign in with a GOV.UK One Login. If you do not have a GOV.UK One Login, you'll need to create one.
            </p>

            <!-- <p class="govuk-body">
                To help keep your information safe, you may be asked to prove your identity.
            </p>

            <p class="govuk-body">
                You’ll need:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>a valid photo ID, such as your passport or driving licence</li>
                <li>your current home address (you'll need to provide your previous address if you’ve moved within the last 3 months)</li>
            </ul> -->
            <form class="form" action="/SaveContinue-answer" method="post">



{{ govukRadios({
    name: "SaveContinue",
    value: data['SaveContinue'],
    fieldset: {
      legend: {
        text: "Would you like to sign in with GOV.UK One Login?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes, Sign in with GOV.UK One Login",
        hint: {
          text: "If you don’t have a GOV.UK One Login, you can create one."
        }
      },
      {
        value: "no",
        text: "No, continue without signing in."
         
      }
    ]
  }) }}
        
                {{ govukButton({
                  text: "Continue"
                }) }}


        
              </form>

    </div>

{% endblock %}
