
{% extends "layout.html" %}

{% block pageTitle %}
Based on your answers, there are no options that fit your situation | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q8-health" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" id="furlough">Support you might be able to claim for</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

              <p>Based on your answers we don’t think you will be able to claim for Universal Credit or New Job Seekers Allowance.
                  You can read more about <a href="unemployed-support">support for people who are unemployed or on a low income</a> and decide whether to apply.</p>

              <p>You might be able to get financial support with your bills and expenses. You can find out more from <a href="https://www.citizensadvice.org.uk/debt-and-money/if-you-cant-pay-your-bills-because-of-coronavirus/">Citizen's Advice.</a></p>

          <p><strong>Other financial support might be available if:</strong></p>

          <ul class="govuk-list govuk-list--bullet">
              <li><a href="/version-0-6/summary-carers">you're caring for another adult</a></li>
              <li><a href="https://www.gov.uk/browse/childcare-parenting/financial-help-children">you're looking after children, or about to</a></li>
              <li><a href="https://www.gov.uk/financial-help-disabled">you're disabled or have a health condition</a></li>
              <li><a href="https://www.gov.uk/when-someone-dies">someone has died</a></li>
            </ul>

    
          </div>



      <div class="govuk-grid-column-one-third">
          <div class="return-me">
          <h2 class="govuk-heading-m return-header">Keep these results</h2>
          <p>Email these results to yourself, or use a reference code to see them.</p>
          <a class="govuk-button" href="send">Continue</a>
          </div>
      </div>

      </div>


{% endblock %}
