
{% extends "layout.html" %}

{% block pageTitle %}
New Style Job Seeker's Allowance
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    
        <h1 class="govuk-heading-xl">
                New Style Job Seeker's Allowance
        </h1>

    <p class="govuk-body-l">You may be able to claim New Style Jobseeker’s Allowance (JSA) with, or instead of, Universal Credit, depending on your National Insurance record.</p>

    <p class="govuk-body-s">Contents</p>

    <ul class="govuk-list govuk-list--dashed govuk-body-s">
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                    Overview
          
                  </li>
        
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="https://www.gov.uk/guidance/new-style-jobseekers-allowance#why-should-i-claim-new-style-jsa" data-track-options="{&quot;dimension29&quot;:&quot;Eligibility&quot;}" href="#">Why should I claim New Style JSA?</a>
        
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/universal-credit/eligibility" data-track-options="{&quot;dimension29&quot;:&quot;Eligibility&quot;}" href="https://www.gov.uk/guidance/new-style-jobseekers-allowance#eligibility">Eligibility</a>
          
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/universal-credit/what-youll-get" data-track-options="{&quot;dimension29&quot;:&quot;What you'll get&quot;}" href="https://www.gov.uk/guidance/new-style-jobseekers-allowance#how-to-claim">How to claim</a>
                    </li>
                </ul>

  </div>
  </div>

  <div class="govuk-grid-row  govuk-!-margin-top-5">
              <div class="govuk-grid-column-two-thirds">  

                    <h2 class="govuk-heading-l overview-top-border">Overview</h2>

                    <p>If you’re unemployed or work less than 16 hours a week you may be able to get New Style Jobseeker’s Allowance (JSA).</p>

<p>New Style JSA is a fortnightly payment that can be claimed on its own or at the same time as <a href="https://www.gov.uk/universal-credit" class="govuk-link">Universal Credit</a>.</p>

<p>New Style JSA is a contribution based benefit. Normally, this means you may be able to get it if you’ve paid and/or been credited with enough National Insurance (<abbr title="National Insurance">NI</abbr>) contributions in the 2 full tax years before the year you’re claiming in.</p>

<p>If you qualify, you can get New Style JSA for up to 182 days. After this your work coach will talk to you about your options.</p>

<p>If you qualify for both New Style JSA and Universal Credit, any New Style JSA you receive will be taken into account as income for Universal Credit.</p>

<p>You’ll also need to take reasonable steps to look for work. You must still follow the <a href="https://www.gov.uk/guidance/working-safely-during-coronavirus-covid-19">guidance on working safely during coronavirus</a>.
    </p>

    <p>If you don’t think this is the right benefit for you, or you want to see what additional benefits you might be able to get, see:</p>
  <ul class="govuk-list">
      <li><a href="regular-payments-looking-for-work">Support if you're on a low income</a>
      </li><li><a href="benefits">Support if you're temporarily unable to work</a>
      </li><li><a href="benefits">Support if you're disabled or have a health condition</a>
      </li><li><a href="benefits">Support if you're caring for someone</a></li>
      <li><a href="benefits">Support if you're looking after a family</a></li>
      <li><a href="benefits">Support if someone has died</a></li>
          <li><a href="help-with-specific-living-costs">Help with specific living costs</a></li>
    </ul>


        
          </div>

          <div class="govuk-grid-column-one-third">

                <h3 class="govuk-heading-s right-nav-top-border">Related content</h3>

                <ul class="govuk-list govuk-body-s">
                <li><a href="https://www.gov.uk/guidance/new-style-employment-and-support-allowance">New Style Employment and Support Allowance</a></li>
                <li><a href="https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-youre-already-getting-benefits">Coronavirus (COVID-19): what to do if you’re already getting benefits</a></li>
                <li><a href="https://www.gov.uk/government/publications/income-support-claim-form">Income Support claim form</a></li>
                <li><a href="https://www.gov.uk/guidance/new-style-employment-and-support-allowance-detailed-guide">New Style Employment and Support Allowance: detailed guide</a></li>
                <li><a href="https://www.gov.uk/guidance/universal-credit-advances">Universal Credit advances</a></li>

            </ul>
          </div>


      </div>


{% endblock %}
