
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get and manage my financial support from DWP
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}


      <h2 class="govuk-heading-l">Latest Journeys</h2>
      <h3 class="govuk-heading-m">Full end-to-end</h3>
      <p><a href="/smp-govpages/google">From Google: Identity credential nudge</a></p>
      <h3 class="govuk-heading-m">Feature concepts for testing</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">Inside the account</a></li>
        <li><a href="#">Suitability to apply</a></li>
      </ul>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                <span class="govuk-caption-m">February 2024 - date</span>
                Service Modernisation Programme - Future State Design (FSD)
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">Inside the account.</p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                <span class="govuk-caption-m">January 2020 - July 2022</span>
                SCE- Service Strategy Team
              </span>
            </h2>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <h3 class="govuk-heading-m">Last version</h3>
              <p><a href="version-2/">Version 2</a></p>
              <p>Main changes:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>main part of summary page restructured to separate out info for over and under SPA
                  <li>used bulleted list for for benefits, like in the <a href="https://www.gov.uk/guidance/redundancy-help-finding-work-and-claiming-benefits">being made redundant</a> page - doing that means we can avoid having subheadings for the benefits on the summary page, making the under and over sections stand out more, a simpler looking page - you can also see a <a href="version-2/financial-support-looking-for-work-alternative">version without bullets</a></li>
                  <li>NI question removed from router</li>
                  <li>Pension Credit details page removed from router, and link from 'yes, for PC' goes to PC mainstream guide</li>
                  <li>routing and back links updated to match changes</li>
                  <li>in 'further help', added more explanation, so not just links</li>
                </ul>

                <p>Still to do in version 2:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>check details pages against mainstream guides</li>
                      <li>consider a link to <a href="https://www.gov.uk/guidance/redundancy-help-finding-work-and-claiming-benefits">being made redundant</a></li>
                  </ul>
                  <h3 class="govuk-heading-s">Validation messages</h3>
                  <p><a href="https://dwpdigital.atlassian.net/wiki/spaces/SST/pages/131765705818/Looking+for+work+router+-+validation+messages">Version 2 validation messages</a></p>
                  <p>No changes needed.</p>

                  <h3 class="govuk-heading-s">Service map</h3>
                  <p><a href="https://dwpdigital.atlassian.net/wiki/spaces/SST/pages/131845165676/Looking+for+work+router+-+prototype+journey+map">Version 2 flow in PDF</a></p>


                  <hr>
                  <h2 class="govuk-heading-m">Previous versions</h2>
                  <p>View previous versions within <a href="change-log/">change log</a> </p>

                  <hr>
                  <h2 class="govuk-heading-m">Build</h2>
                  <p>securetest.dwp.gov.uk/regular-payments-looking-for-work</p>
                  <p>This reflects phase-three-b, not the latest prototype</p>
                  <p>The build includes a cookies banner, policy page and details page, using the <a href="https://cookies-consent.design-system.dwp.gov.uk/patterns/consent-to-cookies">standard DWP patterns</a> - <a href="https://design-system.service.gov.uk/components/cookie-banner/">more about cookies banners</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>

{% endblock %}
