{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Service Strategy
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-l">
        <span class="govuk-caption-l">February 2024 to date</span>
        Service Modernisation Programme- Future State Design Team
      </h2>

        <h3 class="govuk-heading-m">Eligibility (suitability to application)</h3>
        <h3 class="govuk-heading-m">Inside the account - application tracking, dashboard and payment page</h3>
        <h3 class="govuk-heading-m">Inside the account - change of circumstances/report a change</h3>

      <h2 class="govuk-heading-l">
        <span class="govuk-caption-l">- to July 2022</span>
        SCE Signposting Team
      </h2>

<p><a href="/signposting/version-2/">Version 2</a></p>

<p>Main changes:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>main part of summary page restructured to separate out info for over and under SPA
  <li>used bulleted list for for benefits, like in the <a href="https://www.gov.uk/guidance/redundancy-help-finding-work-and-claiming-benefits">being made redundant</a> page - doing that means we can avoid having subheadings for the benefits on the summary page, making the under and over sections stand out more, a simpler looking page - you can also see a <a href="version-2/financial-support-looking-for-work-alternative">version without bullets</a></li>
  <li>NI question removed from router</li>
  <li>Pension Credit details page removed from router, and link from 'yes, for PC' goes to PC mainstream guide</li>
  <li>routing and back links updated to match changes</li>
  <li>in 'further help', added more explanation, so not just links</li>
</ul>

<p>Still to do in version 2:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>check details pages against mainstream guides</li>
<li>consider a link to <a href="https://www.gov.uk/guidance/redundancy-help-finding-work-and-claiming-benefits">being made redundant</a></li>
  </ul>

<h3 class="govuk-heading-m">Validation messages</h3>
<p><a href="https://dwpdigital.atlassian.net/wiki/spaces/SST/pages/131765705818/Looking+for+work+router+-+validation+messages">Version 2 validation messages</a></p>
<p>No changes needed.</p>

<h3 class="govuk-heading-m">Service map</h3>
<p><a href="https://dwpdigital.atlassian.net/wiki/spaces/SST/pages/131845165676/Looking+for+work+router+-+prototype+journey+map">Version 2 flow in PDF</a></p>

<hr>
<h2 class="govuk-heading-l">Build</h2>
<p>securetest.dwp.gov.uk/regular-payments-looking-for-work</p>
<p>This reflects phase-three-b, not the latest prototype</p>
<p>The build includes a cookies banner, policy page and details page, using the <a href="https://cookies-consent.design-system.dwp.gov.uk/patterns/consent-to-cookies">standard DWP patterns</a> - <a href="https://design-system.service.gov.uk/components/cookie-banner/">more about cookies banners</a></p>

<hr>

<h2 class="govuk-heading-l">Previous versions</h2>

      <p><a href="phase-one/">Phase 1. Navigation Only</a></p>
      <p><a href="phase-two/">Phase 2. Summary Page MVP 'Support if you're looking for work'</a></p>
      <p><a href="phase-three/">Phase 3. Router MVP 'Support if you're looking for work'</a></p>
      <p><a href="phase-three-b/">Phase 3b. Router MVP 'Support if you're looking for work' - with latest changes</a></p>


      <h2 class="govuk-heading-m">New options</h2>

      <h3><a href="version-0-21-a/">Version 0.21a (What you can get links to router)</a></h3>
      <h3><a href="version-0-21-b/">Version 0.21b (What you can get links to summary with router)</a></h3>
      <h3><a href="version-0-21-c/">Version 0.21c (What you can get links to summary with router, a to z)</a></h3>
      <h3><a href="version-0-21-d/">Version 0.21d (front loaded summaries)</a></h3>
      <h3><a href="version-0-21-e/">Version 0.21e (Understanding options)</a></h3>
      <h3><a href="version-0-21-f/">Version 0.21f (start page without summaries)</a></h3>
      <h3><a href="version-0-21-g/">Version 0.21g (Straight from browse to router)</a></h3>

      <h2 class="govuk-heading-m">Archived</h2>

      <h3><a href="version-0-18/">Version 0.18 (Updated browse structure, includes return links in guidance)</a></h3>

  <h3><a href="version-0-19/">Version 0.19 (Edits post checker build, includes return links in guidance)</a></h3>

  <h3><a href="version-0-20/">Version 0.20 (Content pages for regular payments and also help and guidance)</a></h3>

  <h3><a href="gds-menu-changes/">GDS Proposed Menu Changes</a></h3>

  <h3><a href="version-0-15/">Version 0.15 (Versioned at checker build)</a></h3>

<h2 class="govuk-heading-m">Corona Support Content</h2>

  <h3><a href="corona-1-1/">Corona Support Content 1.1</a></h3>





<h3><a href="version-0-14/">Version 0.14 </a></h3>

          <h3><a href="version-0-13/">Version 0.13 (For editing)</a></h3>

          <h3><a href="version-0-12/">Version 0.12 (Versioned on 17/07/2020)</a></h3>

      <h3><a href="version-0-11/">Version 0.11 (End state)</a></h3>
    <ul>
    <li class="govuk-list-item"><a href="version-0-11/uc-jsa-2">Alternate results page (New version)</a></li>
    <li class="govuk-list-item"><a href="version-0-11/uc-jsa-3">Alternate results (Stripped back w/ UC/JSA guidance at top)</a></li>
    <li class="govuk-list-item"><a href="version-0-11/uc-jsa-4">Alternate results (Same structure as help w/ income page)</a></li>
    <li class="govuk-list-item"><a href="version-0-11/support-to-help-with-bills-and-expenses-accordians">Support with bills and expenses (accordians)</li>
  </ul>

      <h3><a href="version-0-10/">Version 0.10 (MVP)</a></h3>
      <ul>
      <li class="govuk-list-item"><a href="version-0-10/uc-jsa">Results </a></li>
      <li class="govuk-list-item"><a href="version-0-10/uc-jsa-2">Alternate results (Stripped back w/ UC/JSA guidance at top)</a></li>
      <li class="govuk-list-item"><a href="version-0-10/support-to-help-with-bills-and-expenses-accordians">Support with bills and expenses (accordians)</li>
    </ul>

      <h3><a href="version-0-9/">Version 0.9 - Scenario 4</a></h3>
      <p>Carer's journey.</p>

      <h3><a href="version-0-8/">Version 0.8 - Scenarios 1 to 3</a></p>
      <p>Unemployed and low income journeys.</p>
      <ul>
          <li class="govuk-list-item"><a href="version-0-8/uc-jsa">Default UC/JSA landing page (short)</a></li>
          <li class="govuk-list-item"><a href="version-0-8/uc-jsa-2">Alternate UC/JSA landing page</a></li>
          <li class="govuk-list-item"><a href="version-0-8/uc-jsa-accordions">Default UC/JSA landing page (accordions)</a></li>
          <li class="govuk-list-item"><a href="version-0-8/uc-jsa-bullets">Default UC/JSA landing page (bullets)</a></li>
        </ul>



      <h3><a href="version-0-7/">Version 0.7 - Checking for multiple needs (additional refinement)</a></h3>
      <p>Working version of checker, with extra question set to refine results rather than going straight into extra questions. Different nav idea to get to checker.</p>

      <h3><a href="version-0-6/">Version 0.6 - Checking for multiple needs (straight through)</a></h3>
      <p>Working version of checker, asks all questions before displaying results.</p>
      <ul>
          <li class="govuk-list-item"><a href="version-0-6/summary-scenarios-more-detail">Content with bulleted list</a></li>
          <li class="govuk-list-item"><a href="version-0-6/summary-scenarios-accordians">Content with accordions</a></li>
        </ul>

      <h3><a href="version-0-5/">Version 0.5 - Checking for multiple needs</a></h3>
      <p>Working version of checker, based on going through for unemployment journey.</p>
      <ul>
          <li class="govuk-list-item"><a href="version-0-5/summary-benefits">Summary benefits</a></li>
          <li class="govuk-list-item"><a href="version-0-5/summary-carers">Summary carers</a></li>
        <li class="govuk-list-item"><a href="version-0-5/summary-scenarios">Summary scenarios</a></li>
        <li class="govuk-list-item"><a href="version-0-5/summary-scenarios-tables">Summary tables</a></li>
      </ul>

      <h3><a href="version-0-4b/">Version 0.4b - New or existing options (Prominent checker)</a></h3>

      <h3><a href="version-0-4/">Version 0.4a - New or existing options (Subtle checker)</a></h3>

      <h3><a href="version-0-3/">Version 0.3 - Reducing the choices for usability</a></h3>

      <h3><a href="version-0-2/">Version 0.2 - Changing the second level to needs based</a></h3>

      <h3><a href="version-0-1/">Version 0.1 - Inital changes to content</a></h3>
      <ul>
        <li class="govuk-list-item"><a href="version-0-1/benefits-new-jsa">New JSA option 1</a></li>
        <li class="govuk-list-item"><a href="version-0-1/benefits-new-jsa-2">New JSA option 2</a></li>
      </ul>

    

    </div>
</div>

{% endblock %}