
{% extends "layout.html" %}

{% block pageTitle %}
What is your date of birth? | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q8-health" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">{{caption}}</span>
            <h1 class="govuk-heading-xl" id="furlough">You might be able to get financial support</h1>
          </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

              <p>You told us that you need:</p>

              <ul class="govuk-list govuk-list--bullet">
                  <li><a href="#uc">support because you're out of work or on a low income</a></li>
                </ul>
                <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    These results do not guarantee your eligibility.
  </strong>
</div>

          <hr>
          <h2 class="govuk-heading-m" id="uc">Support because you're out of work or on a low income</h2>
          <p>Based on your answers, you might be able to get:</p>
          <p><strong>Universal Credit</strong></p>
          <p>Universal Credit is a payment to help with your living costs if you’re on a low income, out of work or cannot work.</p>
          <div class="govuk-inset-text">If you get tax credits, they will stop when you or your partner applies for Universal Credit.</div>
          <a class="govuk-button" href="https://www.gov.uk/universal-credit/how-to-claim">Apply now</a>
          <p><strong>Other potential support if you're out of work or on a low income</strong></p>
          <p>Depending on your situation, you could also apply for the following benefits.</p>
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Housing Benefit
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>A payment to help you with your rent.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Council Tax Reduction
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>Apply to your local council for a discount on your Council Tax bill.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Support for Mortgage Interest
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>Help towards interest payments on your mortgage, if you're a homeowner.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Mortgage Interest Run On
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>Extra money towards your housing costs if certain other benefits are stopping.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Help to Save
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>Help with savings if you're on a low income.</p>
    </div>
  </div>





          <hr>
          <p>You might be able to <a href="/version-0-6/unemployed-support">get other financial support if you're out of work or on a low income</a> as well.</p>
          <hr>
          <h2 class="govuk-heading-m">Options that might not fit your situation</h2>
          <p>There is also financial support available if:</p>

          <ul class="govuk-list govuk-list--bullet">
              <li><a href="/version-0-6/summary-carers">you're caring for another adult</a></li>
              <li><a href="https://www.gov.uk/browse/childcare-parenting/financial-help-children">you're looking after children, or about to</a></li>
              <li><a href="https://www.gov.uk/financial-help-disabled">you're disabled or have a health condition</a></li>
              <li><a href="https://www.gov.uk/when-someone-dies">someone has died</a></li>
            </ul>
          </div>
          </div>





      <div class="govuk-grid-column-one-third">
          <div class="return-me">
          <h2 class="govuk-heading-m return-header">Keep these results</h2>
          <p>Email these results to yourself, or use a reference code to see them.</p>
          <a class="govuk-button" href="send">Continue</a>
          </div>
      </div>

      </div>


{% endblock %}
