
{% extends "layout.html" %}

{% block pageTitle %}
You might be able to get financial support | Check what financial support may be available if Coronavirus (COVID-19) has affected your income
{% endblock %}

{% block content %}

<a href="q7-national-insurance" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    
        <h1 class="govuk-heading-xl">
            Applying for Pension Credit
        </h1>

  </div>
  </div>

  <div class="govuk-grid-row  govuk-!-margin-top-5">
              <div class="govuk-grid-column-two-thirds">  

                    <h2 class="govuk-heading-m" id="uc">Eligibility</h2>
                    <p>You may be able to get Pension Credit if:</p>
                    <ul class="govuk-list govuk-list--bullet">
                            <li>You live in England, Scotland or Wales</li>
                            <li>you have reached <a href="/state-pension-age">State Pension age</a></li>
                            <li>If you are in a couple, both of you will need to have reached State Pension age, or one of you is over State Pension Age and is getting Housing Benefit</li>
                            <li>Your weekly income is below £173.75 (for single people) or £265.20 (for couples)</li>
                          </ul>

                          <h2 class="govuk-heading-m" id="uc">What you need to apply now</h2>
                          <p>You'll need:</p>
                          <ul class="govuk-list govuk-list--bullet">
                                 <li>information about your income, savings and investments</li>
                                 <li>your bank account details, if you’re applying by phone or by post</li>
                                 <li>If you’re backdating your claim, you’ll need details of your income, savings and investments on the date you want your claim to start</li>
                               </ul>

                               <h2 class="govuk-heading-m" id="uc">Apply online</h2>
                               <p>You can use the online service if:</p>
                               <ul class="govuk-list govuk-list--bullet">
                                  <li>you have already claimed your State Pension</li>
                                  <li>there are no children or young people included in your claim</li>
                                </ul>
                              
                               <a class="govuk-button" href="https://apply-for-pension-credit.service.gov.uk/">Apply now</a>

                               <h2 class="govuk-heading-m">If you cannot apply online, or need support</h3>
                                <p><a href="https://www.gov.uk/pension-credit/how-to-claim">Pension Credit - How to claim</a></p>

        
          </div>






     

      </div>


{% endblock %}
