
{% extends "layout.html" %}

{% block pageTitle %}
Financial help if you’re looking for work 
{% endblock %}

{% block main %}

<div class="govuk-width-container {{ containerClasses }}">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="benefits">Benefits</a>
        </li>
        <li class="govuk-breadcrumbs__list-item active">
            Financial help if you’re looking for work
        </li>
      </ol>
    </div>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Financial help if you’re looking for work</h1>
            
            <!--  contents -->
            <p class="govuk-body-s">Contents</p>

    <ul class="govuk-list govuk-list--dashed govuk-body-s">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a href="financial-support-looking-for-work">Regular payments</a>
            </li>
        
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                      <a href="financial-support-looking-for-work-specific-costs">Help with specific living costs</a>
                      </li>
        
                      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                    Help with applying or deciding which benefit is right for you
          
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a href="financial-support-looking-for-work-other-help">Other help if you’re disabled, caring for someone, or looking after a family</a>
                    </li>
                   
                </ul>
            <!--  /contents -->
                
                
                <h2 class="govuk-heading-l govuk-!-margin-top-6 overview-top-border">Help with applying or deciding which benefit is right for you</h2>

            <h3 class="govuk-heading-s govuk-!-margin-top-6">Check what regular payments you could get</h3>
            <p>You can answer some questions to find out whether New Style JSA, Universal Credit or Pension Credit is best for your situation.</p>
            <a class="govuk-button" href="start">Check now</a>


            <h3 class="govuk-heading-s govuk-!-margin-top-6">Benefit calculators</h3>
            <ul class="govuk-list">
              <li><a href="https://www.gov.uk/benefit-cap-calculator">Benefit cap calculator</a></li>
              <li><a href="https://www.gov.uk/child-benefit-tax-calculator">Child Benefit tax calculator</a></li>
              <li><a href="https://www.gov.uk/pension-credit-calculator">Pension Credit Calculator</a></li>
              <li><a href="https://www.gov.uk/tax-credits-calculator">Tax credits calculator</a></li>
              <li><a href="https://www.gov.uk/benefits-calculators">Benefits calculators from independent organisations</a></li>                
            </ul>

            <h3 class="govuk-heading-s govuk-!-margin-top-6">Advice</h3>
            <p>These organisations can help you to find information and advice about work, redundancy, benefits and debt.</p>
            <ul class="govuk-list">
              <li><a href="https://advicelocal.uk/">Advice Local</a></li>
              <li><a href="https://www.citizensadvice.org.uk/">Citizen's Advice</a></li>
              <li><a href="https://www.moneyadviceservice.org.uk/">Money Advice Service</a></li>             
            </ul>


            <h3 class="govuk-heading-s govuk-!-margin-top-6">BSL and alternative formats</h3>
            <p>If you use British Sign Language (BSL), you can use the video relay service. If you need alternative formats, such as braille, large print or audio CD, call the relevant service.</p>
            <p>Find the video relay link and telephone number for:</p>
            <ul class="govuk-list">
                <li><a href="https://www.gov.uk/universal-credit/how-to-claim">Universal Credit</a></li>
                <li><a href="https://www.gov.uk/contact-jobcentre-plus/new-benefit-claims">New Style Job Seeker's Allowance</a></li>
                <li><a href="https://www.gov.uk/pension-credit/how-to-claim">Pension Credit</a></li>             
              </ul>

            <hr>

            

          </div>

          <div class="govuk-grid-column-one-third">
              
              
            </div>
          
      </div>


    </main>

<!--  /govuk-width-container -->
</div>

{% endblock %}
