{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">Guidance</span>
              <h1 class="govuk-heading-xl">Understand what financial support you can get if you're looking for work</h1>
              <p class="govuk-body-l">Use this guide to find out what financial support you might be able to get if you’re out of work, affected by redundancy, or looking for new work.</p>

              <hr>

              <p class="govuk-body-s">
                  Published 1 November 2020<br>
                  Last updated 20 November 2020 — <a href="">see all updates</a><br>
                  From: <a href="">Department for Work and Pensions </a>                 
              </p>

             
              <h2 class="govuk-heading-m">Check what financial support you could get</h2>


              <p>If you’re out of work, affected by redundancy, or looking for new work, you might be able to get financial support. The right support for you depends on your circumstances.</p>

              <a href="start" class="govuk-button">Check now</a>

              <hr>
              <p class="govuk-body-s">
                  Published 1 November 2020<br>
                  Last updated 20 November 2020 — <a href="">see all updates</a>         
              </p>

              
              <hr>
              <h3 class="govuk-heading-s">Explore the topic</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="">How benefits work</a></li>
              </ul>
            </div>

            <div class="govuk-grid-column-one-third">

              <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

            </div>
          </div>
        </main>

  </div>



{% endblock %}
