{% extends "/ur-r5/_layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "You’ve created your GOV.UK One Login" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{ title }}
            </h1>

            <p class="govuk-body">
                Now continue to use the service.
            </p>

            {{ govukButton({
                text: "Continue",
                href: "/ur-r5/dth/transition2"
            }) }}

    </div>

{% endblock %}
