{% extends "/ur-r5/_layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set title =  "Check your phone" %}

{% set insetTextHtml %}
    <p class="govuk-body">
        We have sent a code to your phone number ending with
        <strong class="govuk-!-font-weight-bold">
            {% if data['phoneNumber'] %}
                {{ lastCharacters(data['phoneNumber'], 4) }}
            {% else %}
                0012
            {% endif %}
        </strong>
    </p>
{% endset %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{title}}</h1>

        {{ govukInsetText({
            html: insetTextHtml | safe
        }) }}

        <p class="govuk-body">
            It might take a few minutes to arrive. The code will expire after 15 minutes.
        </p>

        <form action="account-created" method="post" novalidate>

            {{ govukInput({
            label: {
                text: "Enter the 6 digit security code",
                isPageHeading: false
            },
            id: "phone-otp",
            name: "phoneOtp",
            classes: "govuk-input--width-10",
            type: "text",
            spellcheck: "false",
            autocomplete: "one-time-code",
            inputmode: "numeric"
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>
{% endblock %}
