{% extends "/ur-r5/_layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "Choose how to get security codes" %}

{% set detailsTextHtml %}
    <p class="govuk-body">
        An authenticator app creates a security code that helps confirm it’s you when you sign in.
    </p>

    <p class="govuk-body">
        You can use an authenticator app on your smartphone, tablet or desktop computer. Download an authenticator app for your smartphone or tablet from your app store or search online for an authenticator app for your computer.
    </p>
{% endset %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="enter-your-mobile-phone-number" method="post" novalidate>

            {{ govukRadios({
                name: "chooseHowToGetSecurityCodes",
                fieldset: {
                    legend: {
                    text: "Choose how to get security codes",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: "To finish creating your GOV.UK One Login, choose a way to prove it’s you when you sign in."
                },
                items: [
                    {
                        value: "textMessage",
                        text: "Text message"
                    },
                    {
                        value: "authenticatorApp",
                        text: "Authenticator app for smartphone, tablet or computer"
                    }
                ]
                }) }}

            {{ govukDetails({
                summaryText: "What is an authenticator app?",
                html: detailsTextHtml | safe
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>
{% endblock %}