{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'false' %}

{% set title =  "You are about to begin the second task. Please wait on this page until the interviewer asks you to proceed." %}

{% block header %}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                {{ title }}
            </h1>

            <p><a class="govuk-link" href="/ur-r5/access/access-to-work-start">Continue</a></p>

    </div>

{% endblock %}

{% block footer %}

{% endblock %}
