{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'false' %}

{% set title =  "Thank you for completing this task" %}

{% block header %}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                {{ title }}
            </h1>

            <p><a class="govuk-link" href="/ur-r5/gds/notification-account-created-email">Continue</a></p>

    </div>

{% endblock %}

{% block footer %}

{% endblock %}
