{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a real service – it is just for user research.'
  }) }}
{% endblock %}
{% set detailsTextHtml %}


    <p class="govuk-body">
        GOV.UK One Login is new. At the moment you can only use it to access some government services.
    </p>

    <p class="govuk-body">
        It does not work with all government accounts or services yet (for example Government Gateway or Universal Credit).
    </p>

    <p class="govuk-body">
        In the future, you’ll be able to use GOV.UK One Login to access all services on GOV.UK.
    </p>
{% endset %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Create your GOV.UK One Login or sign in
            </h1>

            <p class="govuk-body">
                You can use your GOV.UK One Login to access some government services.
            </p>

            <p class="govuk-body">
                In the future, you'll be able to use it to access all services on GOV.UK.
            </p>

            <p class="govuk-body">
                You’ll need:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>an email address</li>
                <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
            </ul>

            <div class="govuk-inset-text">
                You can also <a class="govuk-link" href="">use GOV.UK One Login in Welsh (Cymraeg)</a>. 
            </div>

            {{ govukButton({
                text: "Create a GOV.UK One Login",
                href: "/ur-r5/gds/email-address"
            }) }}

            <div>
                {{ govukButton({
                    text: "Sign in",
                    classes: "govuk-button--secondary",
                    href: "/ur-r5/gds/returning/return-email-address"
                }) }}
            </div>

            <p class="govuk-body"><a class="govuk-link" href="">
                Services you can use with GOV.UK One Login (opens in a new tab)</a>
            </p>

    </div>

{% endblock %}
